.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-1);
}

.container video {
    width: 200px;
    height: 200px;
}
