.aside {
    position: relative;
    min-width: 340px;
    overflow: hidden scroll;
    padding-right: 0px;
    height: 100%;
    background-color: var(--background-2);
}

.aside::-webkit-scrollbar {
    width: 0px;
}

.asideHeader {
    min-width: 340px;
    min-height: 120px;
}

.asideHeader > div {
    position: absolute;
    top: 65px;
    left: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid var(--background-2);
    background-color: var(--background-2);
    box-sizing: content-box;
}

.asideContent {
    padding: 0 12px 12px;
    margin: 16px;
    margin-top: 52px;
    min-width: 308px;
    position: relative;
    background-color: var(--background-dark);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.asideContent > div {
    margin-top: 12px;
}

.asideContent h2 {
    font-weight: 700;
    color: var(--foreground-1);
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    white-space: nowrap;
    overflow: hidden;
}

.asideContent .username {
    user-select: text;
    white-space: pre-wrap;
    overflow: hidden;
    word-break: break-all;
    line-height: 24px;
    font-size: 20px;
    font-weight: 600;
    color: var(--foreground-1);
}

.contentUserDate {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.contentUserDate > div {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--foreground-3);
}

.note {
    display: flex;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
}

.note > textarea {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: var(--foreground-3);
    font-size: 12px;
    line-height: 14px;
    padding: 4px;
    padding-right: 0;
    resize: none;
    width: 100%;
    max-height: 100%;
    font-weight: 500;
    overflow: hidden scroll;
}

.note > textarea:focus {
    background-color: var(--background-1);
    outline: none;
}

.note > textarea:focus::placeholder {
    color: transparent;
}

.note > textarea::-webkit-scrollbar {
    width: 8px;
}

.note > textarea::-webkit-scrollbar-track {
    border: 2px var(--background-dark) solid;
    background-color: var(--background-dark);
}

.note > textarea::-webkit-scrollbar-thumb {
    border: 2px var(--background-dark) solid;
    border-color: transparent;
    background-color: var(--background-5);
}

.note > textarea:focus::-webkit-scrollbar-track {
    border: 2px var(--background-1) solid;
    background-color: var(--background-1);
}

.asideDivider {
    height: 1px;
    background-color: var(--border-light);
}

.customStatus {
    line-height: 18px;
    margin-top: 12px;
    user-select: text;
    color: var(--foreground-3);
    font-size: 14px;
    font-weight: 400;
}

.memberList {
    width: 240px;
    position: relative;
    display: flex;
    background-color: var(--background-3);
}

.memberList > div {
    overflow: hidden scroll;
    padding-right: 0px;
    width: 240px;
    padding: 0 0 20px;
    flex: 0 0 auto;
    height: auto;
    position: relative;
    list-style: none;
}

.memberList > div::-webkit-scrollbar {
    width: 8px;
}

.memberList > div::-webkit-scrollbar-track {
    border: 2px var(--background-3) solid;
    background-color: transparent;
}

.memberList > div::-webkit-scrollbar-thumb {
    border: 2px var(--background-3) solid;
    background-color: transparent;
}

.memberList > div:hover::-webkit-scrollbar-thumb {
    background-color: var(--background-1);
}

.memberList > div > h2 {
    padding: 24px 8px 0 16px;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02rem;
    color: var(--foreground-4);
    font-weight: 600;
}
