.liContainer {
    display: flex;
    position: relative;
    max-width: 224px;
    margin: 0 0 2px 8px;
    border-radius: 4px;
    color: var(--foreground-4);
    user-select: none;
}

.liContainer:hover {
    background-color: var(--background-4);
    color: var(--foreground-2);
    opacity: 1 !important;
}

.liContainer:active {
    background-color: var(--background-5);
    color: var(--foreground-1);
}

.liWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;
}

.link {
    display: flex;
    min-width: 0;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    cursor: pointer;
}

.layout {
    display: flex;
    align-items: center;
    min-width: 0;
    height: 42px;
    padding: 0 8px;
    border-radius: 4px;
}

.layoutAvatar {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    align-items: center;
    position: relative;
}

.layoutAvatar > div {
    width: 32px;
    height: 32px;
}

.layoutContent {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    flex: 1 1 auto;
}

.contentName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nameWrapper {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentStatus {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}
