.buttonContainer {
    position: absolute;
    top: 0;
    right: 0;
}

.buttonWrapper {
    pointer-events: auto;
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 0 14px 0 32px;
}

.buttons {
    background-color: var(--background-4);
    display: grid;
    grid-auto-flow: column;
    height: 32px;
    border-radius: 4px;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    position: relative;
    box-shadow: var(--elevation-low);
    transition: box-shadow 0.2s ease-in-out;
}

.buttons:hover {
    box-shadow: var(--elevation-low), var(--elevation-medium);
}

.buttons > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 4px;
    width: 32px;
    cursor: pointer;
    position: relative;
    color: var(--foreground-2);
}

.buttons > div:active > svg {
    transform: translateY(0.5px);
}

.buttons > div:first-child {
    border-radius: 4px 0 0 4px;
}

.buttons > div:last-child {
    border-radius: 0 4px 4px 0;
}

.buttons > div:hover {
    background-color: var(--background-hover-1);
}

.buttons > div > svg {
    width: 20px;
    height: 20px;
    display: block;
    object-fit: contain;
    pointer-events: none;
}
