.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

.searchBar {
    margin: 16px 20px 8px 30px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    background-color: var(--background-1);
    flex: none;
}

.searchBar > div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    align-items: center;
    flex: 1 1 auto;
}

.searchBar > div > input {
    line-height: 32px;
    height: 30px;
    padding: 0 8px;
    background: transparent;
    border: none;
    resize: none;
    flex: 1;
    min-width: 48px;
    margin: 1px;
    outline: none;
    color: var(--foreground-2);
}

.searchBar > div > input::placeholder {
    color: var(--foreground-4);
}

.inputButton {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground-3);
}

.title {
    display: block;
    margin: 16px 20px 8px 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02rem;
    font-weight: 600;
    color: var(--foreground-3);
    user-select: none;
    box-sizing: border-box;
    flex: none;
    position: relative;
}

.listContainer {
    overflow: hidden scroll;
    padding-right: 0px;
    padding-bottom: 8px;
    margin-top: 8px;
    position: relative;
    box-sizing: border-box;
    flex: 1 1 auto;
    min-height: 0;
}

.noData {
    flex: 1 1 auto;
    max-width: 440px;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
    user-select: none;
}

.noData > img {
    margin-bottom: 40px;
}

.noData > div {
    flex: 0 1 auto;
    line-height: 20px;
    text-align: center;
    font-weight: 500;
    color: var(--foreground-5);
    margin-top: 8px;
}
