.nav {
    width: 240px;
    min-height: 0;
    display: flex;
    flex: 0 0 auto;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--bg-2);
    border-right: 1px solid transparent;
}

.privateChannels {
    flex: 1;
    display: flex;
    overflow: hidden;
    user-select: none;
    position: relative;
    flex-direction: column;
}

.searchContainer {
    z-index: 2;
    height: 48px;
    display: flex;
    flex: 0 0 auto;
    padding: 0 10px;
    position: relative;
    align-items: center;
    border-bottom: 1px solid #252525;
}

.searchContainer > button {
    width: 100%;
    height: 28px;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    text-align: left;
    padding: 1px 6px;
    line-height: 24px;
    border-radius: 4px;
    color: var(--fg-4);
    white-space: nowrap;
    justify-content: start;
    text-overflow: ellipsis;
    background-color: var(--bg-1);
}

.scroller {
    min-height: 0;
    flex: 1 1 auto;
    position: relative;
    padding-bottom: 8px;
    overflow: hidden scroll !important;
}

@-moz-document url-prefix() {
    .scroller {
        padding-right: 8px;
        scrollbar-width: thin;
    }
}

div.scroller::-webkit-scrollbar {
    width: 8px;
}

div.scroller::-webkit-scrollbar-track {
    border: 1px var(--bg-2) solid;
    background-color: transparent;
}

div.scroller::-webkit-scrollbar-thumb {
    border: 2px var(--bg-2) solid;
    background-color: transparent;
}

div.scroller:hover::-webkit-scrollbar-thumb {
    background-color: var(--bg-0);
}

.channelList {
    position: relative;
    list-style: none;
}

.channelList > div:first-child {
    height: 8px;
}

.channelList > img {
    padding: 16px;
    box-sizing: content-box;
}

.title {
    display: flex;
    padding: 18px 8px 4px 18px;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02rem;
    font-weight: 600;
}

.title > span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--fg-4);
}

.title:hover span,
.title:focus-visible span {
    color: var(--fg-2);
}

.title > button {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin: 0 8px;
    margin-left: 0;
    margin-right: 2px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
}

.title svg {
    display: block;
    color: var(--fg-3);
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.title svg:hover,
.title svg:focus-visible {
    color: var(--fg-1);
}

/* ChannelItem */

.liContainer {
    display: flex;
    max-width: 224px;
    position: relative;
    border-radius: 4px;
    margin: 0 0 2px 8px;
    text-decoration: none;
    color: var(--fg-4);
}

.liContainer:hover,
.liContainer:focus-visible,
.liContainer:focus-within {
    color: var(--fg-2) !important;
    background-color: var(--bg-4) !important;
}

.liContainer:hover .closeButton,
.liContainer:focus-visible .closeButton,
.liContainer:focus-within .closeButton {
    display: block;
}

.liContainer:active,
.liContainer[data-state="open"] {
    color: var(--fg-1);
    background-color: var(--bg-5);
}

.liWrapper {
    width: 100%;
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.link,
.linkFriends {
    min-width: 0;
    display: flex;
    flex: 1 1 auto;
    cursor: pointer;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.linkFriends {
    padding-right: 8px;
}

.layout,
.layoutFriends {
    min-width: 0;
    height: 42px;
    display: flex;
    padding: 0 8px;
    border-radius: 4px;
    align-items: center;
}

.layoutFriends {
    flex-grow: 1;
}

.layoutAvatar {
    width: 32px;
    height: 32px;
    display: flex;
    flex: 0 0 auto;
    margin-right: 12px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.layoutAvatar > div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
}

.layoutAvatar img {
    border-radius: 50%;
}

.layoutContent {
    min-width: 0;
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contentName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nameWrapper {
    flex: 0 1 auto;
    font-size: 16px;
    overflow: hidden;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contentStatus {
    font-size: 12px;
    overflow: hidden;
    font-weight: 500;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.closeButton {
    width: 16px;
    height: 16px;
    display: none;
    border-radius: 2px;
    outline-offset: 3px;
    box-sizing: content-box;
    margin: 2px 10px 2px 2px;
    color: var(--fg-4);
    background-color: transparent;
}

.closeButton:hover,
.closeButton:focus-visible {
    cursor: pointer;
    color: var(--fg-2);
}

.friendsPending {
    background-color: var(--danger-0);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    min-height: 16px;
    min-width: 16px;
    margin-right: 2px;
    color: var(--fg-1);
    text-align: center;
    flex: 0 0 auto;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

@media (max-width: 562px) {
    .nav {
        width: calc(var(--dvw) - 72px);
    }

    .liContainer {
        max-width: 100%;
        border-radius: 10px;
        border: 1px solid transparent;
    }

    .liContainer:hover {
        border: 1px solid var(--border-0);
        background-color: var(--bg-5) !important;
    }

    .layout,
    .layoutFriends {
        height: 48px;
    }
}
