.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: hsla(0, 0%, 0%, 0.85);
    border-radius: 8px;
}

.cardContainer {
    padding: 4px;
    width: 608px;
    position: relative;
    background: linear-gradient(var(--card-primary-color), var(--card-primary-color) 90px, var(--card-accent-color));
    border-radius: 8px;
}

.cardContainer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
    max-height: calc(100vh - 80px);
}

.cardContainer > div::before {
    content: '';
    border-radius: 4px;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    pointer-events: none;
    position: absolute;
    background-color: var(--card-overlay-color);
}

.cardBanner {
    min-width: 340px;
    z-index: 0;
    contain: paint;
    overflow: hidden;
}

.cardBanner foreignObject > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
}

.cardBannerBackground {
    position: inherit;
    border-radius: 3px 3px 0 0;
    width: 100%;
    display: inline-block;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.cardAvatar {
    position: absolute;
    left: 26px;
    z-index: 1;
}

.avatarImage {
    width: 120px;
    height: 120px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
}

.cardAvatarStatus {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: 80px;
    left: 80px;
    background-color: var(--card-border-color);
}

.cardAvatarStatus > div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.45;
}

.cardAvatarStatus > svg {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 24px;
    height: 24px;
}

.cardBadges {
    position: relative;
    top: 12px;
    right: 16px;
    width: fit-content;
    align-self: flex-end;
    border-radius: 8px;
    max-width: 190px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    min-height: 30px;
    height: 60px;
    width: 102px;
    background-color: var(--card-background-color);
}

.cardBody {
    padding: 0 12px;
    margin: 28px 16px 16px;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 0 1 385px;
    background-color: var(--card-background-color);
}

.cardBody > .scrollContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;
}

.cardBody > .scrollContainer.margin {
    margin: 0 -4px;
}

.cardBody > .scrollContainer::-webkit-scrollbar {
    width: 0;
}

.cardSection {
    padding-top: 12px;
}

.cardBody > .cardSection:last-child {
    padding-bottom: 12px;
}

.cardSection.name > h4 {
    word-break: break-word;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    user-select: text;
    cursor: auto;
    color: var(--foreground-1);
}

.cardSection.name > div {
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    color: var(--foreground-1);
}

.cardSection:not(.name) > h4 {
    display: flex;
    font-weight: 700;
    margin-bottom: 6px;
    color: var(--foreground-1);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.cardSection:not(.name) > div {
    line-height: 1.375rem;
    white-space: break-spaces;
    word-wrap: break-word;
    user-select: text;
    display: -webkit-box;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    color: var(--foreground-2);
}

.cardDivider {
    margin-top: 12px;
    height: 1px;
    position: sticky;
    top: 0;
    background-color: var(--card-divider-color);
}

.cardSectionLarge > h4 {
    font-weight: 700;
    color: var(--foreground-1);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.cardSectionLarge > div {
    display: flex;
    align-items: center;
    margin-top: 8px;
    user-select: none;
}

.cardSectionLarge > div > div:first-child {
    display: flex;
    align-items: center;
    height: 64px;
    width: 64px;
    flex: 0 0 auto;
    justify-content: center;
    border-radius: 8px;
    margin-right: 16px;
    background-color: var(--accent-3);
}

.cardTime {
    flex: 1 1 auto;
    user-select: none;
    pointer-events: none;
}

.cardTime > div:first-child {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: var(--foreground-2);
}

.cardTime > div:last-child {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--foreground-2);
}

.cardTime > div:last-child > span {
    font-family: var(--font-code);
}

.cardSectionLarge > button {
    width: 100%;
    margin-top: 12px;
    background-color: var(--card-button-color);
    transition: opacity 0.2s ease-in-out;
}

.cardSectionLarge > button:hover {
    opacity: 0.8;
}

.cardSectionLarge > button:active {
    opacity: 0.7;
}

.cardInput {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: var(--foreground-2);
    font-size: 12px;
    line-height: 14px;
    max-height: 92px;
    padding: 4px;
    resize: none;
    width: 100%;
    outline: none;
}

.cardInput::placeholder {
    color: var(--foreground-3);
}

.cardInput:focus {
    background-color: var(--card-note-background);
}

.cardInput::-webkit-scrollbar {
    width: 8px;
}

.cardInput::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-color: var(--card-accent-color);
}

.cardInput::-webkit-scrollbar-track {
    border: 1px solid transparent;
    background-color: transparent;
}

.cardMessage {
    background-color: transparent;
    font-size: 14px;
    padding: 10px;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    color: var(--foreground-2);
    border: none;
    outline: none;
    border: 1px solid transparent;
}

.editProfileButton {
    position: absolute;
    top: 14px;
    right: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--background-hover-dark-1);
    transition: background-color 0.2s ease;
    color: var(--foreground-2);
    z-index: 2;
}

.editProfileButton:hover {
    background-color: var(--background-hover-dark-2);
}

.contentNav {
    margin-top: 20px;
    margin-bottom: 4px;
}

.contentNav > div {
    display: flex;
    gap: 40px;
    align-items: stretch;
    border-bottom: thin solid var(--border-light);
}

.contentNavItem {
    border-bottom: 2px solid transparent;
    display: inline;
    height: 40px;
    font-size: 14px;
    position: relative;
    line-height: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    user-select: none;
}

.contentNavItem:hover {
    color: var(--foreground-1) !important;
    border-color: var(--foreground-1) !important;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px 0;
}

.empty > div:first-child {
    background-image: url('/assets/no-servers.svg');
    width: 240px;
    height: 130px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.empty.noFriends > div:first-child {
    background-image: url('/assets/no-friends.svg');
}

.empty > div:last-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
    text-transform: uppercase;
    color: var(--foreground-3);
    user-select: none;
}

.userItem {
    display: flex;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
    line-height: 30px;
    padding: 4px;
    color: var(--foreground-2);
    border-radius: 4px;
    margin: 1px 0;
    user-select: none;
}

.userItem:hover {
    background-color: var(--card-background-color);
}

.userItem > div:first-child {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
}

.userItem > div:first-child > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
