.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: hsla(0, 0%, 0%, 0.85);
}

.cardContainer {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 600px;
    height: fit-content;
    max-height: calc(100% - 32px);
    min-height: 200px;
    background-color: var(--background-2);
    display: flex;
    flex-direction: column;
}

.topSection {
    margin-bottom: 60px;
    min-width: 600px;
    min-height: 105px;
    position: relative;
}

.topSection > .avatar {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 7px solid var(--background-2);
    background-color: var(--background-3);
    box-sizing: content-box;
    user-select: none;
}

.editProfileButton {
    position: absolute;
    top: 14px;
    right: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--background-hover-dark-1);
    transition: background-color 0.2s ease;
    color: var(--foreground-2);
}

.editProfileButton:hover {
    background-color: var(--background-hover-dark-2);
}

.contentSection {
    margin: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--background-dark);
    overflow: hidden;
    height: 385px;
}

.contentHeader {
    padding: 12px 12px 0;
}

.username {
    user-select: text;
    white-space: normal;
    word-break: break-all;
    line-height: 24px;
    font-size: 20px;
    font-weight: 600;
    color: var(--foreground-1);
}

.customStatus {
    line-height: 18px;
    margin-top: 12px;
    user-select: text;
    color: var(--foreground-3);
    font-size: 14px;
    font-weight: 400;
}

.contentNav {
    margin: 20px 12px 0;
}

.contentNav > div {
    display: flex;
    gap: 40px;
    align-items: stretch;
    border-bottom: thin solid var(--border-light);
}

.contentNavItem {
    border-bottom: 2px solid transparent;
    display: inline;
    height: 40px;
    font-size: 14px;
    position: relative;
    line-height: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    user-select: none;
}

.contentNavItem:hover {
    color: var(--foreground-1) !important;
    border-color: var(--foreground-1) !important;
}

.contentUser {
    position: relative;
    flex: 1 1 auto;
    overflow: hidden scroll;
    padding: 12px 8px 12px 0;
    height: 100%;
}

.contentUser h1 {
    user-select: none;
}

.contentUser::-webkit-scrollbar {
    width: 8px;
}

.contentUser::-webkit-scrollbar-track {
    border: 2px var(--background-dark) solid;
    background-color: var(--background-dark);
}

.contentUser::-webkit-scrollbar-thumb {
    border: 2px var(--background-dark) solid;
    border-color: transparent;
    background-color: var(--background-3);
}

.contentUser > div:not(.contentUserFriend) {
    padding: 16px 0;
}

.contentUser > div > h1 {
    font-weight: 700;
    color: var(--foreground-1);
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.contentUserDescription {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
    white-space: break-spaces;
    word-wrap: break-word;
    user-select: text;
    color: var(--foreground-3);
}

.contentUserDate {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.contentUserDate > div {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--foreground-3);
}

.contentNote {
    display: flex;
    width: 100%;
    height: 46px;
    box-sizing: border-box;
}

.contentNote > textarea {
    background-color: transparent;
    border-radius: 3px;
    color: var(--foreground-3);
    border: 1px solid var(--border-light);
    font-size: 14px;
    line-height: 18px;
    padding: 4px;
    padding-right: 0;
    resize: none;
    width: 100%;
    max-height: 100%;
    font-weight: 500;
    overflow: hidden scroll;
}

.contentNote > textarea::placeholder {
    user-select: none;
}

.contentNote > textarea::-webkit-scrollbar {
    width: 8px;
}

.contentNote > textarea::-webkit-scrollbar-track {
    border: 2px var(--background-dark) solid;
    background-color: var(--background-dark);
}

.contentNote > textarea::-webkit-scrollbar-thumb {
    border: 2px var(--background-dark) solid;
    background-color: var(--background-3);
}

.contentNote > textarea:focus {
    outline: none;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    padding: 20px 0;
}

.empty > div:first-child {
    background-image: url('/assets/no-servers.svg');
    width: 240px;
    height: 130px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.empty.noFriends > div:first-child {
    background-image: url('/assets/no-friends.svg');
}

.empty > div:last-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 12px;
    text-transform: uppercase;
    color: var(--foreground-3);
    user-select: none;
}

.topSectionToolbar {
    position: absolute;
    top: 121px;
    right: 16px;
    left: 160px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.topSectionToolbar > div:first-child {
    padding: 2px 4px;
    border-radius: 8px;
    margin-right: 16px;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;
    min-height: 22px;
}

.topSectionToolbar > div:last-child {
    display: flex;
    align-items: center;
}

.topSectionToolbar > div:last-child button:nth-child(2) {
    margin-left: 8px;
}

.topSectionToolbar .moreButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;
    padding: 4px;
    color: var(--foreground-3);
}

.topSectionToolbar .moreButton:hover {
    color: var(--foreground-2);
}

.topSectionToolbar .moreButton:active {
    color: var(--foreground-1);
}

.contentUserFriend {
    display: flex;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
    line-height: 30px;
    padding: 4px;
    color: var(--foreground-2);
    border-radius: 4px;
    margin: 1px -8px 1px 8px;
    user-select: none;
}

.contentUserFriend:hover {
    background-color: var(--background-3);
}

.contentUserFriend > div:first-child {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
}

.contentUserFriend > div:first-child > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
