.container {
    opacity: 1;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 24px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border: 1px solid var(--foreground-5);
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
}

.box > svg {
    fill: var(--foreground-1);
}

.container > svg {
    display: block;
    position: absolute;
    width: 28px;
    height: 18px;
    margin: 3px;
    transition: left 0.2s ease-in-out;
}

.container > input,
.box > input {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 14px;
    cursor: pointer;
    z-index: -1;
}
