.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100%);
    overflow-x: visible;
}

.content {
    background-color: var(--background-tertiary);
    height: calc(100% - 50px);
    padding: 0 0.25rem;
    overflow-x: visible;
}

.messages {
    display: flex;
    flex-direction: column;
    height: calc(100% - 90px);
    width: 100%;
    padding-bottom: 1rem;
    list-style: none;
    overflow-y: auto;
    overflow-x: visible;
}

.messages li {
    height: fit-content;
    overflow-x: visible;
}

.messages li:hover {
    background-color: #1a1d244d;
}

.messageInput {
    position: fixed;
    bottom: 0;
    width: calc(100% - 315px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 0 20px 0 16px;
}

.messageInput input {
    width: 100%;
    height: 50px;
    background-color: var(--background-secondary);
    border: 0;
    border-radius: 0.5rem;
    padding: 0 56px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.messageInput input:focus {
    outline: none;
}

.messageInput button {
    background-color: transparent;
    border: 0;
    background-color: var(--background-primary);
    cursor: pointer;
    height: 50px;
    padding: 0 1.5rem;
    border-radius: 0 5px 5px 0;
}

.typingIndicator {
    width: 100%;
    height: 20px;
    border-radius: 10px 10px 0 0;
    background-color: transparent;
}

.lettersCount {
    width: 100%;
    height: 20px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--foreground-secondary);
}
