.usercard {
    width: 340px;
    height: 100%;
    display: flex;
    min-width: 340px;
    position: relative;
    flex-direction: column;
    background: oklab(0.260916 0.000628404 -0.0075541);
}

.usercard > div {
    flex: 1;
    width: 100%;
    display: flex;
    padding-right: 0px;
    flex-direction: column;
    overflow: hidden scroll;
}

.usercard > div::-webkit-scrollbar {
    width: 0;
}

.usercard > div > header {
    height: 160px;
    margin-bottom: 8px;
    position: relative;
}

.usercard > div > header > .spacer {
    height: 48px;
}

.banner {
    z-index: 0;
    contain: paint;
    overflow: hidden;
    min-width: 340px;
    min-height: 120px;
}

.banner foreignObject > div {
    display: flex;
    font-size: 12px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.banner .background {
    width: 100%;
    height: 120px;
    position: inherit;
    display: inline-block;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.avatar {
    top: 72px;
    left: 18px;
    z-index: 1;
    position: absolute;
}

.avatar img {
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
}

.avatar .overlay {
    width: 100%;
    height: 100%;
    display: grid;
    border-radius: 50%;
}

.avatar .overlay::after {
    top: -1;
    right: -1;
    opacity: 0;
    z-index: 0;
    content: "";
    width: 102%;
    height: 102%;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    background-color: #11111b;
}

.overlay:hover::after {
    opacity: 0.4;
}

.topTools {
    gap: 8px;
    top: 12px;
    right: 12px;
    display: flex;
    position: absolute;
}

.topTools > button {
    width: 32px;
    height: 32px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--foreground-2);
    transition: background-color 0.2s ease;
    background-color: var(--background-hover-dark-1);
}

.topTools > button:hover,
.topTools > button:focus-visible {
    background-color: var(--background-hover-dark-2);
}

.topTools > button:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: var(--background-hover-dark-1);
}

.usercard .body {
    gap: 12px;
    display: flex;
    margin: 0 16px;
    flex-direction: column;
}

.usercard .heading > h2 {
    cursor: pointer;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    max-height: 72px;
    overflow: hidden;
    user-select: text;
    width: fit-content;
    word-break: break-word;
    color: var(--foreground-1);
}

.usercard .heading > p {
    cursor: pointer;
    font-weight: 500;
    width: fit-content;
    text-overflow: clip;
    word-break: break-all;
    color: var(--foreground-1);
}

.usercard .heading > *:hover,
.usercard .heading > *:focus-visible {
    text-decoration: underline;
}

.usercard .panel {
    gap: 12px;
    padding: 12px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    background-color: color-mix(in oklab, hsl(228, 6%, 32.6%, 0.3) 100%, hsl(0, 0%, 0%, 0.3) 0%);
}

.usercard .panel > section {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.usercard .panel h3 {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: var(--foreground-1);
}

.usercard .panel p {
    font-size: 14px;
    line-height: 18px;
    color: var(--foreground-2);
}

.usercard .mutuals {
    display: flex;
    margin: 12px 16px;
    border-radius: 8px;
    flex-direction: column;
    background-color: color-mix(in oklab, hsl(228, 6%, 32.6%, 0.3) 100%, hsl(0, 0%, 0%, 0.3) 0%);
}

.usercard .mutuals > section {
    gap: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.usercard .mutuals .button {
    width: 100%;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    user-select: none;
    align-items: center;
    color: var(--foreground-2);
    background-color: transparent;
    justify-content: space-between;
}

.usercard .mutuals .button > svg {
    color: var(--foreground-3);
}

.usercard .mutuals > hr {
    height: 1px;
    margin: 0 12px;
    background-color: var(--border-light);
}

.cardInput {
    width: 100%;
    border: none;
    resize: none;
    padding: 4px;
    outline: none;
    font-size: 12px;
    max-height: 92px;
    line-height: 14px;
    border-radius: 3px;
    color: var(--foreground-2);
    background-color: transparent;
}

.cardInput::placeholder {
    user-select: none;
    color: var(--foreground-3);
}

.cardInput:focus {
    background-color: color-mix(in oklab, hsl(228, 6%, 32.6%, 0.3) 100%, hsl(0, 0%, 0%, 0.3) 0%);
}

textarea.cardInput::-webkit-scrollbar {
    width: 6px;
}

textarea.cardInput::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    background-color: var(--background-1);
}

textarea.cardInput::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-color: transparent;
}

.usercard > button {
    height: 44px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
    color: var(--foreground-3);
    transition: color 0.1s ease;
    background-color: transparent;
    border-top: 1px solid var(--border-light);
}

.usercard > button:hover,
.usercard > button:focus-visible {
    color: var(--foreground-1);
}

.mutualItems {
    margin-left: -8px;
}

.mutualItem {
    padding: 4px;
    display: flex;
    cursor: pointer;
    font-weight: 500;
    line-height: 30px;
    user-select: none;
    border-radius: 4px;
    align-items: center;
    margin: 1px 0px 1px 8px;
    color: var(--foreground-3);
}

.mutualItem:hover,
.mutualItem:focus-visible,
.mutualItem[data-state="open"] {
    background-color: color-mix(in oklab, hsl(228, 6%, 32.6%, 0.3) 100%, hsl(0, 0%, 0%, 0.3) 0%);
}

.mutualItem > div:first-child {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 50%;
}

.mutualItem > div:last-child {
    font-size: 16px;
    overflow: hidden;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.guildIcon {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 33%;
    align-items: center;
    justify-content: center;
    color: var(--foreground-1);
    background-color: var(--accent-1);
}

/* GROUP */

.memberList {
    width: 240px;
    display: flex;
    position: relative;
    background-color: var(--background-3);
}

.memberList > div {
    width: 240px;
    height: auto;
    flex: 0 0 auto;
    list-style: none;
    padding: 0 0 20px;
    padding-right: 0px;
    position: relative;
    overflow: hidden scroll;
}

.memberList > div::-webkit-scrollbar {
    width: 8px;
}

.memberList > div::-webkit-scrollbar-track {
    background-color: transparent;
    border: 2px var(--background-3) solid;
}

.memberList > div::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px var(--background-3) solid;
}

.memberList > div:hover::-webkit-scrollbar-thumb {
    background-color: var(--background-1);
}

.memberList > div > h2 {
    height: 40px;
    font-size: 12px;
    overflow: hidden;
    font-weight: 600;
    line-height: 16px;
    white-space: nowrap;
    letter-spacing: 0.02rem;
    text-overflow: ellipsis;
    padding: 24px 8px 0 16px;
    text-transform: uppercase;
    color: var(--foreground-4);
}

@media screen and (max-width: 1200px) {
    .aside {
        display: none;
    }

    .memberList {
        display: none;
    }
}
