.popover {
    z-index: 100;
    max-width: 100%;
    outline: none !important;
}

@media (max-width: 562px) {
    .popover:has([data-full-on-mobile="true"]) {
        transform: none !important;
    }
}
