.fileItem {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    border-radius: 4px;
    padding: 8px;
    width: 200px;
    height: 200px;
    aspect-ratio: 1;
    background-color: var(--background-2);
}

.fileMenu {
    position: absolute;
    top: -5px;
    right: -15px;
}

.fileMenu > div {
    display: grid;
    grid-auto-flow: column;
    height: 32px;
    border-radius: 4px;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    position: relative;
    overflow: hidden;
    box-shadow: var(--elevation-low);
    background-color: var(--background-3);
    transition: box-shadow 0.15s ease-in-out;
}

.fileMenu > div:hover {
    box-shadow: var(--elevation-low), var(--elevation-medium);
}

.fileMenu > div > div {
    position: relative;
}

.fileMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    padding: 4px;
    flex: 0 0 auto;
    cursor: pointer;
    position: relative;
}

.fileMenuButton:active svg {
    transform: translateY(1px);
}

.fileMenuButton:hover {
    background-color: var(--background-4);
}

.fileMenuButton:not(.danger):hover path {
    fill: var(--foreground-2);
}

.fileMenuButton:active {
    background-color: var(--background-5);
}

.fileItemContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
}

.fileItemContainer > .image {
    margin-top: auto;
    position: relative;
    min-height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fileItemContainer > .image > img {
    border-radius: 3px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    user-select: none;
}

.fileItemContainer > .fileName {
    margin-top: auto;
}

.fileItemContainer > .fileName > div {
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--foreground-2);
    user-select: none;
}
