.header {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 0;
    width: 100%;
    flex: 0 0 auto;
    height: 48px;
    padding: 0 8px;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    z-index: 2;
    user-select: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0 rgba(0, 0, 0, 0.05),
        0 2px 0 rgba(0, 0, 0, 0.05);
}

.nav {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    min-width: 0;
}

.icon {
    position: relative;
    height: 24px;
    width: 24px;
    flex: 0 0 auto;
    margin: 0 8px;
}

.icon > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.icon > div {
    position: absolute;
}

.title,
.titleFriend {
    margin-right: 8px;
    flex: 0 0 auto;
    min-width: auto;
    overflow: hidden;
    white-space: nowrap;
    color: var(--foreground-1);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.titleFriend {
    cursor: pointer;
}

.divider {
    width: 1px;
    height: 24px;
    margin: 0 8px;
    flex: 0 0 auto;
    background-color: var(--border-light);
}

.list {
    display: flex;
}

.item,
.itemActive,
.itemAdd,
.itemAddActive {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 40px;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    color: var(--foreground-3);
    overflow: hidden;
    flex-shrink: 0;
}

.itemAdd {
    color: var(--foreground-1);
    background-color: var(--success-1);
}

.itemAddActive {
    color: var(--success-light);
    cursor: default;
}

.itemActive {
    background-color: var(--background-hover-3);
    color: var(--foreground-1);
    cursor: default;
}

.item:hover,
.itemActive:hover {
    background-color: var(--background-hover-1);
    color: var(--foreground-2);
}

.status {
    flex: 0 0 auto;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge {
    background-color: var(--error-1);
    width: 16px;
    height: 16px;
    padding-right: 0px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: var(--foreground-1);
    text-align: center;
    flex: 0 0 auto;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.toolbar {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    min-width: 0;
    background-color: var(--background-4);
    box-shadow: -10px 0px 5px -4px var(--background-4), 20px 0px 5px -4px var(--background-4);
    z-index: 2;
}

.toolbarIcon {
    height: 24px;
    width: auto;
    flex: 0 0 auto;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 4px;
    color: var(--foreground-3);
}

.toolbarIcon.disabled {
    cursor: default;
    color: var(--foreground-5);
}

.toolbarIcon:not(.disabled):hover path {
    color: var(--foreground-2);
}

.search {
    background-color: var(--background-1);
    display: flex;
    align-items: stretch;
    height: 24px;
    width: 144px;
    border-radius: 4px;
    overflow: hidden;
    cursor: text;
    padding: 0 2px;
    margin: 0 8px;
    color: var(--foreground-2);
}

.search > div:first-child {
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 0;
    padding-left: 4px;
    white-space: pre-wrap;
    color: var(--foreground-4);
    position: relative;
}

.search > div:first-child:focus {
    outline: none;
}

.search > div:last-child {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
