.container,
.containerBig {
    position: absolute;
    bottom: -3px;
    right: -3px;
    overflow: hidden;
}

.containerBig {
    bottom: -2px;
    right: -2px;
}

.containerBig .firstLayer {
    width: 32px;
    height: 32px;
}

.firstLayer {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBig .firstLayer > div {
    width: 20px;
    height: 20px;
}

.firstLayer > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offline {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.containerBig .offline {
    width: 10px;
    height: 10px;
}

.busy {
    width: 7px;
    height: 2px;
    border-radius: 100vw;
}

.containerBig .busy {
    width: 14px;
    height: 4px;
}

.away {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(25%, 25%);
    width: 8px;
    height: 8px;
    border-radius: 100vw;
}

.containerBig .away {
    width: 16px;
    height: 16px;
}
