.container {
    display: flex;
    width: var(--dvw);
    height: var(--dvh);
    pointer-events: auto;
}

.sidebar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex: 1 0 220px;
}

.sidebar .closeButton,
.contentWrapper > .content .closeButton {
    margin: 0;
    padding: 0;
    width: 24px;
    display: none;
    align-self: flex-end;
}

.sidebar .closeButton > div,
.contentWrappert > .content .closeButton > div {
    position: static;
}

.sidebar .closeButton button,
.contentWrapper > .content .closeButton button {
    margin: 0 !important;
    width: 24px !important;
    height: 24px !important;
    flex: 0 0 24px !important;
    cursor: pointer !important;
    background-color: transparent !important;
}

.sidebarWrapper {
    display: flex;
    min-height: 0;
    flex: 1 0 auto;
    padding-right: 0;
    position: relative;
    overflow: hidden scroll;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: var(--background-3);
}

@-moz-document url-prefix() {
    .sidebarWrapper {
        padding-right: 8px;
    }
}

.sidebarWrapper nav {
    width: 218px;
    padding: 60px 6px 60px 20px;
    display: flex;
    flex-direction: column;
}

.title {
    flex-shrink: 0;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    overflow: hidden;
    line-height: 16px;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.02rem;
    padding: 0 10px 6px 10px;
    text-transform: uppercase;
    color: var(--foreground-5);
    background-color: transparent;
}

.separator {
    height: 1px;
    margin: 8px 10px;
    background-color: var(--background-hover-1);
}

.tab,
.tabActive {
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
    font-weight: 500;
    overflow: hidden;
    user-select: none;
    padding: 6px 10px;
    margin-bottom: 2px;
    border-radius: 4px;
    position: relative;
    white-space: nowrap;
    align-items: center;
    text-overflow: ellipsis;
    color: var(--foreground-3);
    background-color: transparent;
    justify-content: space-between;
}

.tab path,
.tabActive path {
    fill: var(--foreground-3);
}

.tab:hover,
.tabActive {
    background-color: var(--background-5);
    color: var(--foreground-2);
}

.tab:hover path,
.tabActive path {
    fill: var(--foreground-2);
}

.tab:hover:active,
.tabActive:active {
    background-color: var(--background-hover-2);
    color: var(--foreground-1);
}

.tab:hover:active path,
.tabActive:active path {
    fill: var(--foreground-1);
}

.tabActive:hover {
    cursor: default;
}

.sidebarWrapper::-webkit-scrollbar {
    width: 8px;
}

.sidebarWrapper::-webkit-scrollbar-track {
    border-radius: 1000px;
    background-clip: padding-box;
    background-color: transparent;
    border: 2px var(--background-3) solid;
}

.sidebarWrapper::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    background-clip: padding-box;
    background-color: transparent;
    border: 2px var(--background-3) solid;
}

.sidebarWrapper:hover::-webkit-scrollbar-thumb {
    background-color: var(--background-1);
}

.contentContainer {
    position: relative;
    display: flex;
    flex: 1 1 800px;
    align-items: flex-start;
}

.contentWrapper {
    overflow: hidden scroll;
    padding-right: 0px;
    justify-content: flex-start;
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    align-items: flex-start;
    background-color: var(--background-4);
}

.contentWrapper > .content {
    position: relative;
    padding: 60px 40px 80px 40px;
    flex: 1 1 auto;
    max-width: 740px;
    /* min-width: 460px; */
    min-height: 100%;
    overflow: hidden;
}

.closeButton {
    margin-right: 21px;
    position: relative;
    flex: 0 0 36px;
    width: 60px;
    padding-top: 60px;
}

.closeButton > div {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButton button {
    width: 36px;
    height: 36px;
    display: flex;
    flex: 0 0 36px;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--foreground-3);
    background-color: transparent;
    border: 2px solid var(--foreground-3);
}

.closeButton button:hover,
.closeButton button:focus-visible {
    border-color: var(--foreground-2);
    background-color: var(--background-hover-1);
}

.closeButton button:first-child:hover + div,
.closeButton button:first-child:focus-visible + div {
    color: var(--foreground-2);
}

.closeButton button:first-child:active {
    transform: translateY(1px);
    border-color: var(--foreground-1);
    background-color: var(--background-hover-1);
}

.closeButton button:first-child:active path {
    fill: var(--foreground-1);
}

.closeButton button:first-child:active + div {
    color: var(--foreground-1);
}

.closeButton > div > div {
    margin-top: 8px;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: var(--foreground-3);
    cursor: default;
    user-select: none;
}

.divider {
    margin: 40px 0;
    width: 100%;
    height: 1px;
    border-top: thin solid var(--border-light);
}

.section {
    margin-top: 40px;
}

.sectionTitle {
    display: flex;
}

.sectionTitle > h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    flex: 1;
    cursor: default;
    color: var(--foreground-1);
}

.content h3,
.content label {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    cursor: default;
    display: inline-block;
    color: var(--foreground-3);
    user-select: none;
}

.userCard {
    background-color: var(--background-2);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.userCardHeader {
    min-width: 660px;
    min-height: 100px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.userCardInfo {
    gap: 16px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 16px 24px 120px;
    justify-content: space-between;
}

.userCard > div:last-child {
    border-radius: 8px;
    padding: 16px;
    margin: 8px 16px 16px;
    background-color: var(--background-3);
}

.userAvatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid var(--background-2);
    background-color: var(--background-1);
    position: absolute;
    top: 77px;
    left: 17px;
}

.username {
    gap: 8px;
    display: flex;
    font-size: 20px;
    overflow: hidden;
    font-weight: 600;
    line-height: 24px;
    user-select: none;
    align-items: center;
    height: fit-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--foreground-1);
}

.username > :nth-child(2) {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.username svg {
    color: var(--foreground-3);
}

.field {
    display: flex;
    justify-content: space-between;
}

.field:not(:first-child) {
    margin-top: 24px;
}

.field > div {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.field > div > h3 {
    margin-bottom: 4px;
    color: var(--foreground-3);
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    user-select: none;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.field > div > div {
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 20px;
    color: var(--foreground-1);
    user-select: none;
}

.field > button {
    margin: auto 0;
    min-width: 60px;
}

.section > .content {
    display: flex;
    flex-direction: column;
}

.section > .content > div {
    margin-bottom: 16px;
    color: var(--foreground-3);
    font-size: 14px;
    line-height: 20px;
    user-select: none;
}

.section > .content > button {
    width: fit-content;
}

.buttonsContainer {
    display: flex;
}

.hiddenInput {
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

.saveAlert {
    position: absolute;
    bottom: 20px;
    margin-bottom: 20px;
    margin-left: -20px;
    width: calc(100% - 40px);
    max-width: 740px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 16px;
    border-radius: 5px;
    background-color: var(--background-dark-1);
    color: var(--foreground-2);
    box-shadow: var(--elevation-high);
    z-index: 1;
}

.saveAlert > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
}

.saveAlert > div {
    display: flex;
    gap: 10px;
}

.saveAlert > div > button:last-child {
    width: 115px;
}

.contentNav {
    display: flex;
    padding-top: 6px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--border-light);
}

.contentNav > div {
    border-bottom: 2px solid transparent;
    padding-bottom: 16px;
    margin-right: 16px;
    line-height: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--foreground-3);
    cursor: pointer;
    user-select: none;
}

.contentNav > div:not(:first-child) {
    margin-left: 16px;
}

.contentNav > div:hover {
    color: var(--foreground-2);
    border-bottom: 2px solid var(--accent-1);
}

.contentNav > div:active {
    color: var(--foreground-1);
    border-color: hsl(235, 86.1%, 77.5%);
}

.contentInner {
    position: relative;
    display: flex;
    gap: 35px;
}

.customSection {
    margin-bottom: 24px;
    padding-bottom: 24px;
}

.customSection:not(:last-child) {
    border-bottom: 1px solid var(--border-light);
}

.buttonContainer {
    display: flex;
}

.buttonContainer > button:not(:first-child) {
    margin-left: 4px;
}

.input {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    color: var(--foreground-2);
    border: none;
    outline: none;
    background-color: var(--background-1);
    transition: border-color 0.2s ease-in-out;
}

.description {
    margin-bottom: 16px;
    color: var(--foreground-3);
    font-size: 14px;
    line-height: 20px;
    user-select: none;
}

.sectionContainer {
    display: flex;
    margin-top: 8px;
}

.colorSwatch:not(:first-child) {
    margin-left: 16px;
}

.colorSwatch > div:first-child > div {
    width: 69px;
    height: 50px;
    display: flex;
    cursor: pointer;
    border: 1px solid;
    position: relative;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: var(--foreground-3);
    border: 1px solid transparent;
}

.colorSwatch > div:first-child > div > svg {
    position: absolute;
    top: 4px;
    right: 4px;
}

.colorSwatch > div:last-child {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 500;
    user-select: none;
    line-height: 16px;
    text-align: center;
    color: var(--foreground-3);
}

.inputLarge {
    position: relative;
    width: 100%;
    text-indent: 0;
    border-radius: 8px;
}

.inputLarge > div:first-child {
    background-color: var(--background-1);
    border-radius: 3px;
    height: 136px;
    transition: border-color 0.2s ease-in-out;
    overflow: hidden scroll;
    max-height: 50vh;
}

@-moz-document url-prefix() {
    .inputLarge > div:first-child {
        padding-right: 12px;
    }
}

.inputLarge > div:first-child::-webkit-scrollbar {
    width: 12px;
}

.inputLarge > div:first-child::-webkit-scrollbar-thumb {
    background-color: var(--background-dark-1);
    border-width: 4px;
}

.inputLarge > div:first-child::-webkit-scrollbar-track {
    background-color: var(--background-1);
    border-color: var(--background-1);
}

.inputLarge > div:last-child {
    position: absolute;
    bottom: 12px;
    right: 14px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: var(--foreground-3);
    user-select: none;
    cursor: default;
}

.inputLargeInner {
    height: 100%;
    display: flex;
    position: relative;
}

.inputLargeInner > div:first-child {
    height: 66px;
    min-height: 100%;
    padding: 0;
    resize: none;
    border: none;
    width: 100%;
}

.inputLargeInner > div:first-child > div {
    position: relative;
    outline: none;
    overflow-wrap: break-word;
    padding-bottom: 11px;
    padding-top: 11px;
    padding-left: 16px;
    padding-right: 10px;
    left: 0;
    right: 10px;
    text-align: left;
    word-break: break-word;
    white-space: break-spaces;
    user-select: text;
    line-height: 1.375rem;
    color: var(--foreground-3);
}

.inputLargeInner > div:last-child {
    margin-right: -6px;
    display: flex;
    height: 44px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentInner > div:first-child {
    flex: 1;
}

.contentInner > div:last-child {
    max-width: 348px;
}

/* USER CARD */

.cardContainer {
    padding: 4px;
    width: 348px;
    position: relative;
    min-height: 280px;
    background: linear-gradient(
        var(--card-primary-color),
        var(--card-primary-color) 90px,
        var(--card-accent-color)
    );
    border-radius: 8px;
}

.cardContainer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
    max-height: calc(var(--dvh) - 28px);
}

.cardContainer > div::before {
    content: "";
    border-radius: 4px;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    pointer-events: none;
    position: absolute;
    background-color: var(--card-overlay-color);
}

.cardBanner {
    min-width: 340px;
    z-index: 0;
    contain: paint;
    overflow: hidden;
}

.cardBanner foreignObject > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
}

.cardBannerBackground {
    position: inherit;
    border-radius: 3px 3px 0 0;
    width: 100%;
    display: inline-block;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cardBannerBackground:hover {
    box-shadow: inset 0 0 120px hsla(0, 0%, 0%, 0.75);
}

.cardBannerButton {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    pointer-events: none;
    color: var(--foreground-1);
    visibility: hidden;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 12px;
    white-space: pre;
}

.cardBannerBackground:hover + .cardBannerButton {
    visibility: visible;
}

.cardAvatar {
    position: absolute;
    left: 22px;
    z-index: 1;
}

.avatarImage {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}

.avatarImage:hover {
    box-shadow: inset 0 0 120px hsla(0, 0%, 0%, 0.75);
}

.cardAvatar > .avatarOverlay {
    width: 82px;
    height: 82px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    pointer-events: none;
    color: var(--foreground-1);
    visibility: hidden;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 12px;
    white-space: pre;
    text-align: center;
}

.avatarImage:hover + .avatarOverlay {
    visibility: visible;
}

.cardAvatar > .imageUpload {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    box-shadow: 0 2px 4px 0 hsl(0, 0, 0%, 0.2);
    background-color: var(--foreground-1);
    background-image: url("https://ucarecdn.com/8d8a32ee-a129-4f46-bd8d-da53b814ba94/");
}

.cardAvatarStatus {
    width: 28px;
    height: 28px;
    position: absolute;
    border-radius: 50%;
    top: 54px;
    left: 54px;
    background-color: var(--card-border-color);
}

.cardAvatarStatus > div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.45;
}

.cardAvatarStatus > svg {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 16px;
    height: 16px;
}

.cardBadges {
    position: relative;
    top: 12px;
    right: 16px;
    width: fit-content;
    align-self: flex-end;
    border-radius: 8px;
    max-width: 190px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    height: 30px;
    width: 102px;
    background-color: var(--card-background-color);
}

.cardBody {
    padding: 0 12px;
    margin: 28px 16px 16px;
    max-height: calc(100dvh - 128px);
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--card-background-color);
}

.cardBody > .cardSection {
    padding-top: 12px;
}

.cardBody > div:first-child > h4 {
    word-break: break-word;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    user-select: text;
    cursor: auto;
    color: var(--foreground-1);
}

.cardBody > div:first-child > div {
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    color: var(--foreground-1);
}

.cardBody > .cardSection:not(:first-child) > h4 {
    display: flex;
    font-weight: 700;
    margin-bottom: 6px;
    color: var(--foreground-1);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.cardBody > .cardSection:not(:first-child) > div {
    line-height: 1.375rem;
    white-space: break-spaces;
    word-wrap: break-word;
    user-select: text;
    display: -webkit-box;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    color: var(--foreground-2);
}

.cardBody > .cardDivider {
    margin-top: 12px;
    height: 1px;
    position: sticky;
    top: 0;
    background-color: var(--card-divider-color);
}

.cardBody > .cardSectionLarge {
    padding-top: 12px;
    padding-bottom: 12px;
}

.cardBody > .cardSectionLarge > h4 {
    font-weight: 700;
    color: var(--foreground-1);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.cardBody > .cardSectionLarge > div {
    display: flex;
    align-items: center;
    margin-top: 8px;
    user-select: none;
}

.cardBody > .cardSectionLarge > div > div:first-child {
    display: flex;
    align-items: center;
    height: 64px;
    width: 64px;
    flex: 0 0 auto;
    justify-content: center;
    border-radius: 8px;
    margin-right: 16px;
    background-color: var(--accent-3);
}

.cardTime {
    flex: 1 1 auto;
    user-select: none;
    pointer-events: none;
}

.cardTime > div:first-child {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: var(--foreground-2);
}

.cardTime > div:last-child {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--foreground-2);
}

.cardTime > div:last-child > span {
    font-family: var(--font-code);
}

.cardBody > .cardSectionLarge > button {
    width: 100%;
    margin-top: 12px;
    background-color: var(--card-button-color);
    transition: opacity 0.15s ease-in-out;
}

.cardBody > .cardSectionLarge > button:hover {
    opacity: 0.8;
}

.cardBody > .cardSectionLarge > button:active {
    opacity: 0.7;
}

.checkSpam {
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
    line-height: 1.285;
    color: var(--foreground-2);
    border: 1px solid #ffffff0a;
    box-shadow: var(--elevation-low);
    background-color: var(--background-6);
}

.email {
    font-weight: 600;
    color: var(--foreground-2);
}

.reveal,
.resendCode {
    font-size: 14px;
    margin-left: 4px;
    background: none;
    color: var(--accent-light);
}

.resendCode {
    margin-left: 0;
    margin-top: 6px;
}

.reveal:hover,
.resendCode:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
    .sidebar .closeButton {
        display: block;
    }

    .sidebarWrapper {
        justify-content: center;
    }

    .sidebarWrapper > nav {
        width: 325px;
        padding: 24px 24px 40px 24px;
    }

    .sidebarWrapper::-webkit-scrollbar {
        width: 0px;
    }

    .contentWrapper > div {
        padding: 60px 8px 80px 24px;
    }

    .content > .closeButton {
        position: absolute;
        top: 24px;
        right: 8px;
        max-width: none;
        min-width: fit-content;
        display: block;
    }

    .saveAlert {
        position: fixed;
        bottom: 0;
        left: 0;
        width: calc(100% - 48px);
        margin: 0 24px 20px 24px;
    }
}

@media (max-width: 768px) {
    .sidebarWrapper > nav {
        width: 100%;
    }

    .contentWrapper {
        width: 100%;
    }

    .contentWrapper > div {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .contentWrapper > div > div {
        width: 100%;
    }

    .userCardHeader {
        min-width: 100%;
    }

    .contentInner {
        flex-direction: column-reverse;
    }
}

.footerImage {
    flex: 1 1 auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 60px;
}

/* Roles */

.defaultRoleTab {
    display: flex;
    padding: 16px;
    cursor: pointer;
    border-radius: 4px;
    padding-right: 24px;
    align-items: center;
    color: var(--foreground-3);
    background-color: var(--background-3);
}

.defaultRoleTab:hover,
.defaultRoleTab:focus-visible {
    color: var(--foreground-2);
    background-color: var(--background-5);
}

.defaultRoleTab > :first-child {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.defaultRoleTab > :nth-child(2) {
    margin-left: 16px;
    user-select: none;
}

.defaultRoleTab > :nth-child(2) > :first-child {
    cursor: pointer;
    font-weight: 700;
    line-height: 1.285;
    margin-bottom: 4px;
}

.defaultRoleTab > :last-child {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.roleSearch {
    margin: 32px 0;
}

.roleSearch > div {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.roleSearch > div > :first-child {
    flex: 1;
    margin-right: 16px;
}

.roleSearch > p {
    font-size: 14px;
    user-select: none;
}

.roleSearch > p > a {
    text-decoration: none;
    color: var(--accent-light);
}

.roleSearch > p > a:hover {
    text-decoration: underline;
}

.listItemHeader {
    display: flex;
    user-select: none;
    margin-bottom: 8px;
    margin-left: -32px;
    margin-right: -8px;
    padding-right: 8px;
}

.listItemHeader > :first-child {
    flex: 0 0 32px;
}

.listItemHeader > :nth-child(2) {
    flex: 0 1 273px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.285;
    text-transform: uppercase;
}

.listItemHeader > :nth-child(3) {
    flex: 0 0 112px;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    margin-left: 16px;
    line-height: 1.285;
    text-transform: uppercase;
}

.listItemHeader > :nth-child(4) {
    flex: 1 0 88px;
    margin-left: 16px;
}

.listItemDraggable {
    height: 61px;
    display: flex;
    cursor: pointer;
    padding-top: 1px;
    user-select: none;
    margin-left: -32px;
    margin-right: -8px;
    padding-right: 8px;
    border-radius: 4px;
    position: relative;
    align-items: center;
}

.listItemDraggable:hover,
.listItemDraggable:focus-visible,
.listItemDraggable.dragging {
    background-color: var(--background-5);
}

.listItemDraggable.dragging > * {
    opacity: 0;
}

.listItemDraggable::before {
    top: 0;
    left: 32px;
    right: 8px;
    height: 1px;
    content: "";
    position: absolute;
    border-radius: 2px;
    background-color: var(--border-light);
}

.listItemDraggable:hover:not(.over)::before,
.listItemDraggable:focus-visible::before,
.listItemDraggable.dragging::before {
    background-color: transparent;
}

.listItemDraggable.over:not(.dragging)::before {
    height: 4px;
    transform: translateY(-2px);
    background-color: var(--success-light) !important;
}

.listItemDraggable:hover + .listItemDraggable::before,
.listItemDraggable:focus-visible + .listItemDraggable::before,
.listItemDraggable.dragging + .listItemDraggable::before {
    background-color: transparent;
}

.listItemDraggable > * {
    display: flex;
    align-items: center;
}

.listItemDraggable > .dragger {
    width: 32px;
    height: 35px;
    cursor: grab;
    visibility: hidden;
    justify-content: center;
}

.listItemDraggable:hover > .dragger {
    visibility: visible;
}

.listItemDraggable > :nth-child(2) {
    flex: 0 1 273px;
}

.listItemDraggable > :nth-child(2) > :first-child {
    margin-right: 8px;
}

.listItemDraggable > :nth-child(2) > :last-child {
    font-weight: 600;
    color: var(--foreground-1);
}

.listItemDraggable > :nth-child(3) {
    height: 100%;
    flex: 0 0 112px;
    margin-left: 16px;
    justify-content: flex-end;
}

.listItemDraggable > :nth-child(3) > :last-child {
    margin-left: 4px;
}

.listItemDraggable > :nth-child(4) {
    gap: 16px;
    flex: 1 0 88;
    margin-left: 16px;
    justify-content: flex-end;
}

.listItemDraggable > :nth-child(4) > :first-child {
    visibility: hidden;
}

.listItemDraggable:hover > :nth-child(4) > :first-child,
.listItemDraggable:focus-within > :nth-child(4) > :first-child {
    visibility: visible;
}

.roleEditContainer {
    height: 100%;
    display: flex;
    min-width: 460px;
    max-width: 740px;
    margin: -60px -40px -80px;
}

.roleEditContainer > :first-child {
    flex: 0 0 232px;
    height: var(--dvh);
    border-right: 1px solid var(--border-light);
}

.roleEditAside {
    display: flex;
    flex-direction: column;
}

.roleEditAside > div {
    display: flex;
    align-items: center;
    padding: 60px 8px 16px;
    margin: 0 8px 8px 16px;
    justify-content: space-between;
}

.roleEditAside > div > div {
    gap: 8px;
    display: flex;
    align-items: center;
    color: var(--foreground-3);
}

.roleEditAside > div > div > p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    text-transform: uppercase;
}

.roleEditAside > div > div > svg {
    transform: rotate(-90deg);
}

.roleEditAside > div > div:hover,
.roleEditAside > div > div:focus-visible {
    color: var(--foreground-1);
}

.roleEditAside > div > svg {
    color: var(--foreground-3);
}

.roleEditAside > div > svg:hover,
.roleEditAside > div > svg:focus-visible {
    color: var(--foreground-1);
}

.roleEditAside > div > div,
.roleEditAside > div > svg {
    cursor: pointer;
    user-select: none;
}

.roleList {
    flex-grow: 0;
    overflow: hidden scroll;
    padding: 0 16px 96px 40px;
}

.roleList > li {
    gap: 4px;
    height: 34px;
    display: flex;
    cursor: pointer;
    padding: 6px 10px;
    margin-left: -6px;
    margin-bottom: 2px;
    border-radius: 4px;
    align-items: center;
    color: var(--foreground-1);
}

.roleList > li:hover,
.roleList > li:focus-visible {
    background-color: var(--background-5);
}

.roleList > li.active {
    cursor: default;
    background-color: var(--background-6);
}

.roleList > li > div {
    width: 12px;
    height: 12px;
    margin: 0 4px;
    border-radius: 50%;
}

.roleList > li > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.285;
}

.roleEditContainer > :last-child {
    top: 0;
    right: 0;
    bottom: 0;
    left: 232px;
    padding-left: 24px;
    overflow: hidden scroll;
    position: absolute;
    padding-right: 42px;
    width: calc(100% - 56px);
    min-width: calc(460px - 232px);
    max-width: calc(740px - 232px);
}

.roleEditHeader {
    top: 0;
    z-index: 2;
    margin: 0 -8px;
    position: sticky;
    margin-bottom: 16px;
    padding: 60px 8px 16px 8px;
    background-color: var(--background-4);
}

.roleEditHeader > :first-child {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    justify-content: space-between;
}

.roleEditHeader > :first-child > p {
    overflow: hidden;
    font-weight: 600;
    line-height: 1.25;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: var(--foreground-1);
}

.roleEditHeader > :first-child > svg {
    cursor: pointer;
    margin-left: 16px;
}

.roleEditHeader > :first-child > svg:hover,
.roleEditHeader > :first-child > svg:focus-visible {
    color: var(--foreground-1);
}

.roleEditTabs {
    display: flex;
    margin-top: 16px;
    margin-bottom: -2px;
    align-items: center;
    border-bottom: 2px solid var(--border-light);
}

.roleEditTabs > li {
    cursor: pointer;
    font-weight: 500;
    user-select: none;
    margin-right: 32px;
    margin-bottom: -2px;
    padding-bottom: 16px;
    color: var(--foreground-3);
    border-bottom: 2px solid transparent;
}

.roleEditTabs > li:hover,
.roleEditTabs > li:focus-visible {
    color: var(--foreground-2);
    border-bottom-color: var(--accent-1);
}

.roleEditTabs > li.active {
    cursor: default;
    color: var(--foreground-1);
    border-bottom-color: var(--accent-border);
}

.roleEditHeader > :last-child {
    margin-top: 16px;
}

.rolePermTitle {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.333;
    margin-bottom: 20px;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    color: var(--foreground-3);
}

.rolePermItem {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.rolePermItem > p {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    user-select: none;
    color: var(--foreground-4);
}

.rolePermItem > :last-child {
    height: 1px;
    margin-top: 20px;
    border-top: 1px solid var(--border-light);
}

.returnBack {
    gap: 6px;
    display: flex;
    cursor: pointer;
    font-weight: 500;
    padding: 8px 8px;
    user-select: none;
    border-radius: 4px;
    align-items: center;
    margin: -50px 0 36px 0;
    color: var(--foreground-2);
    background-color: var(--background-2);
}

nav > .returnBack {
    margin-top: -14px;
}

.returnBack:hover,
.returnBack:focus-visible {
    color: var(--foreground-1);
    background-color: var(--background-5);
}

.returnBack > svg {
    transform: rotate(-90deg);
}

@media (max-width: 562px) {
    .contentWrapper > .content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .sidebarWrapper > nav {
        padding-left: 16px;
        padding-right: 16px;
    }
}
