.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #151515;
}

.form {
    position: relative;
    width: 425px;
    border-radius: 5px;
    background-color: #202020;
    padding: 3rem 3rem 10rem 3rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.formTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5rem;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.inputContainer {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 2rem;
}

.error {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    top: 20px;
    left: 50%;
    font-size: 0.9rem;
    color: #ff6868;
    text-align: center;
    padding: 12px 16px;
    z-index: 1000;
    background-color: #ff68681a;
    border-radius: 5px;
}

.error svg {
    stroke: #ff6868;
}

.label {
    position: absolute;
    pointer-events: none;
    font-size: 0.9rem;
}

.input {
    width: 100%;
    height: 50px;
    border: 1px solid #303030;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 0.9rem;
    background-color: #303030;
}

.button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #ff6868;
    color: #000;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.95rem;
    user-select: none;
}

.button:disabled {
    background-color: #ff68681a;
    color: #ff6868;
    cursor: not-allowed;
}

.bottomLinks {
    left: 0;
    bottom: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 6rem);
    margin: 0 3rem;
}

.link {
    font-size: 0.85rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.link:hover {
    text-decoration: underline;
}
