@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/ggsans-Bold.eot');
    src: local('gg sans Bold'), local('ggsans-Bold'),
        url('../../public/fonts/ggsans/ggsans-Bold.eot?#iefix')
            format('embedded-opentype'),
        url('../../public/fonts/ggsans/ggsans-Bold.woff2') format('woff2'),
        url('../../public/fonts/ggsans/ggsans-Bold.woff') format('woff'),
        url('../../public/fonts/ggsans/ggsans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/gg-sans-700.woff');
    src: local('gg sans 700'), local('gg-sans-700'),
        url('../../public/fonts/ggsans/gg-sans-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/ggsans-SemiboldItalic.eot');
    src: local('gg sans SemiBold Italic'), local('ggsans-SemiboldItalic'),
        url('../../public/fonts/ggsans/ggsans-SemiboldItalic.eot?#iefix')
            format('embedded-opentype'),
        url('../../public/fonts/ggsans/ggsans-SemiboldItalic.woff2')
            format('woff2'),
        url('../../public/fonts/ggsans/ggsans-SemiboldItalic.woff')
            format('woff'),
        url('../../public/fonts/ggsans/ggsans-SemiboldItalic.ttf')
            format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/ggsans-MediumItalic.eot');
    src: local('gg sans Medium Italic'), local('ggsans-MediumItalic'),
        url('../../public/fonts/ggsans/ggsans-MediumItalic.eot?#iefix')
            format('embedded-opentype'),
        url('../../public/fonts/ggsans/ggsans-MediumItalic.woff2')
            format('woff2'),
        url('../../public/fonts/ggsans/ggsans-MediumItalic.woff') format('woff'),
        url('../../public/fonts/ggsans/ggsans-MediumItalic.ttf')
            format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/ggsans-BoldItalic.eot');
    src: local('gg sans Bold Italic'), local('ggsans-BoldItalic'),
        url('../../public/fonts/ggsans/ggsans-BoldItalic.eot?#iefix')
            format('embedded-opentype'),
        url('../../public/fonts/ggsans/ggsans-BoldItalic.woff2') format('woff2'),
        url('../../public/fonts/ggsans/ggsans-BoldItalic.woff') format('woff'),
        url('../../public/fonts/ggsans/ggsans-BoldItalic.ttf')
            format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/ggsans-Semibold.eot');
    src: local('gg sans SemiBold'), local('ggsans-Semibold'),
        url('../../public/fonts/ggsans/ggsans-Semibold.eot?#iefix')
            format('embedded-opentype'),
        url('../../public/fonts/ggsans/ggsans-Semibold.woff2') format('woff2'),
        url('../../public/fonts/ggsans/ggsans-Semibold.woff') format('woff'),
        url('../../public/fonts/ggsans/ggsans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/ggsans-Medium.eot');
    src: local('gg sans Medium'), local('ggsans-Medium'),
        url('../../public/fonts/ggsans/ggsans-Medium.eot?#iefix')
            format('embedded-opentype'),
        url('../../public/fonts/ggsans/ggsans-Medium.woff2') format('woff2'),
        url('../../public/fonts/ggsans/ggsans-Medium.woff') format('woff'),
        url('../../public/fonts/ggsans/ggsans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/ggsans-ExtraBold.eot');
    src: local('gg sans ExtraBold'), local('ggsans-ExtraBold'),
        url('../../public/fonts/ggsans/ggsans-ExtraBold.eot?#iefix')
            format('embedded-opentype'),
        url('../../public/fonts/ggsans/ggsans-ExtraBold.woff2') format('woff2'),
        url('../../public/fonts/ggsans/ggsans-ExtraBold.woff') format('woff'),
        url('../../public/fonts/ggsans/ggsans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/ggsans-ExtraBoldItalic.eot');
    src: local('gg sans ExtraBold Italic'), local('ggsans-ExtraBoldItalic'),
        url('../../public/fonts/ggsans/ggsans-ExtraBoldItalic.eot?#iefix')
            format('embedded-opentype'),
        url('../../public/fonts/ggsans/ggsans-ExtraBoldItalic.woff2')
            format('woff2'),
        url('../../public/fonts/ggsans/ggsans-ExtraBoldItalic.woff')
            format('woff'),
        url('../../public/fonts/ggsans/ggsans-ExtraBoldItalic.ttf')
            format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/ggsans-Normal.eot');
    src: local('gg sans Normal'), local('ggsans-Normal'),
        url('../../public/fonts/ggsans/ggsans-Normal.eot?#iefix')
            format('embedded-opentype'),
        url('../../public/fonts/ggsans/ggsans-Normal.woff2') format('woff2'),
        url('../../public/fonts/ggsans/ggsans-Normal.woff') format('woff'),
        url('../../public/fonts/ggsans/ggsans-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/ggsans-NormalItalic.eot');
    src: local('gg sans Normal Italic'), local('ggsans-NormalItalic'),
        url('../../public/fonts/ggsans/ggsans-NormalItalic.eot?#iefix')
            format('embedded-opentype'),
        url('../../public/fonts/ggsans/ggsans-NormalItalic.woff2')
            format('woff2'),
        url('../../public/fonts/ggsans/ggsans-NormalItalic.woff') format('woff'),
        url('../../public/fonts/ggsans/ggsans-NormalItalic.ttf')
            format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'gg sans';
    src: url('../../public/fonts/ggsans/gg-sans-300.woff');
    src: local('gg sans 300'), local('gg-sans-300'),
        url('../../public/fonts/ggsans/ggsans-NormalItalic.woff2')
            format('woff2'),
        url('../../public/fonts/ggsans/ggsans-NormalItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ginto Nord';
    src: url('../../public/fonts/ginto/Ginto-Nord-700.woff');
    src: local('Ginto Nord'), local('Ginto-Nord-700'),
        url('../../public/fonts/ginto/Ginto-Nord-700.woff2') format('woff2'),
        url('../../public/fonts/ginto/Ginto-Nord-700.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media (prefers-color-scheme: dark) {
    :root {
        --background-1: hsl(225, 6%, 13%);
        --background-2: hsl(228, 7%, 15%);
        --background-3: hsl(220, 7%, 18%);
        --background-4: hsl(223, 7%, 21%);
        --background-5: hsl(225, 7%, 24%);
        --background-light: hsl(217, 8%, 34%);
        --background-dark: hsl(220, 9%, 7%);
        --background-hover-1: hsl(228, 6%, 32.5%, 0.3);
        --background-hover-2: hsl(228, 6%, 32.5%, 0.6);
        --background-hover-3: hsl(218, 7%, 29%);
        --background-hover-4: hsla(0, 0%, 1%, 0.06);
        --background-active: hsl(218, 8%, 28%);
        --background-message-highlight: hsl(235, 86.1%, 77.5%, 0.08);
        --background-message-highlight-hover: hsl(235, 85.6%, 64.7%, 0.1);
        --foreground-1: hsl(210, 9%, 95%, 1);
        --foreground-2: hsl(210, 9%, 87%, 1);
        --foreground-3: hsl(216, 4%, 74%, 1);
        --foreground-4: hsl(214, 4%, 65%, 1);
        --foreground-5: hsl(213, 4%, 57%, 1);
        --foreground-light: hsl(218, 5%, 47%, 1);
        --accent-1: hsl(235, 86%, 65%);
        --accent-2: hsl(235, 51%, 52%);
        --accent-3: hsl(235, 47%, 44%);
        --accent-light: hsl(197, 100%, 48%);
        --success-1: hsl(139, 47%, 33%);
        --success-2: hsl(138, 47%, 24%);
        --success-3: hsl(138, 47%, 22%);
        --success-light: hsl(139, 52%, 52%);
        --error-1: hsl(359, 67%, 54%);
        --error-2: hsl(359, 56%, 40%);
        --error-3: hsl(359, 56%, 35%);
        --error-light: hsl(359, 82%, 74%);
        --warning-1: hsl(38, 96%, 54%);
        --warning-2: hsla(38, 96%, 54%, 0.102);
        --default-1: hsl(217, 8%, 34%);
        --default-2: hsl(213, 5%, 43%);
        --default-3: hsl(218, 5%, 47%);
        --default-light: #737e8c;
        --elevation-low: 0 0 0 1px hsla(0, 0%, 0%, 0.15);
        --elevation-medium: 0 4px 4px hsla(0, 0%, 0%, 0.15);
        --elevation-high: 0 8px 16px hsla(0, 0%, 0%, 0.24);
        --elevation-high-dark: 0 2px 10px hsla(0, 0%, 0%, 0.2);
        --border-light: hsla(217, 8%, 34%, 0.5);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-1: hsl(216, 7%, 14%);
        --background-2: hsl(220, 7%, 17%);
        --background-3: hsl(223, 7%, 20%);
        --background-4: hsl(220, 8%, 23%);
        --background-5: hsl(218, 8%, 27%);
        --background-light: hsl(217, 8%, 34%);
        --background-dark: hsl(225, 8%, 10%);
        --background-hover-1: hsl(218, 8%, 27%);
        --background-hover-2: hsl(220, 7%, 25%);
        --background-hover-3: hsl(218, 7%, 29%);
        --background-hover-4: hsl(220, 8%, 21%);
        --background-active: hsl(218, 8%, 28%);
        --foreground-1: hsl(0, 0%, 100%);
        --foreground-2: hsl(210, 3%, 87%);
        --foreground-3: hsl(216, 4%, 74%);
        --foreground-4: hsl(214, 4%, 65%);
        --foreground-5: hsl(213, 4%, 57%);
        --foreground-light: hsl(218, 5%, 47%);
        --accent-1: hsl(235, 86%, 65%);
        --accent-2: hsl(235, 51%, 52%);
        --accent-3: hsl(235, 47%, 44%);
        --accent-light: hsl(197, 100%, 48%);
        --success-1: hsl(139, 47%, 33%);
        --success-2: hsl(138, 47%, 24%);
        --success-3: hsl(138, 47%, 22%);
        --success-light: hsl(139, 52%, 52%);
        --error-1: hsl(359, 67%, 54%);
        --error-2: hsl(359, 56%, 40%);
        --error-2: hsl(359, 56%, 35%);
        --error-light: hsl(359, 82%, 74%);
        --warning-1: hsl(38, 96%, 54%);
        --warning-2: hsla(38, 96%, 54%, 0.102);
        --default-1: hsl(217, 8%, 34%);
        --default-2: hsl(213, 5%, 43%);
        --default-3: hsl(218, 5%, 47%);
        --default-light: hsl(214, 10%, 50%);
        --elevation-low: 0 0 0 1px hsla(0, 0%, 0%, 0.15);
        --elevation-medium: 0 4px 4px hsla(0, 0%, 0%, 0.15);
        --elevation-high: 0 8px 16px hsla(0, 0%, 0%, 0.24);
        --elevation-high-dark: 0 2px 10px hsla(0, 0%, 0%, 0.2);
        --border-light: hsla(217, 8%, 34%, 0.5);
    }
}

/* Change scrollbar */

.scrollbar::-webkit-scrollbar {
    width: 16px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vw;
    border: 4px var(--background-4) solid;
    background-color: var(--background-3);
    background-clip: padding-box;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    border: 4px var(--background-4) solid;
    border-color: transparent;
    background-color: var(--background-1);
    background-clip: padding-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
    outline: 4px solid var(--accent-light);
}

html,
body,
#__next {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--background-1);
    color: var(--foreground-1);
    font-size: 16px;
    font-family: 'gg sans', 'Noto sans', sans-serif;
    color-scheme: dark light;
    scroll-behavior: smooth;
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    cursor: default;
    user-select: none;
}

button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: none;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    width: auto;
    height: 32px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;
    transition: background-color 0.15s ease, color 0.15s ease;
}

button.blue {
    background-color: var(--accent-1);
}

button.blue:not(.disabled):hover {
    background-color: var(--accent-2);
}

button.blue:not(.disabled):active {
    background-color: var(--accent-3);
}

button.green {
    background-color: var(--success-1);
}

button.green:not(.disabled):hover {
    background-color: var(--success-2);
}

button.green:not(.disabled):active {
    background-color: var(--success-3);
}

button.red {
    background-color: var(--error-1);
}

button.red:not(.disabled):hover {
    background-color: var(--error-2);
}

button.red:not(.disabled):active {
    background-color: var(--error-3);
}

button.grey {
    background-color: var(--default-1);
}

button.grey:not(.disabled):hover {
    background-color: var(--default-2);
}

button.grey:not(.disabled):active {
    background-color: var(--default-3);
}

button.underline:hover {
    text-decoration: underline;
}

button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.buttonGrid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
