.mainContainer {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(0, 0%, 100%);
    overflow-y: scroll;
    color-scheme: light;
}

.heading {
    width: 100%;
    min-height: 626px;
    background-color: hsl(235, 83%, 59%);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    max-width: 1260px;
    padding: 0 40px;
}

.header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.brand {
    display: flex;
    align-items: center;
}

.navLinks {
    flex: 1 1 auto;
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
}

.navLink {
    color: hsl(0, 0%, 100%);
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
}

.appButton {
    flex: 0 0 auto;
    width: 124px;
    text-align: end;
    display: flex;
    flex-flow: row-reverse;
}

.appButton > a {
    white-space: nowrap;
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(206, 9%, 15%);
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.appButton > a:hover {
    color: hsl(235, 86%, 65%);
    box-shadow: 0 8px 15px hsla(0, 0%, 0%, 0.2);
}

.hero {
    width: 100%;
    max-width: 1260px;
    padding: 120px 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    box-sizing: border-box;
}

.hero > div {
    grid-column: 3 / span 8;
    text-align: center;
}

.heroText {
    margin-bottom: 8px;
    color: hsl(0, 0%, 100%);
}

.heroText > h1 {
    font-family: 'Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    font-size: 56px;
    font-weight: 800;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    user-select: text;
    cursor: initial;
}

.heroText > div {
    margin-top: 40px;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.625;
    font-weight: 300;
}

.heroButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.heroButtons > a {
    margin-top: 24px;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: hsl(206, 9%, 15%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.heroButtons > a:first-child {
    margin-right: 24px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(206, 9%, 15%);
}

.heroButtons > a:first-child:hover {
    color: hsl(235, 86%, 65%);
    box-shadow: 0 8px 15px hsla(0, 0%, 0%, 0.2);
}

.heroButtons > a:last-child:hover {
    background-color: hsl(223, 6.7%, 20.6%);
    box-shadow: 0 8px 15px hsla(0, 0%, 0%, 0.2);
}

.heroButtons > a:first-child > svg {
    margin-right: 8px;
}

.imageBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.imageBackground > img:first-child {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 0;
    margin-left: -1280px;
}

.imageBackground > img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: auto;
    width: auto;
    max-width: none;
    margin-left: -1030px;
}

.imageBackground > img:last-child {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: 370px;
}

.contentGrid {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contentGrid:nth-child(2),
.contentGrid:nth-child(4),
.contentGrid:nth-child(5) {
    background-color: hsl(0, 0%, 96%);
}

.contentGrid > div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
    padding: 120px 40px;
    max-width: 1260px;
}

.contentGrid > div > img {
    grid-column: span 7;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 678px;
    max-height: 440px;
    width: 100%;
    object-fit: cover;
}

.contentGrid > div > div {
    grid-column: 9 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: hsl(206, 9%, 15%);
}

.contentGrid:nth-child(2) > div > div {
    grid-column: 1 / span 4;
    order: 1;
}

.contentGrid:nth-child(2) > div > img {
    grid-column: 6 / span 7;
    order: 2;
}

.contentGrid:nth-child(4) > div {
    padding-bottom: 80px;
}

.contentGrid:nth-child(4) > div > div {
    grid-column: 2 / span 10;
    text-align: center;
}

.contentGrid:nth-child(4) > div > div > h2 {
    font-size: clamp(20px, 4vw, 40px);
    font-family: 'Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    font-weight: 800;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
}

.contentGrid:nth-child(4) > div > img {
    margin-top: 16px;
    grid-column: span 12;
    max-width: none;
    max-height: none;
}

.contentGrid:nth-child(5) > div {
    margin-bottom: 120px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.contentGrid:nth-child(5) > div > div {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.contentGrid:nth-child(5) > div > div > img {
    height: 49px;
    width: auto;
    user-select: none;
}

.contentGrid:nth-child(5) > div > h4 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: hsl(0, 0%, 0%);
    user-select: text;
    cursor: initial;
}

.contentGrid:nth-child(5) > div > a {
    width: auto;
    margin-top: 40px;
    justify-content: center;
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: #5865f2;
    color: #fff;
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.contentGrid:nth-child(5) > div > a:hover {
    background-color: hsl(235, 86.1%, 71.8%);
    box-shadow: 0 8px 15px hsla(0, 0%, 0%, 0.2);
}

.contentGrid:nth-child(5) > div > a > svg {
    margin-right: 8px;
}

.contentGrid > div > div > h2 {
    font-size: 48px;
    line-height: 120%;
    font-weight: 800;
    user-select: text;
    cursor: initial;
}

.contentGrid > div > div > div {
    margin-top: 24px;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.625;
}

.footer {
    background-color: hsl(206, 9%, 15%);
    padding-top: 80px;
    padding-bottom: 64px;
    color: hsl(0, 0%, 100%);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer > div {
    width: 100%;
    max-width: 1260px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
    padding: 0 40px;
}

.infoBox {
    grid-column: span 3;
    grid-row-end: span 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
    user-select: none;
}

.infoBox > h4 {
    color: #5865f2;
    font-family: 'Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    user-select: text;
    cursor: initial;
}

.language {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.langChooser {
    position: absolute;
    z-index: 10;
    bottom: 100%;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.1);
}

.langChooser > div {
    max-height: 320px;
    min-width: 150px;
    overflow: hidden auto;
    overscroll-behavior: contain;
}

.langItem {
    padding: 8px;
    cursor: pointer;
}

.langItem:hover {
    border-radius: 4px;
    background-color: hsla(217, 8%, 34%, 0.16);
}

.langItem > div {
    display: flex;
    align-items: center;
}

.langItem > div > img {
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.langItem > div > div {
    color: hsl(206, 9%, 15%);
    font-size: 14px;
    line-height: 18px;
}

.language > div {
    position: relative;
}

.language > div > div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language > div > div > div:not(.langChooser > div) {
    display: flex;
    align-items: center;
}

.language > div > div > div > img {
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.language > div > div > div > div {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    line-height: 18px;
}

.language > div > div > img {
    padding-left: 8px;
}

.socials {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.socials > a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.socials > a:not(:first-child) {
    margin-left: 24px;
}

.footer > div:first-child > div:nth-child(2) {
    grid-column: span 1;
    grid-row-end: span 2;
}

.footerColumn {
    grid-column: span 2;
    margin-bottom: 40px;
}

.footerColumn > h5 {
    color: hsl(235, 86%, 65%);
    padding-top: 8px;
    font-size: 16px;
    line-height: 24px;
    user-select: text;
    cursor: initial;
}

.footerColumn > a {
    color: inherit;
    margin-top: 8px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    line-height: 24px;
}

.footerColumn > a:hover {
    text-decoration: underline;
}

.footer > div:last-child > div {
    grid-column: span 12;
}

.footerSeparator {
    background-color: hsl(235, 86%, 65%);
    height: 1px;
    width: 100%;
    margin-bottom: 32px;
}

.bottomFooterContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomFooterContent > a:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.bottomFooterContent > a:last-child {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    background-color: hsl(235, 86%, 65%);
    color: hsl(0, 0%, 100%);
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.bottomFooterContent > a:last-child:hover {
    background-color: hsl(235, 86.1%, 71.8%);
    box-shadow: 0 8px 15px hsla(0, 0%, 0%, 0.2);
}
