.container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-4);
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: #fff;
    font-size: 56px;
    font-weight: 800;
    font-family: 'Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    user-select: text;
    cursor: initial;
}
