.cardContainer {
    display: flex;
    flex-direction: column;
    width: 440px;
    max-height: 720px;
    min-height: 200px;
    background-color: var(--background-4);
    border-radius: 4px;
    position: relative;
    box-shadow: var(--elevation-high), var(--elevation-low);
}

.titleBlock {
    flex: 0 0 auto;
    border-radius: 4px 4px 0 0;
    word-wrap: break-word;
    position: relative;
    padding: 16px;
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}

.titleBlock > h1 {
    color: var(--foreground-1);
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.titleBlockCentered {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    position: relative;
    padding: 24px 16px;
    overflow-x: hidden;
    user-select: none;
}

.titleBlockCentered > div:first-child {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--foreground-1);
}

.titleBlockCentered > div:nth-child(2) {
    color: var(--foreground-3);
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.titleBlockCentered > button {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 4px;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 3px;
    color: var(--foreground-3);
}

.titleBlockCentered > button:hover {
    opacity: 1;
}

.description {
    user-select: none;
}

.input label {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    user-select: none;
}

.input label > span {
    color: var(--error-light);
    padding-left: 4px;
}

.errorLabel {
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    text-transform: none;
}

.errorLabel > span {
    padding: 0 4px;
}

.inputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    border-radius: 3px;
    background-color: var(--background-1);
    border: none;
}

.inputContainer > input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    height: 40px;
    outline: none;
    color: var(--foreground-3);
}

.popupContent {
    overflow: hidden scroll;
    padding-right: 8px;
    padding-bottom: 20px;
    position: relative;
    border-radius: 5px 5px 0 0;
    padding-left: 16px;
    flex: 1 1 auto;
}

.popupContent::-webkit-scrollbar {
    width: 8px;
}

.popupContent::-webkit-scrollbar-track {
    border: 2px var(--background-4) solid;
    background-color: var(--background-4);
}

.popupContent::-webkit-scrollbar-thumb {
    border: 2px var(--background-dark) solid;
    border-color: transparent;
    background-color: var(--background-dark);
}

.popupContent > div:first-child {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--foreground-2);
}

.popupContent > div:first-child.small {
    color: var(--foreground-3);
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.messagesContainer {
    box-shadow: var(--elevation-medium), var(--elevation-low);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px 0;
}

.messagesContainer > div > div {
    margin-top: 0;
}

.messagesContainer > div * {
    user-select: none;
}

.messagesContainer img {
    pointer-events: none;
}

.protip {
    margin-top: 20px;
    user-select: none;
}

.protip > div:first-child {
    color: var(--success-light);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 18px;
}

.protip > div:last-child {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
    font-weight: 400;
    color: var(--foreground-2);
}

.protip > div:last-child > strong {
    font-weight: 600;
}

.cardContainer > div:last-child {
    flex: 0 0 auto;
    border-radius: 0 0 5px 5px;
    background-color: var(--background-3);
    padding: 16px;
    overflow-x: hidden;
    position: relative;
    box-shadow: inset 0 1px 0 hsla(220, 6.5%, 18%, 0.6);
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-end;
}

.cardContainer > div:last-child > button {
    height: 38px;
    min-width: 96px;
}

.imagePopup {
    position: absolute;
    left: 20px;
    top: -20px;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 104px;
}

.spoilerCheckbox {
    margin-top: 18px;
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
    font-size: 16px;
    max-width: 100%;
    cursor: pointer;
}

.spoilerCheckbox > * {
    pointer-events: none;
}

.spoilerCheckbox > input {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    outline: 0;
}

.spoilerCheckbox > div:nth-child(2) {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border-radius: 6px;
    border: 1px solid var(--foreground-4);
}

.spoilerCheckbox > div:last-child {
    line-height: 24px;
    padding-left: 8px;
    flex: 1 1 auto;
    color: var(--foreground-2);
}

.loader {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid var(--foreground-1);
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 487px) {
    .cardContainer {
        width: 100% !important;
        height: 100%;
        min-height: 100%;
        border-radius: 0;
    }
}

/* WARNING */

.warning {
    width: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 10px;
    max-height: calc(100dvh - 40px);
    background-color: var(--error-1);
    box-shadow: var(--elevation-low), var(--elevation-high);
    animation: modalShake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translateZ(0);
    user-select: none;
}

.warning > div {
    height: auto;
    flex: 1;
    color: var(--foreground-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed hsla(0, 0%, 100%, 0.4);
    border-radius: 6px;
}

.warning > div > .icons {
    position: relative;
    width: 100px;
    height: 60px;
}

.warning > div > .icons > div {
    transform: translate3d(0, -70px, 0);
}

.warning > div > .icons > div:nth-child(2) {
    transform: translate3d(0, -80px, 0);
}

.warning > div > .icons > div > div {
    position: absolute;
    width: 100px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: translateZ(0);
}

.warning > div > .icons > div:first-child > div {
    background-image: url("https://ucarecdn.com/d2524731-0ab6-4360-b6c8-fc9d5b8147c8/");
    animation: animateInLeft 0.8s ease 0s normal forwards;
    animation-delay: 0.115s;
}

.warning > div > .icons > div:nth-child(2) > div {
    background-image: url("https://ucarecdn.com/5758cb91-bb49-45d9-9fb3-33010d0ff7d3/");
    filter: drop-shadow(0 0 48px rgba(88, 101, 242, 0.5));
    animation: animateInMiddle 0.8s ease 0s normal forwards;
    animation-delay: 0.01s;
}

.warning > div > .icons > div:last-child > div {
    background-image: url("https://ucarecdn.com/89c51576-cb47-4ca5-bb08-ff934cd58b92/");
    animation: animateInRight 0.8s ease 0s normal forwards;
    animation-delay: 0.08s;
}

.warning > div > .title {
    font-size: 22px;
    font-weight: 700;
    padding: 0 8px;
    text-align: center;
}

.warning > div > .description {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 15px;
}

@keyframes modalShake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes animateInLeft {
    0% {
        transform: translateZ(0) rotate(0deg);
        opacity: 0.6;
    }
    4.1667% {
        transform: translate3d(0, -1px, 0) rotate(0deg);
        opacity: 0.68;
    }
    30.8334% {
        transform: translate3d(-48px, -10px, 0) rotate(-36deg);
        opacity: 1;
    }
    58.3334% {
        transform: translate3d(-41px, -3px, 0) rotate(-28deg);
        opacity: 1;
    }
    75% {
        transform: translate3d(-45px, -8px, 0) rotate(-32deg);
        opacity: 1;
    }
    83.3334% {
        transform: translate3d(-44px, -7px, 0) rotate(-30.7deg);
        opacity: 1;
    }
    to {
        transform: translate3d(-44px, -6px, 0) rotate(-30deg);
        opacity: 1;
    }
}

@keyframes animateInMiddle {
    0% {
        transform: translateZ(0);
    }
    30.8334% {
        transform: translate3d(0, -10px, 0);
    }
    58.3334% {
        transform: translate3d(0, -3px, 0);
    }
    75% {
        transform: translate3d(0, -8px, 0);
    }
    83.3334% {
        transform: translate3d(0, -7px, 0);
    }
    to {
        transform: translate3d(0, -6px, 0);
    }
}

@keyframes animateInRight {
    0% {
        transform: translateZ(0) rotate(0deg);
        opacity: 0.6;
    }
    4.1667% {
        transform: translate3d(0, -1px, 0) rotate(0deg);
        opacity: 0.68;
    }
    30.8334% {
        transform: translate3d(48px, -10px, 0) rotate(36deg);
        opacity: 1;
    }
    58.3334% {
        transform: translate3d(41px, -3px, 0) rotate(28deg);
        opacity: 1;
    }
    75% {
        transform: translate3d(45px, -8px, 0) rotate(32deg);
        opacity: 1;
    }
    83.3334% {
        transform: translate3d(44px, -7px, 0) rotate(30.7deg);
        opacity: 1;
    }
    to {
        transform: translate3d(44px, -6px, 0) rotate(30deg);
        opacity: 1;
    }
}

/* ATTACHMENT PREVIEW */

.imagePreview {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: text;
    overflow: hidden;
}

.imagePreview > img {
    max-width: 80dvw;
    max-height: 80dvh;
}

.imageLink {
    position: absolute;
    top: 100%;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    color: var(--foreground-1);
    text-decoration: none;
    line-height: 30px;
    opacity: 0.5;
    transition: opacity 0.2s ease, text-decoration 0.2s ease;
    width: 100px;
    border-radius: 4px;
    outline-offset: 0px;
}

.imageLink:hover {
    opacity: 1;
    text-decoration: underline;
}

/* CHANNEL_EXISTS */

.channelItem {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 0 -8px;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
}

.channelItem:hover {
    background-color: var(--background-hover-1);
}

.channelItem > span:first-of-type {
    font-weight: 500;
    font-size: 14px;
    margin-left: 8px;
    color: var(--foreground-1);
}

.channelItem > span:last-of-type {
    margin-left: 8px;
    color: var(--foreground-4);
    font-size: 12px;
    margin-top: 2px;
}

/* CREATE GUILD */

.serverTemplate {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--background-2);
    margin-bottom: 8px;
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 0;
    transition: background-color 0s;
}

.serverTemplate:hover {
    background-color: var(--background-hover-1);
}

.serverTemplate > img {
    margin: 8px 8px 8px 16px;
}

.serverTemplate > div {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--foreground-1);
}

.serverTemplate > svg {
    transform: rotate(-90deg);
    margin-left: auto;
    margin-right: 16px;
}

.serverTemplateTitle {
    margin-top: 16px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: var(--foreground-2);
    user-select: none;
}

.uploadIcon {
    padding-top: 4px;
    display: flex;
    justify-content: center;
    color: var(--foreground-3);
}

.uploadIcon > input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.uploadIcon > div {
    height: 80px;
    width: 80px;
    position: relative;
}

.uploadIcon > div > div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.input {
    margin-top: 24px;
}

.input > label {
    display: block;
    color: var(--foreground-2);
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
}

.input > div {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input > div > input {
    font-weight: 500;
    padding: 10px;
    height: 40px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    color: var(--foreground-3);
    background-color: var(--background-1);
    border: none;
    outline: none;
}

.input.channel > div > svg {
    width: 16px;
    height: 16px;
    color: var(--foreground-2);
    position: absolute;
    top: 12px;
    left: 8px;
}

.input.channel > div > input {
    padding-left: 28px;
}

/* CREATE GUILD CHANNEL */

.channelType {
    margin-bottom: 20px;
}

.channelType > h2 {
    color: var(--foreground-2);
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-family: "gg sans";
}

.typePick {
    font-family: "gg sans";
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: var(--background-3);
    user-select: none;
}

.typePick:hover {
    background-color: var(--background-hover-1);
}

.typePick > div {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    border-radius: 4px;
    gap: 8px;
}

.typePick > div > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground-3);
    order: 2;
}

.typePick:hover > div > div:first-child {
    color: var(--foreground-2);
}

.typePick > div > div:last-child {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 8px;
    order: 1;
}

.typePick > div > div:last-child > div:first-child {
    opacity: 0.6;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground-3);
}

.typePick .content > div:first-child {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--foreground-3);
}

.typePick .content > div:last-child {
    color: var(--foreground-4);
    margin-top: 4px;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.privateCheck {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    user-select: none;
}

.privateCheck > div:first-child {
    display: flex;
    align-items: center;
    width: 100%;
}

.privateCheck > div:first-child > label {
    flex: 1;
    display: block;
    overflow: hidden;
    color: var(--foreground-1);
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    cursor: pointer;
}

.privateCheck > div:first-child > label > svg {
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    display: inline-block;
    opacity: 0.6;
    margin-right: 3px;
}

.privateCheck > div:first-child > div {
    flex: 0 0 auto;
}

.privateCheck > div:last-child {
    margin-top: 8px;
    color: var(--foreground-3);
    user-select: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.ownerChange {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-bottom: 0px !important;
    user-select: none;
}

.ownerAvatars {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background: no-repeat 50% 0;
}

.ownerAvatars > :first-child {
    opacity: 0.3;
    margin-right: -27px;
}

.ownerAvatars > :last-child {
    position: relative;
    z-index: 1;
}

.imageNav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    columns: var(--foreground-3);
    opacity: 0.6;
    z-index: 1;
    margin-right: -200px;
}

.imageNav > svg {
    width: 26px;
    height: 26px;
}

.imageNav:first-child {
    left: 4px;
    transform: translateY(-50%) rotate(-90deg);
    margin-left: -200px;
}

.imageNav:hover {
    opacity: 1;
}

.imageNav:active {
    color: var(--foreground-1);
}
