.wrapper {
    height: 48px;
    display: grid;
    overflow: hidden;
    grid-template-rows: 48px 1fr;
}

.wrapper.inCall {
    height: 240px;
}

.wrapper.hasVideos {
    height: 50vh;
    height: 50dvh;
}

.wrapper.hideChat {
    z-index: 1;
    height: 100vh;
    height: 100dvh;
    position: relative;
}

.wrapper.hideChat + div {
    z-index: 1;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.wrapper.fullScreen {
    top: 0;
    left: 0;
    z-index: 2;
    position: fixed;
    width: var(--dvw);
    height: var(--dvh);
}

.container {
    z-index: 10;
    min-width: 0;
    padding: 8px;
    height: 48px;
    display: flex;
    flex: 0 0 auto;
    font-size: 16px;
    cursor: default;
    user-select: none;
    line-height: 20px;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    border-bottom: 1px solid #252525;
}

.hasVideos .container > * {
    visibility: hidden;
}

.hasVideos:hover .container > * {
    visibility: visible;
}

.container.inCall {
    background-color: var(--bg-7);
    border-bottom-color: transparent;
}

.container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.container * {
    box-sizing: border-box;
}

.container > div {
    flex: 1;
    display: flex;
}

.content {
    min-width: 0;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
    position: relative;
    margin: 0 12px 0 8px;
}

.icon > svg {
    color: var(--fg-5);
}

.icon > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.icon > div {
    position: absolute;
}

.title,
.titleFriend {
    flex: 0 0 auto;
    min-width: auto;
    font-size: 16px;
    overflow: hidden;
    font-weight: 600;
    margin-right: 8px;
    line-height: 20px;
    color: var(--fg-2);
    white-space: nowrap;
}

.titleFriend {
    cursor: pointer;
}

.contentWrapper {
    min-width: 0;
    display: flex;
    flex: 1 1 auto;
    position: relative;
    justify-content: flex-start;
}

.channelName {
    min-width: 0;
    flex: 0 1 auto;
    max-width: 100%;
    font-weight: 600;
    margin-left: -6px;
    padding-right: 4px;
    position: relative;
    box-sizing: border-box;
}

.channelName > div {
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.channelName > div > input,
.channelName > div > div {
    height: 32px;
    border: none;
    cursor: text;
    padding: 0 6px;
    font-size: 16px;
    overflow: hidden;
    white-space: pre;
    line-height: 32px;
    border-radius: 3px;
    color: var(--fg-2);
    box-sizing: border-box;
    text-overflow: ellipsis;
    background-color: transparent;
}

.channelName > div > input {
    left: 0;
    opacity: 0;
    z-index: 2;
    width: 100%;
    outline: none;
    position: absolute;
}

.channelName:hover > div > input,
.channelName:hover > div > div,
.channelName > div > input:focus {
    background-color: var(--bg-4);
    box-shadow: inset 0 0 0 1px var(--bg-2);
}

.hide .channelName:hover > div > input,
.hide .channelName:hover > div > div,
.hide .channelName > div > input:focus {
    background-color: var(--bg-2);
    box-shadow: inset 0 0 0 1px var(--bg-0);
}

.channelName > div > input:focus {
    opacity: 1;
    background-color: var(--bg-3);
    box-shadow: inset 0 0 0 1px var(--bg-1);
}

.hide .channelName > div > input:focus {
    background-color: var(--bg-1);
    box-shadow: inset 0 0 0 1px var(--bg-7);
}

.channelName > div > input:focus + div {
    opacity: 0;
}

.divider {
    width: 1px;
    height: 24px;
    margin: 0 8px;
    flex: 0 0 auto;
    background-color: var(--border-1);
}

.list {
    display: flex;
    overflow: auto hidden;
}

@-moz-document url-prefix() {
    .list {
        scrollbar-width: none;
    }
}

.list::-webkit-scrollbar {
    width: 0;
    display: none;
}

.item {
    display: flex;
    margin: 0 8px;
    flex-shrink: 0;
    cursor: pointer;
    min-width: 40px;
    padding: 2px 8px;
    font-weight: 500;
    overflow: hidden;
    color: var(--fg-3);
    position: relative;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.item.add {
    color: var(--fg-1);
    background-color: var(--success-0);
}

.item.add.active {
    color: var(--success-fg);
    background-color: transparent;
}

.item.add:not(.active):hover {
    background-color: var(--success-1);
}

.item.active {
    cursor: default;
    color: var(--fg-1);
    background-color: var(--bg-hover-3);
}

.item:hover {
    color: var(--fg-2);
    background-color: var(--bg-hover-1);
}

.status {
    display: flex;
    flex: 0 0 auto;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

.badge {
    width: 16px;
    height: 16px;
    display: flex;
    flex: 0 0 auto;
    font-size: 12px;
    margin-left: 8px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 8px;
    padding-right: 0px;
    color: var(--fg-1);
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    background-color: var(--danger-0);
}

.toolbar {
    min-width: 0;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}

.toolbarIcon {
    width: auto;
    height: 24px;
    margin: 0 8px;
    flex: 0 0 auto;
    cursor: pointer;
    color: var(--fg-3);
    border-radius: 4px;
    background-color: transparent;
}

.toolbarIcon.disabled {
    cursor: default;
    color: var(--fg-5);
}

.toolbarIcon:not(.disabled):hover path {
    color: var(--fg-2);
}

.search {
    height: 24px;
    width: 144px;
    cursor: text;
    display: flex;
    margin: 0 8px;
    padding: 0 2px;
    overflow: hidden;
    color: var(--fg-2);
    border-radius: 4px;
    align-items: stretch;
    background-color: var(--bg-1);
}

.search > div:first-child {
    flex: 1;
    padding: 2px 0;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    line-height: 20px;
    padding-left: 4px;
    color: var(--fg-4);
    position: relative;
    white-space: pre-wrap;
}

.search > div:first-child:focus {
    outline: none;
}

.search > div:last-child {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search > div:last-child > svg {
    width: 16px;
    height: 16px;
}

.backButton {
    width: 36px;
    height: 36px;
    display: none;
    cursor: pointer;
    border-radius: 4px;
    color: var(--fg-3);
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    background-color: transparent;
}

.backButton:hover {
    color: var(--fg-2);
}

.backButton:active {
    color: var(--fg-1);
}

.topic {
    min-width: 0;
    flex: 1 1 auto;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    font-weight: 500;
    margin: 0 0 0 8px;
    line-height: 18px;
    color: var(--fg-3);
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 562px) {
    .backButton {
        display: flex;
    }

    .search {
        display: none;
    }

    .toolbar > a {
        display: none;
    }

    .toolbarIcon.hideOnMobile {
        display: none;
    }
}
