.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    width: 100%;
    flex: 0 0 auto;
    min-height: 48px;
    box-sizing: border-box;
    padding: 8px;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    z-index: 10;
    user-select: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0 rgba(0, 0, 0, 0.05),
        0 2px 0 rgba(0, 0, 0, 0.05);
}

.container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.container * {
    box-sizing: border-box;
}

.container > div {
    display: flex;
    flex: 1;
}

.content {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    min-width: 0;
    overflow: hidden;
}

.icon {
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0 12px 0 8px;
    flex: 0 0 auto;
}

.icon > svg {
    color: var(--foreground-5);
}

.icon > img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.icon > div {
    position: absolute;
}

.title,
.titleFriend {
    margin-right: 8px;
    flex: 0 0 auto;
    min-width: auto;
    overflow: hidden;
    white-space: nowrap;
    color: var(--foreground-2);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.titleFriend {
    cursor: pointer;
}

.contentWrapper {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    min-width: 0;
}

.channelName {
    box-sizing: border-box;
    flex: 0 1 auto;
    position: relative;
    padding-right: 4px;
    min-width: 0;
    max-width: 100%;
    margin-left: -6px;
    font-weight: 600;
}

.channelName > div {
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.channelName > div > input,
.channelName > div > div {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 32px;
    height: 32px;
    padding: 0 6px;
    border: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    border-radius: 3px;
    background-color: transparent;
    color: var(--foreground-2);
    cursor: text;
}

.channelName > div > input {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 2;
    outline: none;
}

.channelName:hover > div > input,
.channelName:hover > div > div,
.channelName > div > input:focus {
    background-color: var(--background-4);
    box-shadow: inset 0 0 0 1px var(--background-2);
}

.channelName > div > input:focus {
    background-color: var(--background-3);
    box-shadow: inset 0 0 0 1px var(--background-1);
    opacity: 1;
}

.channelName > div > input:focus + div {
    opacity: 0;
}

.divider {
    width: 1px;
    height: 24px;
    margin: 0 8px;
    flex: 0 0 auto;
    background-color: var(--border-light);
}

.list {
    display: flex;
}

@-moz-document url-prefix() {
    .list {
        scrollbar-width: none;
    }
}

.list::-webkit-scrollbar {
    display: none;
    width: 0;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 40px;
    border-radius: 4px;
    margin: 0 8px;
    padding: 2px 8px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    color: var(--foreground-3);
    overflow: hidden;
    flex-shrink: 0;
}

.item.add {
    color: var(--foreground-1);
    background-color: var(--success-1);
}

.item.add.active {
    color: var(--success-light);
    background-color: transparent;
}

.item.add:not(.active):hover {
    background-color: var(--success-2);
}

.item.active {
    background-color: var(--background-hover-3);
    color: var(--foreground-1);
    cursor: default;
}

.item:hover {
    background-color: var(--background-hover-1);
    color: var(--foreground-2);
}

.status {
    flex: 0 0 auto;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge {
    background-color: var(--error-1);
    width: 16px;
    height: 16px;
    padding-right: 0px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: var(--foreground-1);
    text-align: center;
    flex: 0 0 auto;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.toolbar {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    min-width: 0;
    background-color: var(--background-4);
    box-shadow: -10px 0px 5px -4px var(--background-4), 20px 0px 5px -4px var(--background-4);
}

.toolbarIcon {
    height: 24px;
    width: auto;
    flex: 0 0 auto;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    color: var(--foreground-3);
}

.toolbarIcon.disabled {
    cursor: default;
    color: var(--foreground-5);
}

.toolbarIcon:not(.disabled):hover path {
    color: var(--foreground-2);
}

.search {
    background-color: var(--background-1);
    display: flex;
    align-items: stretch;
    height: 24px;
    width: 144px;
    border-radius: 4px;
    overflow: hidden;
    cursor: text;
    padding: 0 2px;
    margin: 0 8px;
    color: var(--foreground-2);
}

.search > div:first-child {
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 0;
    padding-left: 4px;
    white-space: pre-wrap;
    color: var(--foreground-4);
    position: relative;
}

.search > div:first-child:focus {
    outline: none;
}

.search > div:last-child {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search > div:last-child > svg {
    width: 16px;
    height: 16px;
}

.backButton {
    background-color: transparent;
    width: 44px;
    height: 44px;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    border-radius: 4px;
    color: var(--foreground-3);
    transform: rotate(-90deg);
    cursor: pointer;
}

.backButton:hover {
    color: var(--foreground-2);
}

.backButton:active {
    color: var(--foreground-1);
}

.topic {
    flex: 1 1 auto;
    position: relative;
    min-width: 0;
    margin: 0 0 0 8px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    color: var(--foreground-3);
    cursor: pointer;
}

@media screen and (max-width: 562px) {
    .backButton {
        display: flex;
    }

    .search {
        display: none;
    }

    .toolbar > a {
        display: none;
    }

    .toolbarIcon.hideOnMobile {
        display: none;
    }
}
