.disclaimer {
    top: auto;
    left: 50%;
    width: 100%;
    z-index: 100;
    bottom: 20px;
    display: flex;
    position: fixed;
    font-size: 16px;
    font-weight: 600;
    font-weight: 500;
    line-height: 28px;
    padding: 8px 12px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: var(--foreground-1);
    transform: translateX(-50%);
    background-color: var(--error-1);
    max-width: clamp(300px, 90dvw, 850px);
    max-width: clamp(300px, 90vw, 850px);
}

.disclaimer a {
    font-weight: 700;
    color: var(--foreground-1);
}

.wrapper {
    display: flex;
    width: var(--dvw);
    height: var(--dvh);
    align-items: center;
    background-size: 45%;
    justify-content: center;
    background-repeat: repeat;
    background-color: var(--background-1);
    background-image: url("/assets/app/bg-pattern.png");
}

.wrapper form {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 16px;
    font-size: 18px;
    border-radius: 0px;
    box-shadow: var(--elevation-high);
    color: var(--foreground-4);
    background-color: var(--background-4);
    z-index: 1;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    text-align: center;
}

.header h1 {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 30px;
    color: var(--foreground-1);
}

.header div {
    font-size: 1rem;
    line-height: 20px;
    color: var(--foreground-3);
}

.loginBlock {
    width: 100%;
    margin-top: 20px;
}

.loginBlock > div:not(:last-child) {
    margin-bottom: 20px;
}

.loginBlock > div:nth-child(3) {
    margin-bottom: 40px;
}

.passwordForgot {
    display: block;
    margin: 4px 0 20px 0;
    width: auto;
    height: auto;
    padding: 2px 0;
    color: var(--accent-light);
    background-color: transparent;
    font-size: 14px;
}

.passwordForgot:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button.submit {
    color: var(--foreground-1);
    background-color: var(--accent-1);
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 8px;
    width: 100%;
    height: 44px;
    min-width: 130px;
    cursor: pointer;
}

.button.submit:hover,
.button.submit:focus-visible {
    background-color: var(--accent-2);
}

.button.submit:active {
    background-color: var(--accent-3);
}

.bottomText {
    margin-top: 4px;
    height: 18px;
    display: flex;
    align-items: center;
}

.bottomText > span {
    font-size: 14px;
    line-height: 16px;
    user-select: none;
    color: var(--foreground-4);
    opacity: 0.9;
}

.bottomText > a {
    color: var(--accent-light);
    font-size: 14px;
    display: inline-block;
    margin-left: 4px;
    padding: 0;
    text-decoration: none;
    width: auto;
    height: auto;
}

.bottomText > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes popIn {
    from {
        opacity: 0.5;
        transform: translateY(-200px) scale(1.2);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@media screen and (min-width: 545px) {
    .wrapper form {
        width: 480px;
        height: fit-content;
        padding: 32px;
        border-radius: 5px;
        animation: popIn 0.25s ease-in-out;
    }

    .disclaimer {
        top: 20px;
        bottom: auto;
    }
}

@media screen and (min-width: 830px) {
    .wrapper form {
        width: 550px;
        height: fit-content;
        padding: 32px;
        border-radius: 5px;
    }
}
