@font-face {
    font-family: "gg sans";
    src: url("../public/fonts/ggsans/400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "gg sans";
    src: url("../public/fonts/ggsans/500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "gg sans";
    src: url("../public/fonts/ggsans/600.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "gg sans";
    src: url("../public/fonts/ggsans/700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "gg sans";
    src: url("../public/fonts/ggsans/800.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ginto Nord";
    src: url("../public/fonts/ginto/GintoNord.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-1: hsl(225, 6%, 13%);
        --background-2: hsl(228, 7%, 15%);
        --background-3: hsl(220, 7%, 18%);
        --background-4: hsl(218, 8%, 20%);
        --background-5: hsl(225, 7%, 24%);
        --background-6: hsl(225, 7%, 29%);

        --background-light-1: hsl(217, 8%, 34%);
        --background-dark-1: hsl(220, 8%, 7%);
        --background-dark-2: hsla(0, 0%, 0%, 0.9);
        --background-dark-3: hsla(0, 0%, 0%, 0.8);
        --background-dark-4: hsla(0, 0%, 0%, 1);

        --background-hover-1: hsl(228, 6%, 32.5%, 0.3);
        --background-hover-2: hsl(228, 6%, 32.5%, 0.6);
        --background-hover-3: hsl(218, 7%, 29%);
        --background-hover-4: hsla(0, 0%, 1%, 0.06);

        --background-hover-dark-1: hsla(0, 0%, 0%, 0.3);
        --background-hover-dark-2: hsla(0, 0%, 0%, 0.6);

        --background-active: hsl(218, 8%, 28%);
        --background-mention: hsla(235, 85.6%, 64.7%, 0.3);
        --background-message-highlight: hsl(235, 86.1%, 77.5%, 0.08);
        --background-message-highlight-hover: hsla(235, 85.5%, 64.7%, 0.1);
        --background-mentioned: color-mix(
            in oklab,
            hsl(40.421 calc(1 * 86.364%) 56.863% / 0.1) 100%,
            hsl(0 0% 0% / 0.1) 0%
        );
        --background-mentioned-hover: color-mix(
            in oklab,
            hsl(40.421 calc(1 * 86.364%) 56.863% / 0.08) 100%,
            hsl(0 0% 0% / 0.08) 0%
        );

        --foreground-0: hsl(0, 0%, 100%);
        --foreground-1: hsl(210, 9%, 95%, 1);
        --foreground-2: hsl(216, 8%, 87%);
        --foreground-3: hsl(216, 4%, 74%, 1);
        --foreground-4: hsl(214, 4%, 65%, 1);
        --foreground-5: hsl(223, 6%, 53%, 1);

        --foreground-light: hsl(218, 5%, 47%, 1);

        --accent-1: hsl(235, 86%, 65%);
        --accent-2: hsl(235, 51%, 52%);
        --accent-3: hsl(235, 47%, 44%);
        --accent-border: hsl(235, 86.1%, 77.5%);
        --accent-light: hsl(200, 98%, 50%);
        --accent-1-15: hsla(235, 86%, 65%, 0.05);

        --success-1: hsl(139, 47%, 33%);
        --success-2: hsl(138, 47%, 24%);
        --success-3: hsl(138, 47%, 22%);
        --success-light: hsla(145, 65%, 39.2%, 1);

        --error-1: hsl(359, 87%, 60%);
        --error-2: hsl(359, 56%, 40%);
        --error-3: hsl(359, 56%, 35%);
        --error-light: hsl(359, 82%, 74%);

        --warning-1: hsl(38, 96%, 54%);
        --warning-2: hsla(38, 96%, 54%, 0.102);
        --warning-foreground: color-mix(
            in oklab,
            hsl(40.421 calc(1 * 86.364%) 56.863% / 1) 100%,
            black 0%
        );

        --default-1: hsl(217, 8%, 34%);
        --default-2: hsl(213, 5%, 43%);
        --default-3: hsl(218, 5%, 47%);
        --default-light: #737e8c;

        --elevation-low: 0 0 0 1px hsla(0, 0%, 0%, 0.15);
        --elevation-medium: 0 4px 4px hsla(0, 0%, 0%, 0.15);
        --elevation-high: 0 8px 16px hsla(0, 0%, 0%, 0.24);
        --elevation-high-dark: 0 2px 10px hsla(0, 0%, 0%, 0.2);

        --border-light: hsla(217, 8%, 34%, 0.5);

        --font-code: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console",
            "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
            "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-meta .hljs-keyword,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable.language_ {
        color: #ff7b72;
    }

    .hljs-title,
    .hljs-title.class_,
    .hljs-title.class_.inherited__,
    .hljs-title.function_ {
        color: #d2a8ff;
    }

    .hljs-attr,
    .hljs-attribute,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-operator,
    .hljs-variable,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-id {
        color: #79c0ff;
    }

    .hljs-regexp,
    .hljs-string,
    .hljs-meta .hljs-string {
        color: #a5d6ff;
    }

    .hljs-built_in,
    .hljs-symbol {
        color: #ffa657;
    }

    .hljs-comment,
    .hljs-code,
    .hljs-formula {
        color: #8b949e;
    }

    .hljs-name,
    .hljs-quote,
    .hljs-selector-tag,
    .hljs-selector-pseudo {
        color: #7ee787;
    }

    .hljs-subst {
        color: #c9d1d9;
    }

    .hljs-section {
        color: #1f6feb;
        font-weight: 700;
    }

    .hljs-bullet {
        color: #f2cc60;
    }

    .hljs-emphasis {
        color: #c9d1d9;
        font-style: italic;
    }

    .hljs-strong {
        color: #c9d1d9;
        font-weight: 700;
    }

    .hljs-addition {
        color: #aff5b4;
        background-color: #033a16;
    }

    .hljs-deletion {
        color: #ffdcd7;
        background-color: #67060c;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-1: hsl(225, 6%, 13%);
        --background-2: hsl(228, 6%, 15%);
        --background-3: hsl(220, 7%, 18%);
        --background-4: hsl(223, 7%, 21%);
        --background-5: hsl(225, 7%, 24%);

        --background-light-1: hsl(217, 8%, 34%);
        --background-dark-1: hsl(220, 9%, 7%);
        --background-dark-2: hsla(0, 0%, 0%, 0.9);
        --background-dark-3: hsla(0, 0%, 0%, 0.8);

        --background-hover-1: hsl(228, 6%, 32.5%, 0.3);
        --background-hover-2: hsl(228, 6%, 32.5%, 0.6);
        --background-hover-3: hsl(218, 7%, 29%);
        --background-hover-4: hsla(0, 0%, 1%, 0.06);

        --background-hover-dark-1: hsla(0, 0%, 0%, 0.3);
        --background-hover-dark-2: hsla(0, 0%, 0%, 0.6);

        --background-active: hsl(218, 8%, 28%);
        --background-mention: hsla(235, 85.6%, 64.7%, 0.3);
        --background-message-highlight: hsl(235, 86.1%, 77.5%, 0.08);
        --background-message-highlight-hover: hsl(235, 85.6%, 64.7%, 0.1);

        --foreground-1: hsl(210, 9%, 95%, 1);
        --foreground-2: hsl(210, 9%, 87%, 1);
        --foreground-3: hsl(216, 4%, 74%, 1);
        --foreground-4: hsl(214, 4%, 65%, 1);
        --foreground-5: hsl(223, 6%, 53%, 1);

        --foreground-light: hsl(218, 5%, 47%, 1);

        --accent-1: hsl(235, 87%, 65%);
        --accent-2: hsl(235, 51%, 52%);
        --accent-3: hsl(235, 47%, 44%);
        --accent-border: hsl(235, 86.1%, 77.5%);
        --accent-light: hsl(197, 100%, 48%);

        --success-1: hsl(139, 47%, 33%);
        --success-2: hsl(138, 47%, 24%);
        --success-3: hsl(138, 47%, 22%);
        --success-light: hsla(145, 65%, 39.2%, 1);

        --error-1: hsl(359, 87%, 60%);
        --error-2: hsl(359, 56%, 40%);
        --error-3: hsl(359, 56%, 35%);
        --error-light: hsl(359, 82%, 74%);

        --warning-1: hsl(38, 96%, 54%);
        --warning-2: hsla(38, 96%, 54%, 0.102);

        --default-1: hsl(217, 8%, 34%);
        --default-2: hsl(213, 5%, 43%);
        --default-3: hsl(218, 5%, 47%);
        --default-light: #737e8c;

        --elevation-low: 0 0 0 1px hsla(0, 0%, 0%, 0.15);
        --elevation-medium: 0 4px 4px hsla(0, 0%, 0%, 0.15);
        --elevation-high: 0 8px 16px hsla(0, 0%, 0%, 0.24);
        --elevation-high-dark: 0 2px 10px hsla(0, 0%, 0%, 0.2);

        --border-light: hsla(217, 8%, 34%, 0.5);

        --font-code: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console",
            "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
            "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-meta .hljs-keyword,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable.language_ {
        color: #d73a49;
    }

    .hljs-title,
    .hljs-title.class_,
    .hljs-title.class_.inherited__,
    .hljs-title.function_ {
        color: #6f42c1;
    }

    .hljs-attr,
    .hljs-attribute,
    .hljs-literal,
    .hljs-meta,
    .hljs-number,
    .hljs-operator,
    .hljs-variable,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-id {
        color: #005cc5;
    }

    .hljs-regexp,
    .hljs-string,
    .hljs-meta .hljs-string {
        color: #032f62;
    }

    .hljs-built_in,
    .hljs-symbol {
        color: #e36209;
    }

    .hljs-comment,
    .hljs-code,
    .hljs-formula {
        color: #6a737d;
    }

    .hljs-name,
    .hljs-quote,
    .hljs-selector-tag,
    .hljs-selector-pseudo {
        color: #22863a;
    }

    .hljs-subst {
        color: #24292e;
    }

    .hljs-section {
        color: #005cc5;
        font-weight: 700;
    }

    .hljs-bullet {
        color: #735c0f;
    }

    .hljs-emphasis {
        color: #24292e;
        font-style: italic;
    }

    .hljs-strong {
        color: #24292e;
        font-weight: 700;
    }

    .hljs-addition {
        color: #22863a;
        background-color: #f0fff4;
    }

    .hljs-deletion {
        color: #b31d28;
        background-color: #ffeef0;
    }
}

img[alt] {
    text-indent: -9999px;
}

/* Change scrollbar */

@-moz-document url-prefix() {
    .scrollbar {
        scrollbar-color: var(--background-dark-1) var(--background-3);
    }
}

.scrollbar::-webkit-scrollbar {
    width: 16px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 1000px;
    border: 4px var(--background-4) solid;
    background-color: var(--background-3);
    background-clip: padding-box;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    border: 4px var(--background-4) solid;
    border-color: transparent;
    background-color: var(--background-1);
    background-clip: padding-box;
}

.splashScreenPlayer {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-1);
}

.splashScreenPlayer > video {
    width: 200px;
    height: 200px;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    font-family: inherit;
    box-sizing: border-box;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    font-size: 16px;
    scroll-behavior: smooth;
    color: var(--foreground-3);
    background-color: var(--background-1);
    font-family: "gg sans", "Noto sans", sans-serif;
}

html {
    color-scheme: light dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    cursor: default;
    user-select: none;
}

strong {
    font-weight: 600;
}

.button {
    gap: 8px;
    width: auto;
    height: 32px;
    border: none;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    background: none;
    overflow: hidden;
    font-weight: 600;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;
    border-radius: 3px;
    position: relative;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    color: var(--foreground-1);
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.button:has(> svg) {
    padding-left: 8px;
}

.button:has(> svg):has(:not(:empty)) {
    padding-right: 8px;
}

.button.submit {
    height: 38px;
    min-width: 96px;
}

.button.small {
    height: 24px;
    padding: 2px 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    caret-color: var(--foreground-2);
    -webkit-text-fill-color: var(--foreground-2);
    transition: background-color 0s ease-in-out 1000000s;
}

input::placeholder {
    user-select: none;
}

.button.blue {
    background-color: var(--accent-1);
}

.button.blue:not(.disabled):hover {
    background-color: var(--accent-2);
}

.button.blue:not(.disabled):active {
    background-color: var(--accent-3);
}

.button.green {
    background-color: var(--success-1);
}

.button.green:not(.disabled):hover {
    background-color: var(--success-2);
}

.button.green:not(.disabled):active {
    background-color: var(--success-3);
}

.button.red {
    background-color: var(--error-1);
}

.button.red:not(.disabled):hover {
    background-color: var(--error-2);
}

.button.red:not(.disabled):active {
    background-color: var(--error-3);
}

.button.grey {
    background-color: var(--default-1);
}

.button.grey:not(.disabled):hover {
    background-color: var(--default-2);
}

.button.grey:not(.disabled):active {
    background-color: var(--default-3);
}

.button.underline {
    margin-right: 8px;
}

.button.underline:hover {
    text-decoration: underline;
}

.button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.buttonGrid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.smallTitle {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    user-select: none;
}

.keybind {
    color: var(--foreground-1);
    display: inline-flex;
    margin-right: -2px;
    transform: translateY(-1px);
    position: relative;
    height: 23px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.keybind > span {
    box-shadow: inset 0 -4px 0 hsl(225 6.3% 12.5%);
    background-color: hsl(227 6.5% 27.3%);
    border: 1px solid hsl(223 6.7% 20.6%);
    padding: 3px 6px 4px;
    border-radius: 4px;
    min-width: 14px;
    min-height: 14px;
    text-align: center;
    position: relative;
    height: 23px;
    line-height: 12px;
}

.keybind > span:active {
    box-shadow: inset 0 -2px 0 hsl(223 6.7% 20.6%);
    border: 1px solid hsl(225 6.3% 12.5%);
    transform: translateY(2px);
    padding-bottom: 2px;
    height: 21px;
}

/* Basic editor styles */
.tiptap {
    > * + * {
        margin-top: 0.75em;
    }

    pre {
        color: #fff;
        background: #0d0d0d;
        border-radius: 0.5rem;
        font-family: "JetBrainsMono", monospace;
        padding: 0.75rem 1rem;

        code {
            background: none;
            color: inherit;
            font-size: 0.8rem;
            padding: 0;
        }
    }
}

code {
    font-family: var(--font-code);
}

.hljs {
    display: block;
    padding: 0.5rem;
    line-height: 1rem;
    border-radius: 4px;
    font-size: 0.875rem;
    color: var(--foreground-3);
    background-color: var(--background-3);
}

.emoji {
    height: 1.31em;
    margin-bottom: -5px;
}

/* Image cropper */

.cropper-container * {
    cursor: grab !important;
}

.cropper-crop-box,
.cropper-view-box,
.cropper-face.cropper-move {
    border-radius: 50%;
    pointer-events: none;
}

.cropper-view-box {
    outline: 6px solid #ffffff !important;
}

.cropper-center {
    opacity: 0 !important;
}
