.alert {
    gap: 10px;
    top: 20px;
    left: 50%;
    z-index: 1000;
    display: flex;
    position: fixed;
    font-size: 16px;
    font-weight: 600;
    user-select: none;
    align-items: center;
    border-radius: 1000px;
    color: var(--danger-fg);
    transform: translateX(-50%);
    padding: 12px 28px 10px 22px;
    border: 1px solid transparent;
    background-color: var(--bg-7);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.alert.success {
    color: var(--bg-7);
    background-color: var(--success-light);
}

@keyframes slideIn {
    0% {
        transform: translateX(-50%) translateY(-100%);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}
