.container {
    max-height: calc(100dvh - 60px);
    background-color: var(--background-3);
    width: 420px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: var(--elevation-high), var(--elevation-low);
    user-select: none;
}

.container > div:first-child {
    padding: 16px;
    background-color: var(--background-1);
    box-shadow: var(--elevation-low);
}

.container > div:first-child > h1 {
    color: var(--foreground-1);
    font-weight: 500;
    font: 16px;
    line-height: 20px;
}

.container > div:nth-child(2) {
    position: relative;
    min-height: 0;
    flex: 1 1 auto;
    overflow: hidden scroll;
    padding: 8px 0 0 8px;
}

@-moz-document url-prefix() {
    .container > div:nth-child(2) {
        padding-right: 8px;
    }
}

.container > div:nth-child(2)::-webkit-scrollbar {
    width: 8px;
}

.container > div:nth-child(2)::-webkit-scrollbar-track {
    border: 2px var(--background-3) solid;
    background-color: var(--background-3);
}

.container > div:nth-child(2)::-webkit-scrollbar-thumb {
    border: 2px var(--background-3) solid;
    border-color: transparent;
    background-color: var(--background-1);
}

.noPinnedContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8px 0 16px 0;
}

.noPinnedContent > div:first-child {
    width: 120px;
    height: 120px;
    background-size: 94px 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.noPinnedContent > div:last-child {
    white-space: pre;
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--foreground-2);
}

.noPinnedBottom {
    padding: 16px;
    text-align: center;
    background-color: var(--background-1);
    height: 53px;
    box-sizing: content-box;
}

.noPinnedBottom > div {
    padding-top: 10px;
}

.noPinnedBottom > div > div:first-child {
    color: var(--success-light);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 18px;
}

.noPinnedBottom > div > div:last-child {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
    font-weight: 400;
    color: var(--foreground-2);
}

.message {
    position: relative;
    border: 1px solid var(--background-1);
    border-radius: 4px;
    user-select: none;
    margin: 0 0 6px;
    overflow: hidden;
}

.message > div {
    padding: 10px 0;
    background-color: var(--background-4);
}

.message > div > div {
    margin-top: 0;
}

.message > div img {
    pointer-events: none;
}

.message > div > div * {
    user-select: none;
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0;
    width: 24px;
    height: 24px;
    color: var(--foreground-3);
    background-color: transparent;
    visibility: hidden;
    cursor: pointer;
    border-radius: 4px;
}

.close:hover {
    color: var(--foreground-1);
}

@media screen and (max-width: 480px) {
    .container {
        width: 100vw;
        max-width: 100vw;
        height: 100vh;
        max-height: 100vh;
        width: 100dvw;
        max-width: 100dvw;
        height: 100dvh;
        max-height: 100dvh;
        border-radius: 0;
    }

    .close {
        visibility: visible;
    }

    .scroller {
        max-height: unset;
    }
}
