.footer {
    background-color: hsl(206, 9%, 15%);
    padding-top: 80px;
    padding-bottom: 64px;
    color: hsl(0, 0%, 100%);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer > div {
    width: 100%;
    max-width: 1260px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 20px;
    padding: 0 24px;
}

.infoBox {
    grid-column: span 3;
    grid-row-end: span 2;
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
    user-select: none;
}

.infoBox > h4 {
    color: #5865f2;
    font-family: 'Ginto Nord', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    user-select: text;
    cursor: initial;
}

.language {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.langChooser {
    position: absolute;
    z-index: 10;
    bottom: 100%;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.1);
}

.langChooser > div {
    max-height: 320px;
    min-width: 150px;
    overflow: hidden auto;
    overscroll-behavior: contain;
}

.langItem {
    padding: 8px;
    cursor: pointer;
}

.langItem:hover {
    border-radius: 4px;
    background-color: hsla(217, 8%, 34%, 0.16);
}

.langItem > div {
    display: flex;
    align-items: center;
}

.langItem > div > img {
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.langItem > div > div {
    color: hsl(206, 9%, 15%);
    font-size: 14px;
    line-height: 18px;
}

.language > div {
    position: relative;
}

.language > div > div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language > div > div > div:not(.langChooser > div) {
    display: flex;
    align-items: center;
}

.language > div > div > div > img {
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.language > div > div > div > div {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    line-height: 18px;
}

.language > div > div > img {
    padding-left: 8px;
}

.socials {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.socials > a {
    display: flex;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.socials > a:not(:first-child) {
    margin-left: 24px;
}

.footer > div:first-child > div:nth-child(2) {
    display: none;
}

.footerColumn {
    grid-column: span 2;
    margin-bottom: 40px;
}

.footerColumn > h5 {
    color: hsl(235, 86%, 65%);
    /* padding-top: 8px; */
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    user-select: text;
    cursor: initial;
}

.footerColumn > a {
    color: inherit;
    margin-top: 8px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    line-height: 24px;
}

.footerColumn > a:hover {
    text-decoration: underline;
}

.footer > div:last-child > div {
    grid-column: span 12;
}

.footerSeparator {
    background-color: hsl(235, 86%, 65%);
    height: 1px;
    width: 100%;
    margin-bottom: 32px;
}

.bottomFooterContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomFooterContent > a:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.bottomFooterContent > a:last-child {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    background-color: hsl(235, 86%, 65%);
    color: hsl(0, 0%, 100%);
    line-height: 24px;
    cursor: pointer;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.bottomFooterContent > a:last-child:hover {
    background-color: hsl(235, 86.1%, 71.8%);
    box-shadow: 0 8px 15px hsla(0, 0%, 0%, 0.2);
}

@media screen and (min-width: 768px) {
    .footer > div {
        grid-template-columns: repeat(8, 1fr);
        padding: 0 40px;
    }

    .footer > div:first-child > div:nth-child(2) {
        display: block;
        grid-column: span 1;
        grid-row-end: span 2;
    }
}

@media screen and (min-width: 1024px) {
    .footer > div {
        grid-template-columns: repeat(12, 1fr);
    }

    .footer > div:first-child > div:nth-child(2) {
        display: block;
        grid-column: span 1;
        grid-row-end: span 2;
    }
}
