.nav {
    display: flex;
    flex-direction: column;
    width: 240px;
    min-height: 0;
    flex: 0 0 auto;
    background-color: var(--background-3);
}

.privateChannels {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    flex: 1;
    flex-direction: column;
}

.searchContainer {
    z-index: 2;
    flex: 0 0 auto;
    padding: 0 10px;
    height: 48px;
    align-items: center;
    position: relative;
    display: flex;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0 rgba(0, 0, 0, 0.05),
        0 2px 0 rgba(0, 0, 0, 0.05);
}

.searchButton {
    width: 100%;
    height: 28px;
    justify-content: start;
    overflow: hidden;
    border-radius: 4px;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;
    padding: 1px 6px;
    color: var(--foreground-4);
    background-color: var(--background-1);
}

.scroller {
    overflow: hidden scroll;
    padding-right: 0px;
    position: relative;
    min-height: 0;
    flex: 1 1 auto;
}

.scroller::-webkit-scrollbar {
    width: 8px;
}

.scroller::-webkit-scrollbar-track {
    border-radius: 100vw;
    border: 2px var(--background-3) solid;
    background-color: transparent;
    background-clip: padding-box;
}

.scroller::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    border: 2px var(--background-3) solid;
    background-color: transparent;
    background-clip: padding-box;
}

.scroller:hover::-webkit-scrollbar-thumb {
    background-color: var(--background-1);
}

.channelList {
    position: relative;
    list-style: none;
}

.channelList > div:first-child {
    height: 8px;
}
