.userSectionContainer {
    flex: 0 0 auto;
    background-color: var(--background-2);
    z-index: 1;
}

.userSection {
    height: 52px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 1px;
    user-select: none;
}

.avatarWrapper {
    display: flex;
    align-items: center;
    margin-left: -2px;
    min-width: 120px;
    padding-left: 2px;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}

.avatarWrapper:hover {
    background-color: var(--background-hover-1);
}

.avatarWrapper > div:first-child {
    position: relative;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 2px;
}

.avatarWrapper > div > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.avatarStatus {
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--background-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarStatus > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.contentWrapper {
    padding: 4px 0 4px 8px;
    flex-grow: 1;
    margin-right: 4px;
    min-width: 0;
}

.contentWrapper > div:first-child {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: var(--foreground-1);
}

.contentWrapper > div:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 13px;
    font-size: 12px;
    font-weight: 400;
    color: var(--foreground-3);
}

.toolbar {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.toolbar > button {
    cursor: pointer;
    line-height: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

.toolbar > button:hover {
    background-color: var(--background-hover-1);
}

.toolbar > button:hover path {
    fill: var(--foreground-1);
}
