.appContainer {
    display: flex;
    overflow: hidden;
    width: var(--dvw);
    height: var(--dvh);
}

.appWrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.channelsContainer {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
    min-height: 0;
    min-width: 0;
    flex: 1 1 auto;
}

.error {
    display: flex;
    width: var(--dvw);
    height: var(--dvh);
    align-items: center;
    justify-content: center;
}

.error > section {
    width: 480px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: var(--elevation-high);
    background-color: var(--background-5);
}

.error > section > h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.error > section > p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    color: var(--foreground-2);
}
