.nav {
    width: 72px;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
}

.list {
    min-height: 0;
    flex: 1 1 auto;
    user-select: none;
    padding-right: 0px;
    position: relative;
    padding: 12px 0 4px 0;
    overflow: hidden scroll;
    background-color: var(--bg-0);
}

.list::-webkit-scrollbar {
    width: 0px;
}

.navIcon {
    position: relative;
    margin: 0 0 8px;
    display: flex;
    justify-content: center;
    width: 72px;
}

.wrapper,
.active {
    padding: 0;
    width: 48px;
    height: 48px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    color: var(--fg-1);
    position: relative;
    align-items: center;
    outline-offset: 2px;
    text-decoration: none;
    justify-content: center;
    background-color: var(--bg-3);
    transition: background-color 0.15s ease-in-out, border-radius 0.15s ease-in-out,
        color 0.15s ease-in-out, transform 0.05s ease-in-out;
}

.wrapper:hover,
.active {
    border-radius: 33%;
    background-color: var(--accent-0);
}

.wrapper > span {
    overflow: hidden;
}

.green > .active,
.green > .wrapper:hover {
    background-color: var(--accent-0);
}

.wrapper img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.wrapper:hover img,
.active img {
    border-radius: 33%;
}

.wrapper:active {
    transform: translateY(1px);
}

.wrapper:hover img {
    border-radius: 33% !important;
}

.green > .wrapper {
    color: var(--fg-2);
}

.green > .wrapper:hover,
.green > .active {
    color: var(--fg-1);
}

.marker {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 8px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.marker > div {
    display: block;
    margin-left: -4px;
    position: absolute;
    border-radius: 0 4px 4px 0;
    background-color: var(--fg-1);
}

.separator {
    height: 2px;
    width: 32px;
    border-radius: 4px;
    margin: 0 auto 8px auto;
    background-color: var(--bg-4);
}

.badgeContainer,
.topBadge {
    right: -3px;
    width: 23px;
    height: 23px;
    bottom: -3px;
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    background-color: var(--bg-0);
}

.topBadge {
    top: -3px;
    bottom: unset;
}

.badgeContainer > div,
.topBadge > div {
    width: 16px;
    height: 16px;
    display: flex;
    flex: 0 0 auto;
    font-size: 12px;
    min-width: 16px;
    min-height: 16px;
    font-weight: 700;
    line-height: 16px;
    color: var(--fg-1);
    text-align: center;
    border-radius: 7px;
    align-items: center;
    letter-spacing: 0.02rem;
    justify-content: center;
    text-transform: uppercase;
    background-color: var(--danger-0);
}

.topBadge > div {
    background-color: var(--success-0);
}
