.container {
    gap: 8px;
    width: 300px;
    display: flex;
    overflow: hidden;
    min-height: 220px;
    border-radius: 8px;
    position: relative;
    flex-direction: column;
    max-height: calc(var(--dvh) - 28px);
    background-color: var(--background-dark-1);
}

.loading {
    width: 300px;
    height: 200px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: var(--background-1);
}

.container > div:not(.topTools) {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
    max-height: calc(var(--dvh) - 28px);
}

.container > header {
    padding-bottom: 35px;
}

.banner {
    z-index: 0;
    contain: paint;
    overflow: hidden;
    min-width: 300px;
    min-height: 105px;
    position: relative;
}

.banner foreignObject > div {
    display: flex;
    font-size: 12px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.banner foreignObject > div::before {
    bottom: 0;
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 1px solid hsl(0 calc(1 * 0%) 100% / 0.03);
}

.banner .background {
    position: inherit;
    border-radius: 3px 3px 0 0;
    width: 100%;
    display: inline-block;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.avatar {
    top: 61px;
    left: 16px;
    z-index: 0;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
}

.avatar > div {
    border-radius: 50%;
}

.avatar svg {
    width: auto;
    display: block;
    content: paint;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    overflow-clip-margin: content-box;
}

.avatar img {
    width: 100%;
    height: 100%;
    overflow: clip;
    cursor: pointer;
    grid-area: 1 / 1;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    overflow-clip-margin: content-box;
}

.avatar foreignObject {
    overflow: hidden;
    border-radius: 50%;
}

.avatar rect {
    cursor: pointer;
    pointer-events: auto;
    transform-origin: 0px 0px;
}

.overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grdid;
    cursor: pointer;
    position: relative;
}

.overlay::after {
    top: -1;
    right: -1;
    opacity: 0;
    z-index: 0;
    content: "";
    width: 102%;
    height: 102%;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    background-color: #11111b;
    transition: opacity 0.1s ease-in-out;
}

.overlay.banner::after {
    z-index: 1;
    border-radius: 0;
    background-color: hsl(0, 0%, 0%, 0.4);
}

.avatar:hover .overlay::after,
.avatar:focus-within .overlay::after {
    opacity: 0.4;
}

.banner:hover .overlay::after,
.banner:focus-within .overlay::after,
.banner:hover .overlay > p,
.banner:focus-within .overlay > p {
    opacity: 1;
}

.overlay > div {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: var(--foreground-1);
    animation: popIn 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay.banner > div {
    animation: none;
}

.overlay.banner > p {
    top: 50%;
    left: 50%;
    z-index: 2;
    opacity: 0;
    animation: none;
    font-size: 14px;
    font-weight: 500;
    position: static;
    user-select: none;
    line-height: 1.285;
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: var(--foreground-1);
    transform: translate(-50%, -50%);
    transition: opacity 0.1s ease-in-out;
}

.avatar:hover .overlay > div,
.avatar:focus-within .overlay > div,
.banner:hover .overlay > div,
.banner:focus-within .overlay > div {
    display: flex;
}

.customStatus {
    top: 4px;
    z-index: 2;
    left: 106px;
    text-align: left;
    width: fit-content;
    position: relative;
    background-color: transparent;
}

.customStatus > div:not(.statusTools) {
    cursor: pointer;
    min-width: 56px;
    max-width: 184px;
    position: relative;
    border-radius: 12px;
    box-shadow: var(--elevation-low);
    background: hsl(225, 6.667%, 23.529%);
    border: 1px solid hsla(1, 0%, 100%, 0.03);
}

.customStatus > div:not(.statusTools)::before {
    top: -11px;
    left: 10px;
    content: "";
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    border-radius: 50%;
    position: absolute;
    box-shadow: var(--elevation-low);
    background: hsl(225, 6.667%, 23.529%);
    border: 1px solid hsla(1, 0%, 100%, 0.03);
}

.customStatus > div:not(.statusTools)::after {
    left: 1px;
    top: -24px;
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    position: absolute;
    box-shadow: var(--elevation-low);
    background: hsl(225, 6.667%, 23.529%);
    border: 1px solid hsla(1, 0%, 100%, 0.03);
}

.statusContent {
    max-height: 80px;
    display: block;
    overflow: hidden;
    position: relative;
    padding: 10px 12px;
    border-radius: 12px;
    word-wrap: break-word;
    background: hsl(225, 6.667%, 23.529%);
    transition: max-height 0.3s ease-in-out;
}

.statusContent > div {
    display: flex;
    overflow: hidden;
    align-items: center;
    word-wrap: break-word;
    word-break: break-word;
    color: var(--foreground-4);
}

.statusContent > div > svg {
    margin-right: 8px;
}

.statusContent > div > div {
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    line-height: 1.285;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.customStatus.active:hover .statusContent,
.customStatus.active:focus-within .statusContent {
    max-height: 182px;
}

.customStatus.active:hover .statusContent > div > div,
.customStatus.active:focus-within .statusContent > div > div {
    -webkit-line-clamp: 9;
}

.customStatus:not(.disabled):hover .statusContent > div,
.customStatus:not(.disabled):focus-within .statusContent > div {
    color: var(--foreground-2);
}

.customStatus.active > div {
    cursor: default;
}

.customStatus.active:not(.disabled):hover .statusContent,
.customStatus.active:not(.disabled):hover > div:not(.statusTools)::before,
.customStatus.active:not(.disabled):hover > div:not(.statusTools)::after {
    background-color: var(--background-6);
}

.customStatus.active .statusContent > div {
    cursor: text;
    user-select: text;
    color: var(--foreground-2);
}

.statusTools {
    gap: 2px;
    top: -16px;
    opacity: 0;
    padding: 2px;
    height: auto;
    overflow: hidden;
    user-select: none;
    position: absolute;
    align-items: center;
    pointer-events: none;
    display: inline-flex;
    border-radius: 1000px;
    right: min(8px, 50% - 29px);
    background-color: var(--background-3);
    transition: box-shadow 0.1s ease-in-out;
}

.customStatus.active:hover .statusTools,
.customStatus.active:focus-within .statusTools {
    opacity: 1;
    pointer-events: auto;
}

.statusTools > button {
    padding: 4px;
    display: flex;
    cursor: pointer;
    padding-left: 6px;
    align-items: center;
    justify-content: center;
    color: var(--foreground-3);
    background-color: transparent;
    border-radius: 1000px 6px 6px 1000px;
}

.statusTools > button:last-child {
    padding-left: 4px;
    padding-right: 6px;
    border-radius: 6px 1000px 1000px 6px;
}

.statusTools > button:hover,
.statusTools > button:focus-visible {
    color: var(--foreground-2);
    background-color: var(--background-6);
}

.statusTools > button > svg {
    transition: transform 0.1s ease-in-out;
}

.statusTools > button:active > svg {
    transform: translateY(1px);
}

.content {
    gap: 12px;
    display: flex;
    padding: 4px 16px;
    flex-direction: column;
}

.message {
    padding: 4px 16px 16px;
}

.message > input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 10px;
    border-radius: 4px;
    background-color: var(--background-3);
}

.editProfile {
    padding: 0 16px 16px;
}

.editProfile > button {
    gap: 6px;
    height: 32px;
    background-color: var(--background-6);
}

.editProfile > button:hover {
    background-color: var(--background-5);
}

.content > :first-child > :first-child {
    gap: 8px;
    display: flex;
    align-items: center;
}

.content h1 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    overflow: hidden;
    user-select: text;
    word-break: break-word;
}

.content h1:not(.disabled):hover,
.content h1:not(.disabled):focus-visible {
    cursor: pointer;
    text-decoration: underline;
}

.content > :first-child > :nth-child(2) {
    gap: 8px;
    height: 28px;
    display: flex;
    align-items: center;
}

.content > :first-child > :nth-child(2) > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-overflow: clip;
    word-break: break-all;
}

.content p.disabled {
    cursor: default;
}

.content > :first-child > :nth-child(2) > p:not(.disabled):hover,
.content > :first-child > :nth-child(2) > p:not(.disabled):focus-visible {
    cursor: pointer;
    text-decoration: underline;
}

.note {
    opacity: 0;
    display: flex;
    cursor: pointer;
    color: var(--fg-3);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: opacity 0.1s ease-in-out;
}

.note:hover {
    color: var(--fg-1);
}

.container:hover .note,
.container:focus-within .note {
    opacity: 1;
}

.mutuals {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mutuals > section {
    gap: 4px;
    display: flex;
    cursor: pointer;
}

.mutuals > section:hover {
    text-decoration: underline;
}

.mutuals p {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.35;
    color: var(--fg-2);
}

.avatars {
    flex-grow: 0;
    display: flex;
    position: relative;
    align-items: center;
}

.avatars > div:not(:last-child) {
    mask: url(/assets/avatars/mask-list-16.svg);
    mask-size: 100%;
    mask-type: alpha;
}

.avatars > div:not(:first-child) {
    margin-left: -2px;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--foreground-2);
}

.description {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.285;
}

.menus {
    gap: 16px;
    display: flex;
    padding: 16px;
    padding-top: 0;
    flex-direction: column;
}

.menus > section {
    padding: 8px;
    border-radius: 8px;
    background-color: hsl(225, 5%, 15%);
}

.menus > section > .divider {
    height: 1px;
    margin: 8px 4px;
    background-color: hsl(228 calc(1 * 6.024%) 32.549% / 0.48);
}

.menus > section > button {
    gap: 8px;
    width: 100%;
    height: 32px;
    padding: 8px;
    display: flex;
    cursor: pointer;
    transition: none;
    border-radius: 3px;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    color: hsl(215 calc(1 * 8.824%) 73.333% / 1);
}

.menus > section > button:hover,
.menus > section > button:focus-visible,
.menus > section > button[data-state="open"] {
    color: hsl(210 calc(1 * 9.091%) 87.059% / 1);
    background-color: hsl(228 calc(1 * 6.024%) 32.549% / 0.3);
}

.menus > section > button > :nth-child(2) {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.statusItem {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 20px 1fr;
    grid-template-areas: "icon status" ". description";
}

.statusItem .description {
    font-size: 12px;
    line-height: 16px;
    grid-area: description;
}

.topTools {
    gap: 8px;
    top: 12px;
    right: 12px;
    display: flex;
    position: absolute;
}

.topTools > button {
    width: 32px;
    height: 32px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--foreground-2);
    transition: background-color 0.2s ease;
    background-color: var(--background-hover-dark-1);
}

.topTools > button:hover,
.topTools > button:focus-visible {
    background-color: var(--background-hover-dark-2);
}

.topTools > button:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: var(--background-hover-dark-1);
}

.received,
.blocked {
    user-select: none;
    padding: 10px 12px;
    border-radius: 8px;
    background-color: var(--background-3);
}

.received > :first-child {
    font-size: 14px;
}

.received > :last-child {
    gap: 8px;
    display: flex;
    margin-top: 8px;
}

.blocked {
    padding: 16px;
    margin-bottom: 16px;
}

.blocked > div {
    font-size: 15px;
    font-weight: 700;
    user-select: none;
    line-height: 1.285;
    color: var(--foreground-3);
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
