.wrapper {
    padding: 0 20px;
    width: 100%;
    height: 65px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 100rem;
    margin: 0 auto;
}

.logo {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: var(--foreground-primary);
    text-decoration: none;
}

.links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    list-style: none;
}

.links li {
    position: relative;
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--foreground-primary);
    text-decoration: none;
    border-radius: 5px;
    user-select: none;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--foreground-primary);
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button,
.buttons a {
    padding: 12px 24px;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--foreground-primary);
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.buttons button:last-child,
.buttons a:last-child {
    font-size: 0.95rem;
    background-color: var(--background-secondary);
    border-radius: 100vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
