.container {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    z-index: 1000;
}

.filter {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    z-index: 1002;
}

.layer {
    position: fixed;
    pointer-events: all;
    will-change: transform;
    transform: translateZ(0);
}
