.container {
    height: 100vh;
    max-width: 100vw;
    aspect-ratio: 8 / 16;
    border-radius: 5px;
    background-color: var(--background-secondary);
}

/**
* Display
**/

.display {
    height: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--background-tertiary);
    border-radius: 5px 5px 15px 15px;
}

.display > div {
    display: flex;
    align-items: center;
}

.displaySettings {
    height: 20%;
}

.displaySettings button {
    display: flex;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    padding: 0.2rem;
}

.displaySettings button:hover {
    background-color: var(--background-primary);
}

.settingsIcon {
    width: 24px;
    height: 24px;
    fill: var(--foreground-primary);
}

.displayString {
    height: 50%;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 3rem;
    text-align: end;
    padding: 0 5%;
    color: var(--foreground-primary);
}

.displayResult {
    height: 30%;
    padding-bottom: 5%;
    padding-right: 5%;
    font-size: 2.5rem;
}

/**
* Secondary Button
**/

.secondaryButtons,
.secondaryButtonsExtended {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 5%;
    padding: 4%;
}

.secondaryButtonsExtended {
    animation: extended 0.2s ease-in-out;
    height: 23%;
}

.secondaryButtonsGrid,
.secondaryButtonsGridExtended {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    align-items: center;
    justify-items: center;
}

.secondaryButton {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    color: var(--foreground-primary);
    border-radius: 100vw;
    border: none;
    font-size: 1.1rem;
    transition: background-color 0.2s ease-in-out;
}

.secondaryButton:hover {
    background-color: var(--background-primary);
}

.secondaryButtonHidden {
    display: none;
}

.dropDownButton {
    margin-top: 2%;
    width: 10%;
    height: fit-content;
    display: flex;
    fill: var(--foreground-primary);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--background-primary);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.secondaryButtons .dropDownButton {
    animation: rotate2 0.2s ease-in-out;
    transform: rotate(0deg);
}

.secondaryButtonsExtended .dropDownButton {
    animation: rotate 0.2s ease-in-out;
    transform: rotate(-180deg);
}

.dropDownIcon {
    width: 24px;
    height: 24px;
}

/**
* Primary Button
**/

.primaryButtons,
.primaryButtonsShrink {
    height: 58%;
    padding: 0 5% 5% 5%;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 2%;
    grid-template-columns: repeat(4, 1fr);
}

.primaryButtonsShrink {
    animation: shrink 0.2s ease-in-out;
    height: 45%;
}

.primaryButton,
.primaryButtonClear,
.primaryButtonOperator {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-primary);
    cursor: pointer;
    color: var(--foreground-primary);
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
}

.primaryButtonsShrink > .primaryButton,
.primaryButtonsShrink > .primaryButtonClear,
.primaryButtonsShrink > .primaryButtonOperator {
    border-radius: 25px;
    font-size: 1.2rem;
}

.primaryButtonClear {
    background-color: var(--accent-secondary);
}

.primaryButtonOperator {
    background-color: var(--accent-primary);
}

/**
* Keyframes
**/

@keyframes shrink {
    from {
        height: 58%;
    }
    to {
        height: 45%;
    }
}

@keyframes extended {
    from {
        height: 10%;
    }
    to {
        height: 23%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}

@keyframes rotat2e {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0deg);
    }
}
