.container {
    position: fixed;
    z-index: 100;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 220px;
}

.sidebarWrapper {
    overflow: hidden scroll;
    padding-right: 0px;
    flex: 1 0 auto;
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    position: relative;
    min-height: 0;
    background-color: var(--background-3);
}

.sidebarWrapper nav {
    width: 218px;
    padding: 60px 6px 60px 20px;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 0 10px 6px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--foreground-5);
    user-select: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.separator {
    margin: 8px 10px;
    height: 1px;
    background-color: var(--background-hover-1);
}

.tab,
.tabActive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    margin-bottom: 2px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--foreground-3);
    user-select: none;
}

.tab path,
.tabActive path {
    fill: var(--foreground-3);
}

.tab:hover,
.tabActive {
    background-color: var(--background-5);
    color: var(--foreground-2);
}

.tab:hover path,
.tabActive path {
    fill: var(--foreground-2);
}

.tab:hover:active,
.tabActive:active {
    background-color: var(--background-hover-2);
    color: var(--foreground-1);
}

.tab:hover:active path,
.tabActive:active path {
    fill: var(--foreground-1);
}

.tabActive:hover {
    cursor: default;
}

.sidebarWrapper::-webkit-scrollbar {
    width: 8px;
}

.sidebarWrapper::-webkit-scrollbar-track {
    border-radius: 100vw;
    border: 2px var(--background-3) solid;
    background-color: transparent;
    background-clip: padding-box;
}

.sidebarWrapper::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    border: 2px var(--background-3) solid;
    background-color: transparent;
    background-clip: padding-box;
}

.sidebarWrapper:hover::-webkit-scrollbar-thumb {
    background-color: var(--background-1);
}

.contentContainer {
    position: relative;
    display: flex;
    flex: 1 1 800px;
    align-items: flex-start;
}

.contentWrapper {
    overflow: hidden scroll;
    padding-right: 0px;
    justify-content: flex-start;
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    align-items: flex-start;
    background-color: var(--background-4);
}

.contentWrapper::-webkit-scrollbar {
    width: 16px;
}

.content {
    position: relative;
    padding: 60px 10px 80px 40px;
    flex: 1 1 auto;
    max-width: 740px;
    min-width: 460px;
    min-height: 100%;
    overflow: hidden;
}

.closeButton {
    margin-right: 21px;
    position: relative;
    flex: 0 0 36px;
    width: 60px;
    padding-top: 60px;
}

.closeButton > div {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButton > div > div:first-child {
    color: var(--foreground-3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 36px;
    border: 2px solid var(--foreground-3);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.closeButton > div > div:first-child:hover {
    background-color: var(--background-hover-1);
    border-color: var(--foreground-2);
}

.closeButton > div > div:first-child:hover path {
    fill: var(--foreground-2);
}

.closeButton > div > div:first-child:hover + div {
    color: var(--foreground-2);
}

.closeButton > div > div:first-child:active {
    background-color: var(--background-hover-1);
    border-color: var(--foreground-1);
    transform: translateY(1px);
}

.closeButton > div > div:first-child:active path {
    fill: var(--foreground-1);
}

.closeButton > div > div:first-child:active + div {
    color: var(--foreground-1);
}

.closeButton > div > div:last-child {
    margin-top: 8px;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: var(--foreground-3);
    cursor: default;
    user-select: none;
}

.divider {
    margin-top: 40px;
    width: 100%;
    height: 1px;
    border-top: thin solid var(--border-light);
}

.section {
    margin-top: 40px;
}

.sectionTitle {
    display: flex;
}

.content h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    flex: 1;
    cursor: default;
    color: var(--foreground-1);
}

.content h3 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    cursor: default;
    color: var(--foreground-3);
}

.userCard {
    background-color: var(--background-2);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.userCardHeader {
    min-width: 660px;
    min-height: 100px;
}

.userCardInfo {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0 120px;
}

.userCard > div:last-child {
    border-radius: 8px;
    padding: 16px;
    margin: 8px 16px 16px;
    background-color: var(--background-3);
}

.userAvatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid var(--background-2);
    background-color: var(--background-1);
    position: absolute;
    top: 77px;
    left: 17px;
}

.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--foreground-1);
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    height: fit-content;
}

.field {
    display: flex;
    justify-content: space-between;
}

.field:not(:first-child) {
    margin-top: 24px;
}

.field > div {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.field > div > h3 {
    margin-bottom: 4px;
    color: var(--foreground-3);
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    user-select: none;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.field > div > div {
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 20px;
    color: var(--foreground-1);
    user-select: none;
}

.field > button {
    width: 60px;
    margin: auto 0;
}

.accountRemoval {
    display: flex;
    flex-direction: column;
}

.accountRemoval > div {
    margin-bottom: 16px;
    color: var(--foreground-3);
    font-size: 14px;
    line-height: 20px;
    user-select: none;
}

.accountRemoval > button {
    width: fit-content;
}

.buttonsContainer {
    display: flex;
}

.hiddenInput {
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

.saveAlert {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: -20px;
    width: calc(100% - 40px);
    max-width: 740px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 16px;
    border-radius: 5px;
    background-color: var(--background-dark);
    color: var(--foreground-2);
    box-shadow: var(--elevation-high);
}

.saveAlert > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
}

.saveAlert > div {
    display: flex;
    gap: 10px;
}

.saveAlert > div > button:last-child {
    width: 115px;
}

.contentNav {
    display: flex;
    padding-top: 6px;
    margin-top: 24px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--border-light);
}

.contentNav > div {
    border-bottom: 2px solid transparent;
    padding-bottom: 16px;
    margin-right: 16px;
    line-height: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--foreground-3);
    cursor: pointer;
}

.contentNav > div:not(:first-child) {
    margin-left: 16px;
}

.contentNav > div:hover {
    color: var(--foreground-2);
    border-bottom: 2px solid var(--accent-1);
}

.contentInner {
    position: relative;
    display: flex;
    gap: 35px;
}

.customSection {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-light);
}

.buttonContainer {
    display: flex;
}

.buttonContainer > button:not(:first-child) {
    margin-left: 4px;
}

.input {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    color: var(--foreground-2);
    border: none;
    outline: none;
    background-color: var(--background-1);
    transition: border-color 0.2s ease-in-out;
}

.description {
    margin-bottom: 16px;
    color: var(--foreground-3);
    font-size: 14px;
    line-height: 20px;
    user-select: none;
}

.sectionContainer {
    display: flex;
    margin-top: 8px;
}

.colorSwatch:not(:first-child) {
    margin-left: 16px;
}

.colorSwatch > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 50px;
    position: relative;
    border: 1px solid;
    border-radius: 4px;
    color: var(--foreground-3);
    cursor: pointer;
}

.colorSwatch > div:first-child > svg {
    position: absolute;
    top: 4px;
    right: 4px;
}

.colorSwatch > div:last-child {
    color: var(--foreground-3);
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    user-select: none;
}

.inputLarge {
    position: relative;
    width: 100%;
    text-indent: 0;
    border-radius: 8px;
}

.inputLarge > div:first-child {
    background-color: var(--background-1);
    border-radius: 3px;
    height: 136px;
    transition: border-color 0.2s ease-in-out;
    overflow: hidden scroll;
    max-height: 50vh;
}

.inputLarge > div:first-child::-webkit-scrollbar {
    width: 12px;
}

.inputLarge > div:first-child::-webkit-scrollbar-thumb {
    background-color: var(--background-dark);
    border-width: 4px;
}

.inputLarge > div:first-child::-webkit-scrollbar-track {
    background-color: var(--background-1);
    border-color: var(--background-1);
}

.inputLarge > div:last-child {
    position: absolute;
    bottom: 12px;
    right: 14px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: var(--foreground-3);
    user-select: none;
    cursor: default;
}

.inputLargeInner {
    height: 100%;
    display: flex;
    position: relative;
}

.inputLargeInner > div:first-child {
    height: 66px;
    min-height: 100%;
    padding: 0;
    resize: none;
    border: none;
    width: 100%;
}

.inputLargeInner > div:first-child > div {
    position: relative;
    outline: none;
    overflow-wrap: break-word;
    padding-bottom: 11px;
    padding-top: 11px;
    padding-left: 16px;
    padding-right: 10px;
    left: 0;
    right: 10px;
    text-align: left;
    word-break: break-word;
    white-space: break-spaces;
    user-select: text;
    line-height: 1.375rem;
    color: var(--foreground-3);
}

.inputLargeInner > div:last-child {
    margin-right: -6px;
    display: flex;
    height: 44px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentInner > div:first-child {
    flex: 1;
}

.contentInner > div:last-child {
    max-width: 348px;
}

/* USER CARD */

.cardContainer {
    padding: 4px;
    width: 348px;
    position: relative;
    min-height: 280px;
    background: linear-gradient(
        var(--card-primary-color),
        var(--card-primary-color) 90px,
        var(--card-accent-color)
    );
    border-radius: 8px;
}

.cardContainer > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
    max-height: calc(100vh - 28px);
}

.cardContainer > div::before {
    content: '';
    border-radius: 4px;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    pointer-events: none;
    position: absolute;
    background-color: var(--card-overlay-color);
}

.cardBanner {
    min-width: 340px;
    z-index: 0;
    contain: paint;
    overflow: hidden;
}

.cardBanner foreignObject > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
}

.cardBannerBackground {
    position: inherit;
    border-radius: 3px 3px 0 0;
    width: 100%;
    display: inline-block;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.cardBannerBackground:hover {
    box-shadow: inset 0 0 120px hsla(0, 0%, 0%, 0.75);
}

.cardBannerButton {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    pointer-events: none;
    color: var(--foreground-1);
    visibility: hidden;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 12px;
    white-space: pre;
}

.cardBannerBackground:hover + .cardBannerButton {
    visibility: visible;
}

.cardAvatar {
    position: absolute;
    left: 22px;
    z-index: 1;
}

.avatarImage {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}

.avatarImage:hover {
    box-shadow: inset 0 0 120px hsla(0, 0%, 0%, 0.75);
}

.cardAvatar > .avatarOverlay {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    pointer-events: none;
    color: var(--foreground-1);
    visibility: hidden;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 12px;
    white-space: pre;
    text-align: center;
}

.avatarImage:hover + .avatarOverlay {
    visibility: visible;
}

.cardAvatar > .imageUpload {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    box-shadow: 0 2px 4px 0 hsl(0, 0, 0%, 0.2);
    background-color: var(--foreground-1);
    background-image: url('/assets/app/image-upload.svg');
}

.cardAvatarStatus {
    width: 28px;
    height: 28px;
    position: absolute;
    border-radius: 50%;
    top: 54px;
    left: 54px;
    background-color: var(--card-border-color);
}

.cardAvatarStatus > div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.45;
}

.cardAvatarStatus > svg {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 16px;
    height: 16px;
}

.cardBadges {
    position: relative;
    top: 12px;
    right: 16px;
    width: fit-content;
    align-self: flex-end;
    border-radius: 8px;
    max-width: 190px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    height: 30px;
    width: 102px;
    background-color: var(--card-background-color);
}

.cardBody {
    padding: 0 12px;
    margin: 28px 16px 16px;
    max-height: calc(100dvh - 128px);
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--card-background-color);
}

.cardBody > .cardSection {
    padding-top: 12px;
}

.cardBody > div:first-child > h4 {
    word-break: break-word;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    user-select: text;
    cursor: auto;
    color: var(--foreground-1);
}

.cardBody > div:first-child > div {
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    color: var(--foreground-1);
}

.cardBody > .cardSection:not(:first-child) > h4 {
    display: flex;
    font-weight: 700;
    margin-bottom: 6px;
    color: var(--foreground-1);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.cardBody > .cardSection:not(:first-child) > div {
    line-height: 1.375rem;
    white-space: break-spaces;
    word-wrap: break-word;
    user-select: text;
    display: -webkit-box;
    line-clamp: 6;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    color: var(--foreground-2);
}

.cardBody > .cardDivider {
    margin-top: 12px;
    height: 1px;
    position: sticky;
    top: 0;
    background-color: var(--card-divider-color);
}

.cardBody > .cardSectionLarge {
    padding-top: 12px;
    padding-bottom: 12px;
}

.cardBody > .cardSectionLarge > h4 {
    font-weight: 700;
    color: var(--foreground-1);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.cardBody > .cardSectionLarge > div {
    display: flex;
    align-items: center;
    margin-top: 8px;
    user-select: none;
}

.cardBody > .cardSectionLarge > div > div:first-child {
    display: flex;
    align-items: center;
    height: 64px;
    width: 64px;
    flex: 0 0 auto;
    justify-content: center;
    border-radius: 8px;
    margin-right: 16px;
    background-color: var(--accent-3);
}

.cardTime {
    flex: 1 1 auto;
    user-select: none;
    pointer-events: none;
}

.cardTime > div:first-child {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: var(--foreground-2);
}

.cardTime > div:last-child {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--foreground-2);
}

.cardTime > div:last-child > span {
    font-family: var(--font-code);
}

.cardBody > .cardSectionLarge > button {
    width: 100%;
    margin-top: 12px;
    background-color: var(--card-button-color);
    transition: opacity 0.2s ease-in-out;
}

.cardBody > .cardSectionLarge > button:hover {
    opacity: 0.8;
}

.cardBody > .cardSectionLarge > button:active {
    opacity: 0.7;
}
