.cardContainer {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 340px;
    height: auto;
    max-height: calc(100vh - 28px);
    min-height: 200px;
    background-color: var(--background-2);
    display: flex;
    flex-direction: column;
}

.topSection {
    width: 340px;
    height: 60px;
    position: relative;
}

.topSection > div {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid var(--background-2);
    box-sizing: content-box;
    user-select: none;
}

.topSection > div > img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--background-2);
    cursor: pointer;
}

.topSection > div > .layer {
    display: flex;
    position: absolute;
    top: -1px;
    left: -1px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    padding-top: 4px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: transparent;
    pointer-events: none;
}

.topSection > div:hover > .layer {
    color: var(--foreground-1);
    box-shadow: inset 0 0 120px hsla(0, 0%, 0%, 0.75);
}

.badges {
    position: relative;
    top: 12px;
    right: 16px;
    width: fit-content;
    min-height: 22px;
    height: 30px;
    max-width: 190px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2px;
    border-radius: 8px;
}

.contentSection {
    margin: 28px 16px 16px;
    max-height: calc(100vh - 128px);
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--background-dark);
    overflow: hidden;
}

.contentSeparator {
    margin: 12px 12px 0;
    height: 1px;
    top: 0;
    position: sticky;
    background-color: var(--background-5);
    padding: 0;
}

.username {
    padding: 12px 12px 0;
    user-select: text;
    white-space: normal;
    word-break: break-all;
    line-height: 24px;
    font-size: 20px;
    font-weight: 600;
    color: var(--foreground-1);
}

.customStatus {
    padding: 12px 12px 0;
    line-height: 18px;
    user-select: text;
    color: var(--foreground-3);
    font-size: 14px;
    font-weight: 400;
}

.contentUser {
    position: relative;
    flex: 0 1 auto;
    overflow: hidden scroll;
    padding: 0 12px;
    padding-right: 4px;
}

.contentUser::-webkit-scrollbar {
    width: 8px;
}

.contentUser::-webkit-scrollbar-track {
    border: 2px var(--background-dark) solid;
    background-color: var(--background-dark);
}

.contentUser::-webkit-scrollbar-thumb {
    border: 2px var(--background-dark) solid;
    border-color: transparent;
    background-color: var(--background-3);
}

.contentUser > div {
    padding-top: 12px;
    font-size: 14px;
    line-height: 18px;
    color: var(--foreground-3);
}

.contentUser > div:last-child {
    padding-bottom: 12px;
}

.contentUser > div > h1 {
    font-family: var(--font-display);
    font-weight: 700;
    color: var(--foreground-1);
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.contentUserDescription {
    white-space: break-spaces;
    word-wrap: break-word;
}

.note > textarea {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: var(--foreground-3);
    font-size: 12px;
    line-height: 14px;
    min-height: 36px;
    max-height: 92px;
    padding: 4px;
    resize: none;
    width: 100%;
    font-weight: 500;
}

.note > textarea:focus {
    background-color: var(--background-1);
}

.note > textarea:focus::placeholder {
    color: transparent;
}

.note > textarea::-webkit-scrollbar {
    width: 8px;
}

.note > textarea::-webkit-scrollbar-track {
    border: 2px var(--background-dark) solid;
    background-color: var(--background-dark);
}

.note > textarea::-webkit-scrollbar-thumb {
    border: 2px var(--background-dark) solid;
    border-color: transparent;
    background-color: var(--background-5);
}

.note > textarea:focus::-webkit-scrollbar-track {
    border: 2px var(--background-1) solid;
    background-color: var(--background-1);
}

.message {
    border: 1px solid var(--border-light);
    border-radius: 4px;
    display: flex;
    flex: column;
}

.message > input {
    background-color: transparent;
    font-size: 14px;
    padding: 10px;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    color: var(--foreground-3);
    border: none;
    font-weight: 500;
}

.note > textarea::placeholder,
.message > input::placeholder {
    user-select: none;
}

.note > textarea:focus,
.message > input:focus {
    outline: none;
}
