.tooltip {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    max-width: 196px;
    overflow: hidden;
    padding: 8px 12px;
    line-height: 16px;
    user-select: none;
    border-radius: 5px;
    color: var(--fg-2);
    word-wrap: break-word;
    word-break: break-word;
    background-color: var(--bg-7);
    border: 1px solid transparent;
    font-family: var(--font-display);
    box-shadow: var(--elevation-high);
}

.tooltip.avatar {
    font-size: 16px;
}

.tooltip.avatar > :first-child {
    margin-right: 8px;
}

.tooltip.big {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    flex-direction: column;
}

/* .tooltip > span {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    color: var(--fg-4);
} */
