.tooltip {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    max-width: 270px;
    overflow: hidden;
    padding: 8px 12px;
    line-height: 16px;
    user-select: none;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-word;
    color: var(--foreground-2);
    box-shadow: var(--elevation-high);
    background-color: var(--background-dark-1);
}

.tooltip.avatar {
    font-size: 16px;
}

.tooltip.avatar > :first-child {
    margin-right: 8px;
}

.tooltip.big {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    flex-direction: column;
}

.tooltip > span {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    color: var(--foreground-4);
}
