.overlay {
    z-index: 999;
    display: grid;
    place-items: center;
    background-color: hsla(0, 0%, 0%, 0.8);
    animation: fadeIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.dialog {
    width: 440px;
    display: flex;
    min-height: 200px;
    border-radius: 4px;
    flex-direction: column;
    max-width: calc(var(--dvw) - 40px);
    background-color: var(--background-4);
    max-height: min(720px, calc(var(--dvh) - 40px));
    box-shadow: var(--elevation-high), var(--elevation-low);
    animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.header {
    padding: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    position: relative;
    word-wrap: break-word;
    flex-direction: column;
    border-radius: 4px 4px 0 0;
}

.header.centered {
    padding: 24px 16px;
    text-align: center;
}

.header.withIcon {
    padding: 16px;
    padding-top: 75px;
}

.icon {
    user-select: none;
    position: absolute;
}

.art {
    max-width: 180px;
    max-height: 160px;
    width: min-content;
    margin: -52px 0 16px;
}

.header.centered > .art {
    margin: -52px auto 32px;
}

.header > h2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--foreground-2);
}

.header > h2:last-child {
    margin-bottom: 0;
}

.header.centered > h2,
.header.noGap > h2 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 30px;
    color: var(--foreground-2);
}

.boldHeading > h2 {
    padding: 0 32px;
    font-weight: 700;
    line-height: 1.25;
}

.header > p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    user-select: none;
    margin-bottom: 4px;
    color: var(--foreground-3);
}

.header.centered > p {
    margin-top: 8px;
    line-height: 1.25;
    user-select: none;
    color: var(--foreground-3);
}

.header.boldHeading > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.285;
}

.header.withIcon > p {
    margin-top: 0;
}

.close {
    top: 16px;
    right: 16px;
    padding: 4px;
    opacity: 0.5;
    border: none;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 3px;
    transition: opacity 0.15s;
    color: var(--foreground-1);
    background-color: transparent;
}

.close:hover,
.close:focus-visible {
    opacity: 1;
}

.dialog > form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
    user-select: none;
    position: relative;
    padding-left: 16px;
    padding-right: 8px;
    padding-bottom: 20px;
    overflow: hidden scroll;
    border-radius: 5px 5px 0 0;
}

.content.centered {
    padding: 0 16px 16px;
}

.content.centered p {
    text-align: center;
}

.protip {
    margin-top: 20px;
}

.protip > :first-child {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.285;
    color: var(--success-light);
    text-transform: uppercase;
}

.protip > :last-child {
    opacity: 0.6;
    font-size: 14px;
    line-height: 16px;
}

@-moz-document url-prefix() {
    .content {
        padding-right: 16px;
    }
}

.content::-webkit-scrollbar {
    width: 8px;
}

.content > *:not(:last-child) {
    margin-bottom: 16px;
}

.footer {
    padding: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    overflow-x: hidden;
    position: relative;
    align-items: center;
    border-radius: 0 0 5px 5px;
    justify-content: space-between;
    background-color: var(--background-3);
    box-shadow: inset 0 1px 0 hsla(220, 6.5%, 18%, 0.6);
}

.footer > div {
    display: flex;
    flex-direction: row-reverse;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.7);
        opacity: 0;
    }
}

/* Dialog Warning */

.warning {
    width: 310px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 10px;
    max-height: calc(100dvh - 40px);
    background-color: var(--error-1);
    box-shadow: var(--elevation-low), var(--elevation-high);
    animation: modalShake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translateZ(0);
    user-select: none;
}

.warning > div {
    height: auto;
    flex: 1;
    color: var(--foreground-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed hsla(0, 0%, 100%, 0.4);
    border-radius: 6px;
}

.warning > div > .icons {
    position: relative;
    width: 100px;
    height: 60px;
}

.warning > div > .icons > div {
    transform: translate3d(0, -70px, 0);
}

.warning > div > .icons > div:nth-child(2) {
    transform: translate3d(0, -80px, 0);
}

.warning > div > .icons > div > div {
    position: absolute;
    width: 100px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: translateZ(0);
}

.warning > div > .icons > div:first-child > div {
    background-image: url("https://ucarecdn.com/d2524731-0ab6-4360-b6c8-fc9d5b8147c8/");
    animation: animateInLeft 0.8s ease 0s normal forwards;
    animation-delay: 0.115s;
}

.warning > div > .icons > div:nth-child(2) > div {
    background-image: url("https://ucarecdn.com/5758cb91-bb49-45d9-9fb3-33010d0ff7d3/");
    filter: drop-shadow(0 0 48px rgba(88, 101, 242, 0.5));
    animation: animateInMiddle 0.8s ease 0s normal forwards;
    animation-delay: 0.01s;
}

.warning > div > .icons > div:last-child > div {
    background-image: url("https://ucarecdn.com/89c51576-cb47-4ca5-bb08-ff934cd58b92/");
    animation: animateInRight 0.8s ease 0s normal forwards;
    animation-delay: 0.08s;
}

.warning > div > .title {
    font-size: 22px;
    font-weight: 700;
    padding: 0 8px;
    text-align: center;
}

.warning > div > .description {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 15px;
}

.ownerChange {
    display: flex;
    user-select: none;
    padding-top: 10px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px !important;
}

.ownerAvatars {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    background: no-repeat 50% 0;
}

.ownerAvatars > :first-child {
    opacity: 0.3;
    margin-right: -27px;
}

.ownerAvatars > :last-child {
    position: relative;
    z-index: 1;
}

.channelItem {
    padding: 8px;
    display: flex;
    margin: 0 -8px;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    align-items: center;
}

.channelItem:hover,
.channelItem:focus-visible {
    background-color: var(--background-hover-1);
}

.channelItem > span:first-of-type {
    font-size: 14px;
    margin-left: 8px;
    font-weight: 500;
    color: var(--foreground-1);
}

.channelItem > span:last-of-type {
    font-size: 12px;
    margin-top: 2px;
    margin-left: 8px;
    color: var(--foreground-4);
}

@keyframes modalShake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes animateInLeft {
    0% {
        transform: translateZ(0) rotate(0deg);
        opacity: 0.6;
    }
    4.1667% {
        transform: translate3d(0, -1px, 0) rotate(0deg);
        opacity: 0.68;
    }
    30.8334% {
        transform: translate3d(-48px, -10px, 0) rotate(-36deg);
        opacity: 1;
    }
    58.3334% {
        transform: translate3d(-41px, -3px, 0) rotate(-28deg);
        opacity: 1;
    }
    75% {
        transform: translate3d(-45px, -8px, 0) rotate(-32deg);
        opacity: 1;
    }
    83.3334% {
        transform: translate3d(-44px, -7px, 0) rotate(-30.7deg);
        opacity: 1;
    }
    to {
        transform: translate3d(-44px, -6px, 0) rotate(-30deg);
        opacity: 1;
    }
}

@keyframes animateInMiddle {
    0% {
        transform: translateZ(0);
    }
    30.8334% {
        transform: translate3d(0, -10px, 0);
    }
    58.3334% {
        transform: translate3d(0, -3px, 0);
    }
    75% {
        transform: translate3d(0, -8px, 0);
    }
    83.3334% {
        transform: translate3d(0, -7px, 0);
    }
    to {
        transform: translate3d(0, -6px, 0);
    }
}

@keyframes animateInRight {
    0% {
        transform: translateZ(0) rotate(0deg);
        opacity: 0.6;
    }
    4.1667% {
        transform: translate3d(0, -1px, 0) rotate(0deg);
        opacity: 0.68;
    }
    30.8334% {
        transform: translate3d(48px, -10px, 0) rotate(36deg);
        opacity: 1;
    }
    58.3334% {
        transform: translate3d(41px, -3px, 0) rotate(28deg);
        opacity: 1;
    }
    75% {
        transform: translate3d(45px, -8px, 0) rotate(32deg);
        opacity: 1;
    }
    83.3334% {
        transform: translate3d(44px, -7px, 0) rotate(30.7deg);
        opacity: 1;
    }
    to {
        transform: translate3d(44px, -6px, 0) rotate(30deg);
        opacity: 1;
    }
}

@media (max-width: 562px) {
    .overlay {
        transition: none;
    }

    .dialog {
        animation: none;
        max-width: unset;
        border-radius: 0;
        max-height: unset;
        width: var(--dvw) !important;
        height: var(--dvh) !important;
    }

    .icon {
        position: unset;
        padding-top: 16px;
        align-self: center;
        top: unset !important;
        left: unset !important;
    }

    .header.withIcon {
        padding-top: 0;
        position: static;
    }
}
