.aside {
    position: relative;
    flex: 0 1 30%;
    min-width: 360px;
    max-width: 420px;
    height: 100%;
    padding: 16px;
    margin-left: 2px;
    border-left: 1px solid var(--border-light);
    background-color: var(--background-4);
}
