.main {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--background-4);
    flex-grow: 1;
}

.content {
    flex: 1 1 auto;
    display: flex;
    position: relative;
    overflow: hidden;
}
