.menu {
    display: flex;
    z-index: 10000;
    cursor: default;
    min-width: 188px;
    max-width: 320px;
    padding: 6px 8px;
    position: relative;
    border-radius: 4px;
    flex-direction: column;
    max-height: calc(100vh - 32px);
    box-shadow: var(--elevation-high);
    background-color: var(--background-dark-1);
}

.menu.big {
    min-width: 220px;
}

.item {
    gap: 8px;
    width: 100%;
    outline: none;
    margin: 2px 0;
    display: flex;
    max-width: 100%;
    cursor: pointer;
    font-size: 14px;
    min-height: 32px;
    padding: 6px 8px;
    text-align: left;
    font-weight: 500;
    line-height: 18px;
    user-select: none;
    border-radius: 2px;
    align-items: center;
    color: var(--foreground-3);
    background-color: transparent;
}

.item > div {
    flex: 1;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item > svg:last-child {
    margin-left: auto;
}

.item.danger {
    color: var(--error-1);
}

.item.disabled {
    opacity: 0.5;
    cursor: default;
    color: var(--foreground-3) !important;
    background-color: transparent !important;
}

.item:hover,
.item:focus-visible,
.menu [data-state="open"] .item {
    color: var(--foreground-1);
    background-color: var(--accent-1);
}

.item:active {
    color: var(--foreground-1);
    background-color: var(--accent-2);
}

.item.danger:hover,
.item.danger:focus-visible {
    background-color: var(--error-1);
    color: var(--foreground-1);
}

.item.danger:active {
    background-color: var(--error-2);
    color: var(--foreground-1);
}

.item:hover div[data-type="status"] {
    background-color: var(--foreground-1) !important;
}

.subtext {
    font-size: 12px;
    color: var(--foreground-5);
}

.item:hover .subtext,
.item:focus-visible .subtext,
.item:active .subtext,
.menu [data-state="open"] .item .subtext {
    color: var(--foreground-1);
}

.item > div {
    max-width: 100%;
}

.item p {
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.divider {
    margin: 4px;
    border-bottom: 1px solid var(--border-light);
}

.loading {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item.isChecked > svg > :first-child {
    color: var(--accent-border);
}

.item.isChecked > svg > :last-child {
    color: #ffffff;
}

.item.isChecked:hover > svg > :first-child,
.item.isChecked:focus-visible > svg > :first-child,
.item.isChecked:active > svg > :first-child,
.menu [data-state="open"] .item.isChecked > svg > :first-child {
    color: var(--foreground-1);
}

.item.isChecked:hover > svg > :last-child,
.item.isChecked:focus-visible > svg > :last-child,
.item.isChecked:active > svg > :last-child,
.menu [data-state="open"] .item.isChecked > svg > :last-child {
    color: var(--accent-1);
}

.item.isPicked circle {
    color: var(--accent-border);
}

.item.isPicked:hover circle,
.item.isPicked:focus-visible circle,
.item.isPicked:active circle,
.menu [data-state="open"] .item.isPicked circle {
    color: var(--foreground-1);
}
