.container {
    width: 28px;
    height: auto;
    display: flex;
    contain: paint;
    position: relative;
    justify-content: center;
}

.container > span {
    width: 6px;
    height: 6px;
    opacity: 0.3;
    border-radius: 3px;
    background-color: hsl(0 0 97.65);
    animation: pulse 1.4s infinite ease-in-out;
}

.container > span:not(:last-child) {
    margin-right: 2px;
}

.container > span:nth-child(2) {
    animation-delay: 0.2s;
}

.container > span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.8);
        opacity: 0.3;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
