.messageContainer {
    position: relative;
    list-style: none;
    background-color: var(--background-4);
}

.messageContainer > div:last-child {
    min-height: 2.75rem;
    padding: 12px 48px 12px 72px;
    position: relative;
    word-wrap: break-word;
    user-select: text;
}

.messageContent {
    position: static;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}

.userAvatar {
    width: 40px;
    height: 40px;
    left: 16px;
    position: absolute;
    margin-top: calc(4px - 0.125rem);
    z-index: 1;
}

.messageContent h3 {
    display: block;
    position: relative;
    line-height: 1.375rem;
    min-height: 1.375rem;
}

.titleUsername {
    margin-right: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    display: inline;
    position: relative;
    overflow: hidden;
    color: var(--foreground-1);
    user-select: text;
}

.titleTimestamp {
    position: relative;
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: var(--foreground-4);
    margin-left: 0.25rem;
    display: inline-block;
    font-weight: 500;
    height: 1.375rem;
    user-select: text;
}

.messageContent > div:not(.editHint, .specialIcon, .userAvatar) {
    font-weight: 300;
    font-family: "gg sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    user-select: text;
    font-size: 1rem;
    line-height: 1.375rem;
    margin-left: -72px;
    padding-left: 72px;
    overflow: hidden;
    position: relative;
    text-indent: 0;
    cursor: default;
    color: var(--foreground-2);
}

.messageTimestamp {
    position: absolute;
    left: 0;
    height: 1.375rem;
    line-height: 1.375rem;
    width: 56px;
    user-select: none;
    text-align: right;
    z-index: 1;
    font-size: 0.6875rem;
    margin-right: 0.25rem;
    text-indent: 0;
    font-weight: 500;
    display: inline-block;
    color: var(--foreground-4);
}

.messageTimestamp > span {
    position: relative;
    line-height: 1.375rem;
    height: 100%;
}

.editHint {
    padding: 7px 0;
    font-size: 12px;
    font-weight: 400;
    color: var(--foreground-2);
    user-select: none;
}

.editHint > span {
    color: var(--accent-light);
}

.editHint > span:hover {
    text-decoration: underline;
}

.contentTimestamp {
    display: inline-block;
}

.contentTimestamp > span {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: var(--foreground-4);
    height: 1.25rem;
    font-weight: 500;
    user-select: none;
}

.messageReply {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: var(--foreground-3);
    line-height: 1.125rem;
    position: relative;
    white-space: pre;
    user-select: none;
    word-wrap: break-word;
}

.messageReply::before {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
    bottom: 0;
    left: -36px;
    margin-right: 6px;
    margin-top: -2px;
    margin-left: -1px;
    margin-bottom: calc(0.125rem - 2px);
    border-left: 2px solid hsla(228, 6%, 32.5%, 1);
    border-bottom: 0 solid hsla(228, 6%, 32.5%, 1);
    border-right: 0 solid hsla(228, 6%, 32.5%, 1);
    border-top: 2px solid hsla(228, 6%, 32.5%, 1);
    border-top-left-radius: 6px;
}

.userAvatarReply {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    user-select: none;
    margin-right: 0.25rem;
}

.messageReply .contentTimestamp {
    height: 18px;
}

.messageReply > span {
    flex-shrink: 0;
    margin-right: 0.25rem;
    opacity: 0.64;
    font-weight: 500;
    color: var(--foreground-1);
    position: relative;
    overflow: hidden;
}

.messageReply > div:not(.userAvatarReply) {
    text-overflow: ellipsis;
    flex: 0 1 auto;
    overflow: hidden;
    white-space: nowrap;
}

.specialIcon {
    position: absolute;
    right: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    padding-top: 0.25rem;
    margin-right: -72px;
}

.messageReply > div.noReplyBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground-2);
    background-color: var(--background-2);
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    user-select: none;
    margin-right: 0.25rem;
}

.messageReply > div.noReplyBadge > svg {
    width: 10px;
    height: 10px;
}

.italic {
    font-style: italic;
    /* Padding right so end of message isn't cropped */
    padding-right: 5px;
}

/* Pinned hover tools */

.hoverContainer {
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1000;
}

.messageContainer:hover .hoverContainer {
    visibility: visible;
}

.messageContainer:hover .messageReply {
    max-width: 250px;
}

.hoverContainer > div:first-child {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    font-weight: 500;
    line-height: 16px;
    font-size: 11px;
    height: 16px;
    border-radius: 3px;
    text-align: center;
    padding: 2px 8px;
    margin-right: 4px;
    margin-right: 6px;
    color: var(--foreground-3);
    background-color: var(--background-3);
    cursor: pointer;
}

.hoverContainer > div:first-child:hover {
    color: var(--foreground-2);
}

.hoverContainer > svg {
    width: 16px;
    height: 16px;
    color: var(--foreground-3);
    cursor: pointer;
}

.hoverContainer > svg:hover {
    color: var(--foreground-2);
}

/* ATTACHEMENTS */

.attachments {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.25rem;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    text-indent: 0;
    min-height: 0;
    min-width: 0;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    position: relative;
}

.attachments > div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-self: flex-start;
    width: 100%;
    max-width: 550px;
    border-radius: 8px;
}

.image {
    overflow: hidden;
    position: relative;
    max-height: inherit;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.image > div:not(.deleteImage, .spoilerButton) {
    height: 100%;
    width: 100%;
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
}

.image > div > div {
    flex-flow: row nowrap;
    flex: auto;
    width: 100%;
    height: 100%;
    display: flex;
}

.image > div > div > div {
    display: block;
    max-height: inherit;
    margin: auto;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    user-select: text;
    overflow: hidden;
    border-radius: 3px;
}

.image > div > div > div > div {
    height: 100%;
    width: 100%;
}

.image > div > div > div > div > img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    max-width: calc(100% + 1px);
}

.deleteImage {
    position: absolute;
    top: 4px;
    right: 4px;
    display: flex;
    padding: 6px;
    border-radius: 5px;
    overflow: hidden;
    color: var(--foreground-3);
    background-color: var(--background-4);
    z-index: 2;
}

.deleteImage:hover {
    color: var(--foreground-1);
    background-color: var(--error-1);
}

.image .spoilerButton {
    font-family: "gg sans";
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    font-size: 15px;
    user-select: none;
    color: var(--foreground-2);
    background-color: var(--background-dark-1);
    z-index: 1;
}

.image:hover .spoilerButton {
    background-color: var(--background-dark-2);
}

.imageAlt {
    position: absolute;
    left: 4.5px;
    bottom: 4px;
    padding: 7px 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--foreground-1);
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}

.imageAlt:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Image grids */

.gridOneBig {
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    width: fit-content;
    max-height: 350px;
}

.gridOneBig img {
    max-height: 350px;
}

.gridOne {
    display: flex;
    max-height: 280px;
    width: 100%;
}

.gridOne img {
    max-height: 280px;
}

.gridOneSolo {
    flex: 2;
}

.gridTwo {
    flex-direction: row;
    gap: 4px;
    display: flex;
    max-height: 350px;
}

.gridTwo img {
    max-height: 350px;
    aspect-ratio: 1;
}

.gridTwoColumn {
    flex: 1;
}

.gridTwoColumn > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 4px;
}

.gridTwoColumn > div > div {
    flex: 1;
    min-height: 0;
}

.gridFour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    max-height: 350px;
}

.gridFour img {
    max-height: 350px;
}

.gridThree {
    margin-top: 4px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.gridThree img {
    aspect-ratio: 1;
}

/* .gridThree .image {
    aspect-ratio: 1/1;
} */

.gridThreeBig {
    max-height: 350px;
    flex-direction: row;
    gap: 4px;
    display: flex;
}

.gridThreeBig img {
    max-height: 350px;
}

/* MENTIONS */

.inlineMention {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    word-wrap: break-word;
}

.inlineMention:hover {
    text-decoration: underline;
}

.mention {
    border-radius: 3px;
    padding: 0 2px;
    cursor: pointer;
    font-weight: 500;
    color: var(--foreground-2);
    background-color: var(--background-mention);
    transition: all 0.05s ease-out;
}

.mention:hover {
    text-decoration: underline;
    color: var(--foreground-1);
    background-color: var(--accent-1);
}

.imagesUpload {
    border-radius: 3px;
    max-width: 520px;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--background-2);
    display: flex;
    align-items: center;
    background-color: var(--background-3);
}

.imagesUpload > img {
    width: 30px;
    height: 40px;
    margin-right: 8px;
    flex-shrink: 0;
}

.imagesUpload > div:first-of-type {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.imagesUpload > div:first-of-type > div:first-child {
    display: flex;
    align-items: center;
}

.imagesUpload > div:first-of-type > div:first-child > div:first-child {
    color: var(--foreground-1);
    font-weight: 400;
    font-size: 16px;
}

.imagesUpload > div:first-of-type > div:first-child > div:last-child {
    color: var(--foreground-4);
    margin-left: 4px;
}

.imagesUpload > div:first-of-type > div:last-child {
    height: 16px;
    display: flex;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.imagesUpload > div:first-of-type > div:last-child > div {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 3px;
    height: 6px;
    background-color: var(--background-4);
}

.imagesUpload > div:first-of-type > div:last-child > div > div {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    transition: transform 0.2s ease-out;
    background-color: var(--accent-1);
    transform: translate3d(-100%, 0, 0);
}

.imagesUpload > div:last-of-type {
    display: flex;
    color: var(--foreground-2);
    cursor: pointer;
}

.imagesUpload > div:last-of-type:hover {
    color: var(--foreground-1);
}

.messageLink {
    color: var(--accent-light);
}
