.container {
    position: relative;
    list-style: none;
}

.container:hover,
.container:focus-within,
.container[data-state="open"],
.container[data-expanded="true"],
.container:has([data-state="open"]),
.container:has([data-expanded="true"]) {
    background-color: var(--background-hover-4);
}

.container.reply {
    background-color: var(--background-message-highlight);
}

.container.reply:hover,
.container.reply[data-state="open"],
.container.reply:has([data-state="open"]) {
    background-color: var(--background-message-highlight-hover);
}

.inline > div:last-child {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

.container.reply::before,
.container.mentioned::before {
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    background-color: var(--accent-1);
}

.container.large > div:not(.buttonContainer, .messageReply) {
    user-select: text;
    position: relative;
    min-height: 2.75rem;
    margin-top: 1.0625rem;
    word-wrap: break-word;
    padding: 0.125rem 48px 0.125rem 72px;
}

.container.mentioned {
    background-color: var(--background-mentioned);
}

.container.mentioned::before {
    background-color: var(--warning-foreground);
}

.container.mentioned:hover,
.container.mentioned[data-state="open"],
.container.mentioned:has([data-state="open"]) {
    background-color: var(--background-mentioned-hover);
}

.message {
    padding: 0.125rem 48px 0.125rem 72px;
    position: relative;
    word-wrap: break-word;
    user-select: text;
    min-height: 1.375rem;
}

.content {
    position: static;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}

.content strong {
    font-weight: 600;
    color: var(--foreground-1);
}

.content em {
    font-style: italic;
}

.content del {
    text-decoration: line-through;
}

.content u {
    text-decoration: underline;
}

.content pre {
    padding: 0;
    max-width: 90%;
    margin-top: 6px;
    line-height: 1rem;
    font-size: 0.75rem;
    margin-bottom: 6px;
    border-radius: 4px;
    position: relative;
    white-space: pre-wrap;
    box-sizing: border-box;
    background-clip: border-box;
    font-family: var(--font-code);
}

.content pre > button {
    top: 4px;
    right: 4px;
    padding: 6px;
    display: none;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: var(--foreground-4);
    background-color: transparent;
}

.content pre > button:hover,
.content pre > button:focus-visible {
    color: var(--foreground-1);
}

.content pre > button:active {
    transform: translateY(1px);
}

.content pre:hover > button {
    display: flex;
}

.content code {
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    background-color: var(--background-3);
    border: 1px solid var(--background-1);
    display: block;
    overflow-x: auto;
    padding: 0.5rem;
    border-radius: 4px;
    text-size-adjust: none;
    color: var(--foreground-2);
    font-family: var(--font-code);
}

/* Inline code */

.content code {
    padding: 1px 2px;
    width: fit-content;
}

.content .spoiler {
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--background-1);
}

.content .spoiler:hover {
    background-color: var(--background-2);
}

.content .spoiler > span {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.content .spoiler.display {
    background-color: var(--background-6);
    cursor: text;
}

.content .spoiler.display > span {
    opacity: 1;
}

.content blockquote {
    display: flex;
    max-width: 90%;
    text-indent: 0;
    position: relative;
    padding: 0 8px 0 12px;
    box-sizing: border-box;
}

.content blockquote::before {
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px;
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    background-color: var(--background-6);
}

.mainContent h1,
.mainContent h2,
.mainContent h3,
.mainContent h4,
.mainContent h5,
.mainContent h6 {
    cursor: text;
    font-weight: 600;
    user-select: text;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.375rem;
    color: var(--foreground-1);
}

.mainContent h1:first-child,
.mainContent h2:first-child,
.mainContent h3:first-child,
.mainContent h4:first-child,
.mainContent h5:first-child,
.mainContent h6:first-child {
    margin-top: 0.5rem;
}

.mainContent h1 {
    font-size: 1.5rem;
}

.mainContent h2 {
    font-size: 1.25rem;
}

.mainContent h3 {
    font-size: 1.125rem;
}

.mainContent h4 {
    font-size: 1rem;
}

.mainContent h5 {
    font-size: 0.875rem;
}

.mainContent h6 {
    font-size: 0.75rem;
}

.mainContent > div {
    display: inline-block;
}

.content li {
    margin-left: 1rem;
}

.content li::marker {
    color: var(--foreground-1);
}

.userAvatar {
    left: 16px;
    z-index: 1;
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: calc(4px - 0.125rem);
}

.userAvatar:active {
    transform: translateY(0.5px);
}

.userAvatar:hover {
    filter: drop-shadow(0 4px 4px hsla(0, 0%, 0%, 0.16));
    cursor: pointer;
}

.content h3 {
    display: block;
    position: relative;
    line-height: 1.375rem;
    min-height: 1.375rem;
}

.titleUsername {
    margin-right: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    display: inline;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: var(--foreground-1);
    user-select: text;
}

.titleUsername:hover {
    text-decoration: underline;
}

.titleTimestamp {
    position: relative;
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: var(--foreground-4);
    margin-left: 0.25rem;
    display: inline-block;
    cursor: default;
    font-weight: 500;
    height: 1.25rem;
    user-select: text;
}

.content > .mainContent {
    font-weight: 300;
    font-family: "gg sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    user-select: text;
    font-size: 1rem;
    line-height: 1.375rem;
    margin-left: -72px;
    padding-left: 72px;
    position: relative;
    text-indent: 0;
    color: var(--foreground-2);
}

.inline .content > div:not(.editHint, .userAvatar, .contentTimestamp) {
    color: var(--foreground-4);
}

.bold {
    font-weight: 600;
    color: var(--foreground-1);
}

.messageTimestamp {
    visibility: hidden;
    position: absolute;
    left: 0;
    height: 1.375rem;
    line-height: 1.375rem;
    width: 56px;
    user-select: none;
    text-align: right;
    z-index: 1;
    font-size: 0.6875rem;
    margin-right: 0.25rem;
    text-indent: 0;
    font-weight: 500;
    cursor: default;
    display: inline-block;
    color: var(--foreground-4);
}

.container:hover .messageTimestamp {
    visibility: visible;
}

.messageTimestamp > span {
    position: relative;
    line-height: 1.375rem;
    height: 100%;
}

.editHint {
    padding: 7px 0;
    font-size: 12px;
    font-weight: 400;
    color: var(--foreground-2);
    user-select: none;
}

.editHint > span {
    color: var(--accent-light);
    cursor: pointer;
}

.editHint > span:hover {
    text-decoration: underline;
}

.messageReply .contentTimestamp {
    height: 18px;
}

.contentTimestamp {
    display: inline-block;
}

.contentTimestamp > span {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: var(--foreground-4);
    height: 1.25rem;
    cursor: default;
    font-weight: 500;
    user-select: none;
}

.messageReply {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: var(--foreground-3);
    line-height: 1.125rem;
    position: relative;
    white-space: pre;
    user-select: none;
    word-wrap: break-word;
}

.messageReply::before {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
    bottom: 0;
    left: -36px;
    margin-right: 6px;
    margin-top: -2px;
    margin-left: -1px;
    margin-bottom: calc(0.125rem - 2px);
    border-left: 2px solid hsla(228, 6%, 32.5%, 1);
    border-bottom: 0 solid hsla(228, 6%, 32.5%, 1);
    border-right: 0 solid hsla(228, 6%, 32.5%, 1);
    border-top: 2px solid hsla(228, 6%, 32.5%, 1);
    border-top-left-radius: 6px;
}

.userAvatarReply {
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    user-select: none;
    margin-right: 0.25rem;
}

.messageReply > span {
    flex-shrink: 0;
    margin-right: 0.25rem;
    opacity: 0.64;
    font-weight: 500;
    color: var(--foreground-1);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.messageReply > span:hover {
    text-decoration: underline;
}

.contentRef {
    gap: 4px;
    display: flex;
    flex: 0 1 auto;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.contentRef:hover {
    color: var(--foreground-1);
}

.messageReply > svg {
    margin-left: 4px;
    flex: 0 0 auto;
    pointer-events: none;
}

.specialIcon {
    right: 100%;
    display: flex;
    width: 4.5rem;
    position: absolute;
    margin-top: 0.25em;
    align-items: center;
    margin-right: -72px;
    justify-content: center;
}

.messageReply > div.noReplyBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground-2);
    background-color: var(--background-2);
    flex: 0 0 auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    user-select: none;
    margin-right: 0.25rem;
}

.messageReply > div.noReplyBadge > svg {
    width: 10px;
    height: 10px;
}

.italic {
    font-style: italic;
    /* Padding right so end of message isn't cropped */
    padding-right: 5px;
}

.messageLink {
    text-decoration: none;
    color: var(--accent-light);
}

.messageLink:hover {
    text-decoration: underline;
}

/* Message menu */

.container:hover .buttonContainer,
.container:focus-within .buttonContainer,
.container[data-state="open"] .buttonContainer,
.container[data-expanded="true"] .buttonContainer,
.container:has([data-state="open"]) .buttonContainer,
.container:has([data-expanded="true"]) .buttonContainer {
    opacity: 1;
}

.buttonContainer {
    top: 0;
    right: 0;
    opacity: 0;
    position: absolute;
}

.buttonWrapper {
    pointer-events: auto;
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 0 14px 0 32px;
}

.buttons {
    background-color: var(--background-4);
    display: grid;
    grid-auto-flow: column;
    height: 32px;
    border-radius: 4px;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    position: relative;
    box-shadow: var(--elevation-low);
    transition: box-shadow 0.2s ease-in-out;
}

.buttons:hover {
    box-shadow: var(--elevation-low), var(--elevation-medium);
}

.buttons > button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 4px;
    width: 32px;
    cursor: pointer;
    position: relative;
    color: var(--foreground-3);
    background-color: transparent;
}

.buttons > button.red {
    color: var(--error-1) !important;
}

.buttons > button > svg {
    user-select: none;
    transition: transform 0s ease-out;
}

.buttons > button:active > svg {
    transform: translateY(1px);
}

.buttons > button:first-child {
    border-radius: 4px 0 0 4px;
}

.buttons > button:last-child {
    border-radius: 0 4px 4px 0;
}

.buttons > button:hover {
    background-color: var(--background-hover-1);
    color: var(--foreground-2);
}

.buttons > button:active {
    background-color: var(--background-hover-2);
}

.buttons > button > svg {
    width: 20px;
    height: 20px;
    display: block;
    object-fit: contain;
    pointer-events: none;
}

/* ATTACHEMENTS */

.attachments > .embeds {
    gap: 0.25rem;
    display: grid;
    border-radius: 4px;
}

/* MENTIONS */

.inlineMention {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    word-wrap: break-word;
}

.inlineMention:hover {
    text-decoration: underline;
}

.mention {
    display: inline-block;
    border-radius: 3px;
    padding: 0 2px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: var(--foreground-2);
    background-color: var(--background-mention);
    transition: all 0.05s ease-out;
}

.mention.editor {
    cursor: default;
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.tooltip > :first-child {
    margin-right: 8px;
}

.mention:hover:not(.editor) {
    text-decoration: underline;
    color: var(--foreground-1);
    background-color: var(--accent-1);
}

.imagesUpload {
    width: 100%;
    padding: 16px;
    margin-top: 2px;
    max-width: 520px;
    border-radius: 8px;
    align-items: center;
    display: flex !important;
    border: 1px solid var(--background-1);
    background-color: var(--background-3);
}

.imagesUpload > img {
    width: 30px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 8px;
}

.imagesUpload > div {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.imagesUpload > div > :first-child {
    display: flex;
    align-items: center;
}

.imagesUpload > div > :first-child > :first-child {
    font-size: 16px;
    font-weight: 500;
    color: var(--foreground-2);
}

.imagesUpload > div > :first-child > :last-child {
    font-weight: 500;
    color: var(--foreground-4);
}

.imagesUpload > div > :last-child {
    height: 16px;
    display: flex;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.imagesUpload > div > :last-child > div {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 3px;
    height: 6px;
    background-color: var(--background-4);
}

.imagesUpload > div > :last-child > div > div {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    transition: transform 0.2s ease-out;
    background-color: var(--accent-1);
    transform: translate3d(-100%, 0, 0);
}

.imagesUpload > button {
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    margin-left: 4px;
    margin-right: -4px;
    align-items: center;
    justify-content: center;
    color: var(--foreground-3);
    transition: color 0.15s ease;
    background-color: transparent;
}

.imagesUpload > button:hover,
.imagesUpload > button:focus-visible {
    color: var(--foreground-1);
}

.messageAccessories {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    position: relative;
    gap: 0.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.translation {
    cursor: pointer;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 700;
    padding: 4px 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--foreground-2);
    background-color: var(--background-4);
    border: 1px solid var(--border-light);
    transition: background-color 0.15s ease;
}

.translation:hover,
.translation:focus-visible {
    background-color: var(--background-5);
}

.translationText {
    user-select: text;
    line-height: 1.375;
    color: var(--foreground-2);
}

.embed {
    max-width: 432px;
    display: grid;
    position: relative;
    border-radius: 4px;
    align-self: start;
    justify-self: auto;
    background-color: var(--background-3);
    border-left: 4px solid var(--background-1);
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: break-spaces;
    word-wrap: break-word;
    user-select: text;
    color: var(--foreground-2);
}

.embed > div {
    max-width: 516px;
}

.embed > div > div {
    width: 100%;
    padding: 0.5rem 1rem 1rem 0.75rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.embedRemove {
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -20px;
    cursor: pointer;
    padding: 2px;
    color: var(--foreground-3);
}

.embedRemove:hover {
    color: var(--foreground-1);
}

.embedRemove > svg {
    width: 16px;
    height: 16px;
}

.embed:hover .embedRemove {
    opacity: 1;
}

.embed .url {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    grid-column: 1 / 1;
    margin-top: 8px;
}

.embed .title {
    color: var(--accent-light);
    font-weight: 600;
    display: inline-block;
    word-break: break-word;
    cursor: pointer;
    font-size: 1rem;
    grid-column: 1 / 1;
    margin-top: 8px;
    text-decoration: none;
}

.embed .title:hover {
    text-decoration: underline;
}

.embed .desc {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    white-space: pre-line;
    grid-column: 1 / 1;
    margin-top: 8px;
}

.embed .img {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-flow: column nowrap;
    grid-column: 1 / 1;
    border-radius: 4px;
    contain: paint;
    object-fit: fill;
}

.embed .img > div {
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    width: 100%;
}

.embed .img > div > div {
    max-width: 400px;
    width: 100%;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    user-select: text;
}

.embed .img > div > div > img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.reactions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.125rem;
    margin-bottom: -0.5rem;
    padding-bottom: 0.375rem;
}

.reaction {
    display: flex;
    cursor: pointer;
    user-select: none;
    position: relative;
    align-items: center;
    border-radius: 0.5rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.125rem 0.375rem;
    color: var(--foreground-3);
    border: 1px solid transparent;
    background-color: var(--background-3);
    transition: border-color 0.1s ease, background-color 0.1s ease, color 0.1s ease;
}

.reaction.me {
    border-color: var(--accent-1);
    background-color: var(--accent-1-15);
}

.reaction:not(.me):hover,
.reaction:not(.me):focus-visible {
    color: var(--foreground-1);
    border-color: var(--background-6);
}

.reaction:not(.me):active {
    border-color: transparent;
    background-color: var(--background-2);
}

.reaction > img,
.reaction > svg {
    width: 20px;
    height: 20px;
    margin: 0.125rem 0;
}

.reaction > span {
    min-width: 9px;
    font-weight: 600;
    text-align: center;
    margin-left: 0.375rem;
}
