.avatar {
    display: flex;
    position: relative;
    width: fit-content;
    aspect-ratio: 1;
    cursor: pointer;
}

.avatar img {
    aspect-ratio: 1;
    border-radius: 50%;
}

.statusContainer {
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--background-secondary);
}
