.avatar {
    display: flex;
    position: relative;
    width: fit-content;
    aspect-ratio: 1;
    cursor: pointer;
}

.avatar img {
    aspect-ratio: 1;
    border-radius: 50%;
}

.status {
    box-sizing: content-box;
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--background-primary);
    border: 3px solid var(--background-secondary);
}
