.container {
    position: fixed;
    z-index: 100000;
    pointer-events: none;
    user-select: none;
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 4px;
    padding: 6px 12px;
    word-wrap: break-word;
    white-space: nowrap;
    color: var(--foreground-2);
    background-color: var(--background-dark);
    box-shadow: var(--elevation-high);
}

.arrow {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
}
