.container {
    position: fixed;
    z-index: 100000;
    pointer-events: none;
    user-select: none;
    opacity: 1 !important;
}

.tooltip,
.tooltipBig {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-transform: none;
    border-radius: 5px;
    padding: 8px 12px;
    color: var(--foreground-2);
    background-color: var(--background-dark);
    box-shadow: var(--elevation-high);
}

.tooltipBig {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.arrow {
    position: absolute;
    overflow: hidden;
    border: 5px solid transparent;
    width: 0;
    height: 0;
}
