.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 0.70rem;
    font-weight: 500;
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.05rem;
    cursor: initial;
    word-wrap: break-word;
    white-space: nowrap;
    z-index: 1000000;
    user-select: none;
}

.cursorConsistency {
    position: absolute;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
}
