.popup {
    padding: 16px;
    width: 100%;
    margin-top: 8px;
    position: absolute;
    top: 100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.1);
    overflow: hidden;
    visibility: hidden;
}

.popup.show {
    visibility: visible;
}

.popup > div:hover,
.popup > div:focus-within {
    border-radius: 4px;
    background-color: hsla(217, 8%, 34%, 0.16);
}

.popup > div > a {
    color: hsl(206, 9%, 15%);
    text-decoration: none;
}

.popup > div > a:hover,
.popup > div > a:focus-within {
    color: hsl(235, 86%, 65%);
    text-decoration: underline;
}

.popup > div > a > div {
    padding: 4px 8px;
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.625;
}
