.container,
.containerMid,
.containerBig {
    position: absolute;
    bottom: -3px;
    right: -3px;
    overflow: hidden;
}

.containerBig {
    bottom: -6px;
    right: -6px;
}

.containerMid {
    bottom: -2px;
    right: -2px;
}

.containerBig .firstLayer {
    width: 40px;
    height: 40px;
}

.containerMid .firstLayer {
    width: 26px;
    height: 26px;
}

.firstLayer {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerBig .firstLayer > div {
    width: 24px;
    height: 24px;
}

.containerMid .firstLayer > div {
    width: 16px;
    height: 16px;
}

.firstLayer > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offline {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.containerBig .offline {
    width: 12px;
    height: 12px;
}

.containerMid .offline {
    width: 8px;
    height: 8px;
}

.busy {
    width: 7px;
    height: 2px;
    border-radius: 100vw;
}

.containerBig .busy {
    width: 18px;
    height: 4px;
}

.containerMid .busy {
    width: 10px;
    height: 2px;
}

.away {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(25%, 25%);
    width: 8px;
    height: 8px;
    border-radius: 100vw;
}

.containerBig .away {
    width: 18px;
    height: 18px;
}

.containerMid .away {
    width: 12px;
    height: 12px;
}
