.container {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

.wrapper {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    display: none;
    cursor: pointer;
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.3);
}

@media screen and (max-width: 562px) {
    .wrapper {
        display: block;
    }
}
