.container {
    min-width: 0;
    min-height: 0;
    display: flex;
    flex: 1 1 auto;
    position: relative;
    flex-direction: column;
}

.container > div {
    z-index: 0;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex: 1 1 auto;
    position: relative;
}

.scroller {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 0;
    flex: 1 1 auto;
    position: absolute;
    overflow: hidden scroll;
    overflow-anchor: none;
}

.scroller::-webkit-scrollbar-track {
    margin-bottom: 8px;
}

@-moz-document url-prefix() {
    .scroller {
        padding-right: 12px;
    }
}

.scroller > div {
    display: flex;
    min-height: 100%;
    position: relative;
    align-items: stretch;
    overflow-anchor: none;
    flex-direction: column;
    justify-content: flex-end;
}

.scroller > div > ol {
    min-height: 0;
    overflow: hidden;
    list-style: none;
}

.spacer {
    width: 1px;
    height: 30px;
    display: block;
    pointer-events: none;
}

.divider {
    height: 0;
    z-index: 1;
    left: auto;
    right: auto;
    display: flex;
    user-select: none;
    margin-left: 1rem;
    margin-top: 1.5rem;
    position: relative;
    align-items: center;
    pointer-events: none;
    margin-bottom: 0.5rem;
    margin-right: 0.875rem;
    justify-content: center;
    border-top: thin solid var(--border-1);
}

.divider span {
    display: block;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 4px;
    margin-top: -1px;
    line-height: 13px;
    color: var(--fg-3);
    border-radius: 8px;
    background-color: var(--bg-3);
}

.firstTimeMessageContainer {
    margin: 16px;
    display: flex;
    user-select: none;
    pointer-events: none;
    flex-direction: column;
    justify-content: flex-end;
}

.imageWrapper {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    background-color: var(--bg-5);
}

.imageWrapper img {
    border-radius: 50%;
}

.channelIcon {
    width: 68px;
    height: 68px;
    display: flex;
    margin-top: 16px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--fg-1);
    background-color: var(--bg-hover-2);
}

.friendUsername {
    margin: 8px 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: var(--fg-1);
}

.descriptionContainer {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--fg-3);
}

.descriptionContainer strong {
    font-weight: 600;
}

.descriptionActions {
    display: flex;
    margin-top: 16px;
    align-items: center;
}

.descriptionActions button {
    width: auto;
    height: 24px;
    min-width: 52px;
    margin-right: 8px;
    pointer-events: all;
}

.systemChannel {
    margin: 16px;
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
}

.systemChannel > div {
    display: flex;
    align-items: center;
    padding: 16px 16px 0;
    flex-direction: column;
}

.systemChannel > div > div {
    display: flex;
    max-width: 400px;
    align-items: center;
    flex-direction: column;
}

.welcomeMessage > h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: var(--fg-1);
}

.welcomeMessage > div {
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    user-select: none;
    text-align: center;
    margin-bottom: 12px;
    color: var(--fg-3);
}

.welcomeMessage > div > a {
    cursor: pointer;
    text-decoration: none;
    color: var(--accent-fg);
}

.welcomeMessage > div > a:hover {
    text-decoration: underline;
}

.welcomeCard {
    display: flex;
    padding: 16px;
    margin-top: 8px;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    align-items: center;
    align-self: stretch;
    background-color: var(--bg-1);
}

.welcomeCard:hover {
    background-color: var(--bg-5);
}

.welcomeCard > div:first-child {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.welcomeCard > div:last-of-type {
    flex-grow: 1;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-left: 16px;
    margin-right: 16px;
    color: var(--fg-2);
}

.welcomeCard > svg {
    min-width: 24px;
    justify-self: flex-end;
    color: var(--fg-3);
}

.welcomeCard > .completedMark {
    padding: 4px;
    border-radius: 50%;
    box-sizing: content-box;
    color: var(--fg-1);
    background-color: var(--success-0);
}
