.divider {
    margin-top: 40px;
    width: 100%;
    height: 1px;
    border-top: thin solid var(--border-light);
}

.section {
    margin-top: 40px;
}

.sectionTitle {
    display: flex;
}

.titleBig {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    flex: 1;
    cursor: default;
    color: var(--foreground-1);
}

.titleSmall {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    cursor: default;
    color: var(--foreground-4);
}

.userCard {
    background-color: var(--background-2);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.userCardHeader {
    min-width: 660px;
    min-height: 100px;
}

.userCardInfo {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0 120px;
}

.userCard > div:last-child {
    border-radius: 8px;
    padding: 16px;
    margin: 8px 16px 16px;
    background-color: var(--background-3);
}

.userAvatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid var(--background-2);
    position: absolute;
    top: 77px;
    left: 17px;
}

.userAvatar > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    user-select: none;
}

.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--foreground-1);
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    height: fit-content;
}

.field {
    display: flex;
    justify-content: space-between;
}

.field:not(:first-child) {
    margin-top: 24px;
}

.field > div {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

.field > div > h3 {
    margin-bottom: 4px;
    color: var(--foreground-3);
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    user-select: none;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.field > div > div {
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 20px;
    color: var(--foreground-1);
    user-select: none;
}

.field > button {
    width: 60px;
    margin: auto 0;
}

.accountRemoval {
    display: flex;
    flex-direction: column;
}

.accountRemoval > div {
    margin-bottom: 16px;
    color: var(--foreground-3);
    font-size: 14px;
    line-height: 20px;
    user-select: none;
}

.accountRemoval > button {
    width: fit-content;
}

.buttonsContainer {
    display: flex;
}
