.container {
    position: fixed;
    z-index: 100;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    display: flex;
    justify-content: flex-end;
    flex: 1 0 220px;
}

.sidebarWrapper {
    overflow: hidden scroll;
    padding-right: 0px;
    flex: 1 0 auto;
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    position: relative;
    min-height: 0;
    background-color: var(--background-3);
}

.sidebarWrapper nav {
    width: 220px;
    padding: 60px 6px 60px 20px;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 0 10px 6px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--foreground-5);
    user-select: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.separator {
    margin: 8px 10px;
    height: 1px;
    background-color: var(--background-hover-1);
}

.tab,
.tabActive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    margin-bottom: 2px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--foreground-3);
    user-select: none;
}

.tab path,
.tabActive path {
    fill: var(--foreground-3);
}

.tab:hover,
.tabActive {
    background-color: var(--background-5);
    color: var(--foreground-2);
}

.tab:hover path,
.tabActive path {
    fill: var(--foreground-2);
}

.tab:hover:active,
.tabActive:active {
    background-color: var(--background-hover-2);
    color: var(--foreground-1);
}

.tab:hover:active path,
.tabActive:active path {
    fill: var(--foreground-1);
}

.tabActive:hover {
    cursor: default;
}

.sidebarWrapper::-webkit-scrollbar {
    width: 4px;
}

.sidebarWrapper::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
}

.contentContainer {
    position: relative;
    display: flex;
    flex: 1 1 800px;
    align-items: flex-start;
}

.contentWrapper {
    overflow: hidden scroll;
    padding-right: 0px;
    justify-content: flex-start;
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    align-items: flex-start;
    background-color: var(--background-4);
}

.contentWrapper::-webkit-scrollbar {
    width: 16px;
}

.content {
    position: relative;
    padding: 60px 40px 80px;
    flex: 1 1 auto;
    max-width: 740px;
    min-width: 460px;
    min-height: 100%;
}

.closeButton {
    margin-right: 21px;
    position: relative;
    flex: 0 0 36px;
    width: 60px;
    padding-top: 60px;
}

.closeButton > div {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButton > div > div:first-child {
    color: var(--foreground-3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 36px;
    border: 2px solid var(--foreground-3);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.closeButton > div > div:first-child:hover {
    background-color: var(--background-hover-1);
    border-color: var(--foreground-2);
}

.closeButton > div > div:first-child:hover path {
    fill: var(--foreground-2);
}

.closeButton > div > div:first-child:hover + div {
    color: var(--foreground-2);
}

.closeButton > div > div:first-child:active {
    background-color: var(--background-hover-1);
    border-color: var(--foreground-1);
    transform: translateY(1px);
}

.closeButton > div > div:first-child:active path {
    fill: var(--foreground-1);
}

.closeButton > div > div:first-child:active + div {
    color: var(--foreground-1);
}

.closeButton > div > div:last-child {
    margin-top: 8px;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    color: var(--foreground-3);
    cursor: default;
    user-select: none;
}
