.container {
    display: flex;
    flex-direction: column;
}

.checkbox {
    gap: 8px;
    display: flex;
    cursor: pointer;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.285;
    align-items: center;
    text-transform: none;
    letter-spacing: normal;
}

.checkbox.noBox {
    justify-content: space-between;
}

.checkbox.noBox > :first-child {
    order: 2;
}

.checkbox.noBox > :last-child {
    font-size: 16px;
    line-height: 24px;
    user-select: none;
    color: var(--foreground-1);
}

.inputWrapper {
    width: 100%;
    border: none;
    display: flex;
    font-size: 1rem;
    border-radius: 3px;
    position: relative;
    align-items: center;
    background-color: var(--background-1);
}

.inputWrapper > input {
    width: 100%;
    border: none;
    height: 40px;
    outline: none;
    padding: 10px;
    font-weight: 500;
    border-radius: 3px;
    color: var(--foreground-2);
    background-color: transparent;
}

.inputWrapper > input.leftItem {
    padding-left: 40px;
}

.inputWrapper > input.leftItemSmall {
    padding-left: 28px;
}

.inputWrapper > input.rightItem {
    padding-right: 40px;
}

.inputWrapper > div {
    width: 40px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputWrapper > div.small {
    width: 28px;
}

.inputWrapper > div:last-child {
    right: 0px;
}

.label {
    height: 16px;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    line-height: 16px;
    user-select: none;
    margin-bottom: 8px;
    display: inline-block;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    color: var(--foreground-3);
}

.label.load {
    width: 40%;
    border-radius: 3px;
    animation: loading 1.5s infinite ease-in-out;
    background-color: var(--background-3);
}

.label.error {
    color: var(--error-light);
}

.label > span:not(.error) {
    color: var(--error-light);
    padding-left: 2px;
}

.label > span.error {
    color: var(--error-light);
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    text-transform: none;
}

.description {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.285;
    color: var(--foreground-3);
}

@keyframes loading {
    0% {
        background-color: var(--background-3);
    }
    50% {
        background-color: var(--background-2);
    }
    100% {
        background-color: var(--background-3);
    }
}
